---
layout: layout-subpage
scripts:
  - /static/js/toc.js
stylesheets:
  - /static/css/wissensbasis.css
backgroundColor: bg-lightBlue-50
navigation:
  activeItem: support
---

<div class="flex flex-col lg:flex-row">
	<div class="lg:sticky lg:top-24 lg:self-start lg:w-1/3 mr-2 pt-4 lg:pt-8">
		<ul class="mb-8 breadcrumb">
			<li class="breadcrumb-item">
				<a href="/wissensbasis/" class="font-header text-2xl font-bold transition-colors text-gray-900 hover:text-black">
					Wissensbasis
				</a>
			</li>
			<li class="breadcrumb-item">
				<span class="font-header text-2xl font-bold transition-colors text-gray-900 hover:text-black">
					{{breadcrumb.title}}
				</span>
			</li>
		</ul>
		<div class="hidden lg:block flex-1 overflow-y-auto w-full pb-16" style="max-height: calc(100vh - 10rem);">
			{{#toc this}}{{/toc}}
		</div>
	</div>
	<div class="wissensbasis-content flex-1 bg-white rounded-2xl p-4 lg:p-8">
		{{{content}}}
	</div>
</div>
