<!DOCTYPE html>
<html lang="de">

<head>
	{{> meta}}

	<title>
		Urlaubsverwaltung{{#if title}} - {{title}}{{/if}}
	</title>

	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="preload" href="/static/js/page-prerenderer.js" as="script" />

	<script>
		if (window && window.history && window.history.scrollRestoration) {
			window.history.scrollRestoration = "manual";
		}
	</script>
</head>

<body class="flex flex-col min-h-full">
  <header class="fixed top-0 left-0 right-0 z-50">
    {{> partials/navigation}}
  </header>

	<div class="hidden xs:block bg-structured fixed top-0 left-0 right-0 bottom-0"></div>

  <main class="z-40 mt-12 relative flex-1 max-w-screen-lg mx-auto bg-white">
		<div class="p-8 pt-16 xs:mx-8 md:mx-12 xl:mx-0 break-word xs:break-normal relative">
    	{{{ content }}}
		</div>
  </main>

	<div class="fixed bottom-0 bg-blue-900 left-0 right-0 transform skew-y-3 translate-y-20" style="height: 27vh;"></div>
  {{> partials/footer}}

	<script defer src="/static/js/easteregg.js" type="module"></script>
	<script defer src="/static/js/page-prerenderer.js" type="module"></script>
</body>

</html>