<!DOCTYPE html>
<html lang="de">

<head>
  {{> meta}}
	<title>
		Urlaubsverwaltung{{#if title}} - {{title}}{{/if}}
	</title>
	<link rel="preload" href="/static/font/raleway/Raleway-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="/static/font/raleway/Raleway-Bold.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="/static/font/lato/Lato-Regular.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="/static/font/lato/Lato-Bold.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="stylesheet" href="/static/css/style.css" />
	{{> partials/font-raleway }}
	{{> partials/font-lato }}
</head>

<body class="flex flex-col min-h-full">
	<div class="flex-1">
		{{{ content }}}
	</div>
	{{> partials/footer }}
</body>

</html>
