---
layout: layout
title: Logistik und Handel
description: Logistik und Handel - Digitalisierung mit Urlaubsverwaltung.cloud
stylesheets:
- /static/css/zeiterfassung.css
---

{{> partials/navigation noMargin=true }}

<div class="flex min-h-fit relative overflow-hidden">

	<div class="mt-8 mx-auto w-full max-w-screen-xl md:mt-0">
		<div class="md:bg-black md:bg-opacity-25 lg:py-0 lg:bg-opacity-0">
			<h1
				class="px-4 md:pt-8 text-2xl sm:text-3xl font-bold leading-tight md:text-white md:text-opacity-90 md:drop-shadow md:text-5xl md:w-4/6 lg:w-7/12 lg:px-10 lg:bg-black lg:bg-opacity-25 lg:pt-12 lg:max-w-[50%] xl:max-w-[44%]"
			>
				Digitale Urlaubsverwaltung für dein
				<span style="">Logistik</span> Unternehmen
			</h1>
			<div class="sm:relative sm:mt-8 sm:overflow-hidden md:h-auto md:static md:mt-0">
				<picture class="xl:-mt-52 sm:mt-0 w-full sm:absolute sm:inset-0 flex" style="z-index: -1">
					<source srcset="/static/logistik.avif" type="image/avif">
					<source srcset="/static/logistik.webp" type="image/webp">
					<img
						src="/static/logistik.jpg"
						alt="Logistik Banner"
						class="w-full"
					/>
				</picture>
				<div class="mt-8 w-full h-full sm:flex sm:items-center md:static sm:bg-black sm:bg-opacity-25 sm:w-3/5 sm:mt-0 sm:py-12 md:mt-0 md:py-8 md:bg-opacity-0 lg:bg-opacity-25 md:h-auto lg:max-w-[50%] xl:max-w-[44%]">
					<ul class="ml-10 list-disc space-y-2 pr-8 drop-shadow text-lg font-bold sm:text-3xl lg:ml-16">
						<li class="sm:text-white md:text-opacity-90">
							Urlaub einfach planen
						</li>
						<li class="sm:text-white md:text-opacity-90">
							Krankmeldung schnell eintragen
						</li>
						<li class="sm:text-white md:text-opacity-90">
							Überstunden immer im Blick
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mb-10 mt-20">
	<div class="w-full max-w-screen-xl mx-auto">
		<h2 class="text-center font-medium text-lg">Logistik Unternehmen die ihre HR-Prozesse mit urlaubsverwaltung.cloud optimieren</h2>
		<div class="lg:mt-4">
			<ul class="grayscale flex justify-center flex-wrap gap-x-4 lg:gap-x-7 xl:flex-nowrap">
				<li class="my-auto">
					<picture>
						<img
							src="/static/references/riel.jpg"
							alt="Riel Fruchthandel"
							class="w-full max-w-[200px]"
						/>
					</picture>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="flex-3 mt-16">
	<div class="mb-12 md:mb-24">
		<div class="w-full max-w-screen-xl mx-auto">
			<div class="px-4 xl:px-2  md:text-center">
				<div class="grid grid-cols-1  md:grid-cols-2 gap-8  justify-items-center lg:grid-cols-3">
					<div class="flex flex-col w-full max-w-sm p-8 bg-sky-50 text-center border rounded">
						<h3 class="mb-4">Übersichtlich beantragen und freigeben</h3>
						<ul class="text-left mx-auto block list-disc">
							<li>Urlaub</li>
							<li>Krankmeldung</li>
							<li>Überstunden</li>
						</ul>
					</div>
					<div class="flex flex-col w-full max-w-sm p-8 bg-sky-50 text-center border rounded">
						<h3 class="mb-4">Schnelle Bereitstellung</h3>
						<ul class="text-left mx-auto block list-decimal">
							<li><a href="https://registry.apps.urlaubsverwaltung.cloud/registration">Registrieren</a></li>
							<li>Mitarbeitende einladen</li>
							<li>Durchstarten</li>
						</ul>
					</div>
					<div class="flex flex-col w-full max-w-sm p-8 bg-sky-50 text-center border rounded">
						<h3 class="mb-4">Deine Vorteile</h3>
						<ul class="text-left mx-auto block list-disc">
							<li>Schnelle Einführung</li>
							<li>Hoher Zeitgewinn</li>
							<li>Leichte &amp; effiziente Prozesse</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<main class="flex-1">
	<div class="mb-12 md:mb-40">
		<div class="w-full max-w-screen-xl mx-auto relative pt-16">

			{{> partials/price }}

			<div
				class="absolute top-0 w-full h-20 border-t-sky-100 border-t bg-gradient-to-b from-sky-50 to-transparent"
				style="border-top-left-radius: 77vw 7vw; border-top-right-radius: 77vw 7vw;"
			></div>
		</div>
	</div>

</main>
