{
	"extends": ["eslint:recommended", "plugin:prettier/recommended"],
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module"
	},
	"overrides": [
		{
			"files": ["src/**", "static/**"],
			"env": {
				"browser": true
			}
		},
		{
			"files": ["!src/**", "!static/**"],
			"env": {
				"node": true
			}
		}
	]
}
