---
layout: layout
title: Mentale Gesungheit - ein akutes Problem
description: Starte heute mit der Digitalisierung deines Unternehmens. Urlaubsverwaltung. Zeiterfassung. Krankmeldungen. 30 Tage kostenlos testen.
---

{{> partials/navigation }}


<main class="flex-1 mb-8 md:mb-32 w-full max-w-screen-xl mx-auto">
	<div class="px-4 xl:px-2">


			<div class="mt-12 flex flex-col md:flex-row gap-8">
				<div class="flex-1 flex flex-col">

							<h1 class="text-2xl font-bold mb-6" id="live-demo">
          			Mentale Gesundheit - ein akutes Problem
          		</h1>

          			<p>
          				Aktuelle Statistiken zeigen deutlich, dass die mentale Gesundheit am Arbeitsplatz einen negativen Trend aufweist.
          			</p>

					<h2 class="mt-8">Rebmann Research: Steigende besonders psychisch assoziierte Fehlzeiten am Arbeitsplatz</h2>

					<p class="">
						Laut dem Fehlzeiten-Report 2023 von Rebmann Research haben sich psychisch bedingte Fehlzeiten in den letzten zehn Jahren um 48% erhöht.
						Vor allem psychische Erkrankungen wie Depressionen und Angststörungen führen zu längeren Ausfallzeiten, im Schnitt 29,6 Fehltage pro Fall,
						was deutlich über anderen Krankheitsbildern liegt.
					</p>
					<p class=" mt-2">
						Hier geht es zum <a href="https://www.rebmann-research.de/fehlzeiten-report-2023-steigende-besonders-psychisch-assoziierte-fehlzeiten-am-arbeitsplatz">Report</a>,
						der auf der <a href="https://www.wido.de/publikationen-produkte/buchreihen/fehlzeiten-report/2023/">Studie</a> von WidO - Wissenschaftliches Institut der AOK basiert.
					</p>


					<h2 class="mt-8">DAK Psychreport 2023: Erneuter Höchststand bei psychisch bedingten Fehltagen im Job</h2>

          <p class="">
          Der DAK Psychoreport 2023 zeigt ebenfalls, dass insbesondere junge Beschäftigte vermehrt von psychischen Erkrankungen betroffen sind.
          Bei den 25- bis 29-Jährigen stiegen die Krankschreibungen aufgrund von psychischen Belastungen um 24–29%.
          </p>
					<p class="mt-2">
					Hier geht es zur DAK <a href="https://caas.content.dak.de/caas/v1/media/48304/data/2fdf59cbbd6b74e4928406e6be61266b/230223-download-pm-psychisch-bedingten-fehltagen.pdf">Pressemitteilung</a> und hier
					zur <a href="https://caas.content.dak.de/caas/v1/media/48306/data/19716bbb8caa8adefdec3f255ed176aa/230223-download-report-psychisch-bedingten-fehltagen.pdf">Studie</a>.
					</p>

					<h2 class="mt-8">McKinsey-Studie 2023: Jeder fünfte Beschäftigte leidet unter Burnout-Symptomen</h2>

          <p class="">
          Zusätzlich stellte eine McKinsey-Studie 2023 fest, dass jeder fünfte Beschäftigte in Deutschland unter Burnout-Symptomen leidet,
          wobei vor allem toxische Arbeitsumgebungen und unklare Rollenverteilungen als Hauptursachen genannt werden.
					</p>
					<p class="mt-2">
          Hier geht es zur <a href="https://www.mckinsey.com/de/news/presse/2023-11-03-mhi-report-reframing-employee-health">Pressemitteilung</a> und hier
          zur McKinsey <a href="https://www.mckinsey.com/de/~/media/mckinsey/locations/europe%20and%20middle%20east/deutschland/news/presse/2023/2023-1103%20mhi%20studie%20mitarbeitergesundheit/reframing-employee-health-moving-beyond-burnout-to-holistic-health_fin.pdf">Studie</a>.
          </p>

          <p class="mt-4">
          Insgesamt verdeutlichen diese Daten, dass psychische Belastungen am Arbeitsplatz weiter zunehmen und es Handlungsbedarf gibt, um die mentale Gesundheit der Beschäftigten zu fördern.
          </p>

					<p class="mt-4">
						<a href="/mental-health#herausforderung-mentale-gesundheit" class="text-black hover:underline">
							{{> partials/icon-chevron-double-right class='w-4 h-4 -mt-0.5 inline-block'}}
							Zurück zum Überblick
						</a>
					</p>
				</div>


					<div class="">
						<picture>
	{{!-- 						<source srcset="/static/img/mental-health/2.avif" type="image/avif"> --}}
	{{!-- 						<source srcset="/static/img/android/android-hero.webp" type="image/webp"> --}}
							<img src="/static/img/mental-health/mh1.png"
							alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden.">
						</picture>
					</div>
			</div>

		</div>
	</div>
</main>
