@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		height: 100%;
	}

	html,
	body {
		font-family: Lato, sans-serif;
		font-weight: 400;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: Raleway, sans-serif;
		font-weight: 700;
	}
}

@layer utilities {
	[class*="backdrop-"] {
		background-color: rgba(255, 255, 255, 0.9);
	}

	@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
		[class*="backdrop-"] {
			--uv-backdrop-blur: 0;
			--uv-backdrop-saturate: 0;
			-webkit-backdrop-filter: saturate(var(--uv-backdrop-saturate))
				blur(var(--uv-backdrop-blur));
			backdrop-filter: saturate(var(--uv-backdrop-saturate))
				blur(var(--uv-backdrop-blur));
			background-color: rgba(255, 255, 255, 0.72);
		}
		.backdrop-blur {
			--uv-backdrop-blur: 20px;
		}
		.backdrop-saturate {
			--uv-backdrop-saturate: 180%;
		}
	}
}

.navigation-item {
	position: relative;
	display: flex;
	align-items: center;
}

.navigation-item.active::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid #fcd34d;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	margin-left: -1rem;
}

@screen md {
	.navigation-item {
		display: block;
	}
	.navigation-item.active::before {
		display: none;
	}
	.navigation-item.active::after {
		width: 0;
		height: 0;
		position: absolute;
		content: "";
		display: block;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid #fcd34d;
		left: 50%;
		margin-left: -8px;
	}
}

@screen md {
	.navigation-item-blog {
		@apply sr-only;
	}
	.navigation-item-faq {
		@apply sr-only;
	}
}

@media only screen and (min-width: 768px) {
	.navigation-item-faq {
		@apply hidden;
	}
}

@media only screen and (min-width: 940px) {
	.navigation-item-blog {
		@apply not-sr-only;
		@apply relative;
	}
}

@media only screen and (min-width: 1140px) {
	.navigation-item-faq {
		@apply not-sr-only;
		@apply relative;
		@apply inline;
	}
}

@layer components {
	.zammad-chat-welcome {
		display: flex;
	}

	.zammad-chat-welcome-text {
		margin-left: 3px;
	}

	/* e.g. agb, impressum, ... */
	article {
		h1 {
			@apply text-2xl;
			@apply font-medium;
			@apply mb-4;
		}

		@screen xs {
			h1 {
				@apply text-3xl;
			}
		}

		h2 {
			@apply text-2xl;
			@apply font-medium;
			@apply mt-16;
			@apply mb-4;
		}

		h1 + h2 {
			/* @apply mt-8; */
		}

		h3,
		h4 {
			@apply text-base;
			@apply font-medium;
			@apply mt-4;
			@apply mb-2;
		}

		p {
			@apply mb-2;
		}

		ul {
			@apply list-inside;
			@apply list-disc;
			@apply my-4;
		}

		a {
			@apply underline;
		}
	}
}

@layer components {
	#menu-toggle-checkbox + div > label ~ nav {
		background-color: transparent;
	}
	#menu-toggle-checkbox:checked + div > label ~ nav {
		--tw-translate-x: 0;
		background-color: white;
	}

	#menu-toggle-checkbox:checked + div + div {
		--tw-translate-x: 0;
	}

	@screen md {
		#menu-toggle-checkbox:checked + div > label ~ nav {
			background-color: transparent;
		}
	}

	#menu-toggle-checkbox + div > label > span:first-child {
		width: 30px;
		height: 18px;
		position: relative;
	}

	#menu-toggle-checkbox + div > label > span > span {
		padding: 0;
		width: 30px;
		height: 4px;
		display: block;
		border-radius: 4px;
		transition: all 0.4s ease-in-out;
		position: absolute;
		background-color: #353535;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(1) {
		top: 0;
		transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(2) {
		top: 6.5px;
		width: 1px;
		transform: rotate(90deg);
		left: 6.5px;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(3) {
		top: 6.5px;
		right: 0;
		width: 1px;
		left: 6.5px;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(4) {
		bottom: 0;
		top: 6.5px;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(5) {
		bottom: 0;
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(1) {
		top: 6.5px;
		background-color: transparent;
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(2) {
		left: 0;
		width: 30px;
		transform: rotate(45deg);
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(3) {
		left: 0;
		width: 30px;
		transform: rotate(-45deg);
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(4) {
		background-color: transparent !important;
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(5) {
		bottom: 6.5px;
		background-color: transparent !important;
	}
}
