.toc-menu {
    max-width: 37ch;
}

.toc-menu ul {
    max-width: 37ch;
    margin-top: 1rem;
}

.toc-menu-item {
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    margin-left: 1rem;
}

.toc-menu-item:hover::before {
    color: #111827;
}

.toc-menu-item:not(:last-child) {
    margin-bottom: 0.75rem;
}

.toc-menu-item a {
    color: #6b7280;
}

.toc-menu-item a::before {
    content: "\2022";
    color: #6b7280;
    display: inline-block;
    width: 1em;
    margin-left: -1rem;
}

.toc-menu-item a:hover,
.toc-menu-item a[aria-current="location"],
.toc-menu-item a[aria-current="location"]::before {
    color: #111827;
}
