.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.breadcrumb .breadcrumb-item {
    position: relative;
    display: flex;
    align-items: baseline;
}

.breadcrumb .breadcrumb-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 0.66rem;
    height: 0.66rem;
    margin-left: 0.5rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*
============================================================
*/

.wissensbasis-content {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1.5rem;
        @apply text-2xl;
        @apply font-bold;
    }

    p + h1,
    p + h2,
    p + h3,
    p + h4,
    p + h5,
    p + h6 {
        margin-top: 3.5rem;
    }

    p,
    ul {
        margin-bottom: 1rem;
    }

    a {
        @apply transition-colors;
        color: theme("colors.lightBlue.700");
        text-decoration: underline;
    }

    a:hover,
    a:focus {
        color: theme("colors.lightBlue.900");
    }

    ul,
    ol {
        margin-left: 1.25rem;
        margin-bottom: 1rem;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    li {
    }

    li:not(:last-child) {
        margin-bottom: 0.25rem;
    }
}

.wissensbasis-info {
    border-left: 5px solid theme("colors.amber.400");
    background-color: theme("colors.amber.50");
    color: theme("colors.amber.900");
    font-style: italic;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    margin-bottom: 1rem;

    p {
        margin-bottom: 0;
    }

    a {
        text-decoration: underline;
        color: theme("colors.amber.900");
    }
    a:hover {
        color: theme("colors.black");
    }
}

