.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.breadcrumb .breadcrumb-item {
    position: relative;
    display: flex;
    align-items: baseline;
}

.breadcrumb .breadcrumb-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 0.66rem;
    height: 0.66rem;
    margin-left: 0.5rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*
============================================================
*/

.wissensbasis-content h1, .wissensbasis-content h2 {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

.wissensbasis-content h3, .wissensbasis-content h4, .wissensbasis-content h5, .wissensbasis-content h6 {
        margin-bottom: 1.25rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 700;
    }

.wissensbasis-content * + h1,
    .wissensbasis-content * + h2,
    .wissensbasis-content * + h3,
    .wissensbasis-content * + h4,
    .wissensbasis-content * + h5,
    .wissensbasis-content * + h6 {
        margin-top: 3.5rem;
    }

.wissensbasis-content h1 + h2,
    .wissensbasis-content h2 + h3,
    .wissensbasis-content h3 + h4,
    .wissensbasis-content h5 + h6 {
        margin-top: 0;
    }

.wissensbasis-content p,
    .wissensbasis-content ul {
        margin-bottom: 1rem;
    }

.wissensbasis-content img, 
    .wissensbasis-content picture img {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.75rem;
}

.wissensbasis-content p:not(:first-child) > img,
    .wissensbasis-content p:not(:first-child) > picture img {
        margin-top: 2rem;
    }

.wissensbasis-content p:not(:last-child) > img,
    .wissensbasis-content p:not(:last-child) > picture img {
        margin-bottom: 3.5rem;

    }

.wissensbasis-content a {
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
        color: #0369a1;
        text-decoration: underline;
}

.wissensbasis-content a:hover,
    .wissensbasis-content a:focus {
        color: #0c4a6e;
    }

.wissensbasis-content ul,
    .wissensbasis-content ol {
        margin-left: 1.25rem;
        margin-bottom: 1rem;
    }

.wissensbasis-content ul {
        list-style: disc;
    }

.wissensbasis-content ol {
        list-style: decimal;
    }

.wissensbasis-content li {
    }

.wissensbasis-content li:not(:last-child) {
        margin-bottom: 0.25rem;
    }

.wissensbasis-info {
    border-left: 5px solid #fbbf24;
    background-color: #fffbeb;
    color: #78350f;
    font-style: italic;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    margin-bottom: 1rem;
}

.wissensbasis-info p {
        margin-bottom: 0;
    }

.wissensbasis-info a {
        text-decoration: underline;
        color: #78350f;
    }

.wissensbasis-info a:hover {
        color: #000;
    }

