---
layout: layout-subpage.hbs
backgroundColor: bg-sky-50
title: Innovation durch Community - eine Open Source Zeitwirtschaft
description: Mit Open-Source-Software zur Zeiterfassung und Urlaubsverwaltung profitieren Unternehmen von einer aktiven Community, die Innovationen vorantreibt.
stylesheets:
  - /static/css/innovation-community.css
---

<div class="flex flex-col md:flex-row">
	<div class="md:w-1/3 max-w-sm md:mr-10 pr-8">
		<div id="definition" class="text-3xl font-bold mb-6 md:mb-12">
			<h1>
				Innovation durch Community
			</h1>
		</div>
		<div>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/opensource/innovation-durch-community/#was-bedeutet-innovation-community">Was bedeutet „Innovation durch Community“ bei Open-Source-Software?</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/opensource/innovation-durch-community/#gemeinsam-schneller-besser">Gemeinsam schneller besser: Innovation durch Community</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/opensource/innovation-durch-community/#innovation-elfenbeinturm">Innovation entsteht nicht im Elfenbeinturm</a>
			</p>
		  <p class="mb-4 text-black text-opacity-80">
				<a href="/opensource/innovation-durch-community/#faq">Häufig gestellte Fragen (FAQ)</a>
			</p>
		</div>
	</div>

	<div class="flex-1 mb-8 md:mb-0 ">
		<div id="was-bedeutet-innovation-community" class="uebersicht-card-border flex flex-col md:flex-row gap-8">
			<div class="flex-1 flex flex-col">
				<h2 class="text-2xl mt-6 mb-6">Was bedeutet „Innovation durch Community“ bei Open-Source-Software?</h2>
				<p class="text-lg">„Innovation durch Community“ bedeutet, dass Weiterentwicklungen der Open-Source-Software von einer aktiven Nutzer- und Entwicklergemeinschaft vorangetrieben werden. Unternehmen profitieren von praxisnahen Features, schnellen Verbesserungen und einem flexiblen System, das kontinuierlich durch kollektive Intelligenz optimiert wird.</p>
			</div>
		</div>

		<div class="my-8">
			<picture>
				<img
					src="community.png"
					alt="Eine Community entwickelt Ideen"
					class="rounded-b md:rounded-b-lg xl:rounded-b-2xl"
					width="1220"
					height="795"
				>
			</picture>
		</div>

		<div id="gemeinsam-schneller-besser" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">Gemeinsam schneller besser: Innovation durch Community</h2>
			<p class="text-lg">
				Unsere Community besteht aus Entwickler:innen, HR-Expert:innen und Endanwender:innen.
				Dieses Netzwerk bringt kontinuierlich Ideen, Feedback und Erweiterungen ein – ein echter Innovationsmotor.

        Vorteile der Community-getriebenen Entwicklung:
			</p>
			<div class="text-lg m-3">
				<ul class="ml-4 list-disc space-y-2 text-lg">
					<li>Schnellere Feature-Entwicklung: Relevante Ideen aus der Praxis fließen direkt in die Weiterentwicklung.</li>
          <li>Qualitätssteigerung durch Peer Reviews.</li>
          <li>Agile Reaktion auf gesetzliche Änderungen (z.B. Arbeitszeiterfassung nach EuGH-Urteil).</li>
				</ul>
			</div>
		</div>

		<div id="innovation-elfenbeinturm" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">Innovation entsteht nicht im Elfenbeinturm</h2>
			<p class="text-lg">
				Die besten Ideen entstehen nicht im stillen Kämmerlein, sondern dort, wo echte Menschen echte Probleme lösen.
        Mit dem Open-Source-Ansatz gestaltet die Community nicht nur Software mit – sondern Ihre eigene Zukunft.

        Werde Teil einer neuen HR-Bewegung – gestalten Zeitwirtschaft neu.
			</p>
		</div>
		<div id="faq" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">Häufig gestellte Fragen (FAQ)   </h2>
		</div>

		<div class="flex-1 md:mb-0 bg-white rounded-2xl py-8 px-4 md:p-8">
			<input type="checkbox" name="noop" id="faq-checkbox-os-zeitwirtschaft">
			<input type="checkbox" name="noop" id="faq-checkbox-innovation-vorteil">
			<input type="checkbox" name="noop" id="faq-checkbox-community-teilnehmen">
			<input type="checkbox" name="noop" id="faq-checkbox-os-professionell">
			<input type="checkbox" name="noop" id="faq-checkbox-os-kosten">
			<input type="checkbox" name="noop" id="faq-checkbox-os-dsgvo">

			<dl>
				<dt class="group text-lg md:text-xl text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-os-zeitwirtschaft" class="cursor-pointer flex md:items-center text-black text-opacity-90">
						<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
							{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
						</span>
						Was ist eine Open-Source-Zeitwirtschaftssoftware?
					</label>
				</dt>
				<dd data-id="faq-p-os-zeitwirtschaft" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Eine Open-Source-Zeitwirtschaftssoftware ist eine frei zugängliche Lösung zur Zeiterfassung und Urlaubsverwaltung. Der Quellcode ist öffentlich einsehbar und anpassbar, wodurch Unternehmen maximale Transparenz und Anpassungsfreiheit erhalten.
				</dd>

				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-innovation-vorteil" class="cursor-pointer flex md:items-center text-black text-opacity-90">
						<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
							{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
						</span>
						Warum ist „Innovation durch Community“ ein Vorteil?
					</label>
				</dt>
				<dd data-id="faq-p-innovation-vorteil" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Weil neue Funktionen nicht nur vom Anbieter kommen, sondern aus der aktiven Community. So entstehen praxisnahe Lösungen schneller, Fehler werden schneller behoben und die Software entwickelt sich kontinuierlich weiter – durch echte Nutzererfahrung.
				</dd>

				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-community-teilnehmen" class="cursor-pointer flex md:items-center text-black text-opacity-90">
						<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
							{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
						</span>
						Wie kann ich als Unternehmen an der Community teilnehmen?
					</label>
				</dt>
				<dd data-id="faq-p-community-teilnehmen" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Sie können Feature-Wünsche einreichen, Bugs melden, neue Module beisteuern oder einfach Feedback geben. Entwickler können direkt über GitHub beitragen – und Nicht-Techniker durch Tests und Ideen unterstützen.
				</dd>

				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-os-professionell" class="cursor-pointer flex md:items-center text-black text-opacity-90">
						<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
							{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
						</span>
						Ist Open-Source-Software für professionelle Unternehmen geeignet?
					</label>
				</dt>
				<dd data-id="faq-p-os-professionell" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Ja, gerade im Bereich HR setzen immer mehr Unternehmen auf Open Source, weil sie Unabhängigkeit, Anpassungsfähigkeit und hohe Datenschutzstandards bietet – ohne Vendor-Lock-in.
				</dd>

				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-os-kosten" class="cursor-pointer flex md:items-center text-black text-opacity-90">
						<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
							{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
						</span>
						Was kostet eine Open-Source-Zeiterfassungssoftware?
					</label>
				</dt>
				<dd data-id="faq-p-os-kosten" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Der Source Code selbst ist in der Regel kostenlos. Eine Installation im eigenen Rechenzentrum kostet neben den Hardware-Ressourcen
					vor allem das geeignete Personal in Form von regelmäßige (Security-)Updates, Backups und Wartung, sowie Support der Mitarbeitenden.
					Bei der Nutzung einer SaaS-Lösung sind die Kosten abhängig von der Anzahl der Nutzer:innen und den gewünschten Funktionen.
				</dd>

				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-os-dsgvo" class="cursor-pointer flex md:items-center text-black text-opacity-90">
						<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
							{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
						</span>
						 Ist Open Source auch DSGVO-konform?
					</label>
				</dt>
				<dd data-id="faq-p-os-dsgvo" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Open-Source-Software kann besonders datenschutzkonform betrieben werden, da Sie volle Kontrolle über Hosting,
					Datenflüsse und Sicherheitskonfiguration haben. Durch Code-Transparenz ist Nachvollziehbarkeit und Auditierung leichter möglich.
				</dd>

			</dl>
			<script>
				[...document.querySelectorAll("label[for*=faq-checkbox]")].forEach(label => {
					label.addEventListener('click', function(event) {
						event.preventDefault();
						const checkbox = document.querySelector('#' + label.getAttribute("for"));
						checkbox.checked = !checkbox.checked;
					});
					label.addEventListener('keydown', function(event) {
						if (event.key === 'Enter') {
							event.preventDefault();
							const checkbox = document.querySelector('#' + label.getAttribute("for"));
							checkbox.checked = !checkbox.checked;
						}
					});
				});
			</script>
		</div>
	</div>
</div>
