---
layout: layout-subpage.hbs
backgroundColor: bg-sky-50
title: Sicherheit durch Transparenz - eine Open Source Zeitwirtschaft
description: Volle Kontrolle über Daten & Datenschutz - So sorgt unsere Open-Source-Software für maximale Sicherheit in deiner Zeitwirtschaft.
stylesheets:
  - /static/css/sicherheit-transparenz.css
---

<div class="flex flex-col md:flex-row">
	<div class="md:w-1/3 max-w-sm md:mr-10 pr-8">
		<div id="definition" class="text-2xl font-bold mb-6 md:mb-12">
			<h1>
				Sicherheit durch Transparenz – Deine Zeitwirtschaft in sicheren Händen
			</h1>
		</div>
		<div>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/opensource/sicherheit-durch-transparenz/#os-sicherheit">Warum bietet Open-Source-Zeitwirtschaft mehr Sicherheit?</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/opensource/sicherheit-durch-transparenz/#warum-os">Warum Open Source der Schlüssel zur sicheren Zeitwirtschaft ist</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/opensource/sicherheit-durch-transparenz/#vertrauen">Vertrauen ist kein Zufall – es ist das Ergebnis von Offenheit</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/opensource/sicherheit-durch-transparenz/#unternehmen">Ideal für Unternehmen, die...?</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/opensource/sicherheit-durch-transparenz/#faq">Häufig gestellte Fragen (FAQ)</a>
			</p>
		</div>
	</div>
	<div class="flex-1 mb-8 md:mb-0 ">
		<div id="os-sicherheit" class="uebersicht-card-border mt-12 flex flex-col md:flex-row gap-8">
			<div class="flex-1 flex flex-col md:p-4">
				<h2 class="text-2xl mt-6 mb-6">Warum bietet Open-Source-Zeitwirtschaft mehr Sicherheit?</h2>
				<p class="text-lg">Open-Source-Zeitwirtschaftslösungen bieten maximale Sicherheit durch vollständige Transparenz im Quellcode. Unternehmen können selbst prüfen, wie Daten verarbeitet werden – und behalten so jederzeit die Kontrolle über Datenschutz, Compliance und IT-Sicherheit.</p>
			</div>
		</div>

			<div class="my-8">
  			<picture>
  				<img
  					src="security.png"
  					alt="Sicherheit durch Transparenz"
  					class="rounded-b md:rounded-b-lg xl:rounded-b-2xl"
  					width="1220"
  					height="795"
  				>
  			</picture>
  		</div>

		<div id="warum-os" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">Warum Open Source der Schlüssel zur sicheren Zeitwirtschaft ist</h2>
			<div class="text-lg m-3">
				<ul class="ml-4 list-disc space-y-2 text-lg">
					<li>Quelloffen: Jederzeit nachvollziehbar, wie das System arbeitet</li>
					<li>Auditierbar: Interne und externe Sicherheitsprüfungen möglich</li>
					<li>DSGVO-konform: Datenspeicherung & -verarbeitung vollständig transparent</li>
					<li>Vendor Lock-in vermeiden: Volle Datenportabilität ohne Abhängigkeiten</li>
					<li>Community-getrieben: Sicherheitslücken werden schneller entdeckt und behoben/li>
				</ul>
			</div>
		</div>

		<div id="vertrauen" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3" id="vertrauen">Vertrauen ist kein Zufall – es ist das Ergebnis von Offenheit</h2>
			<p class="text-lg">Wir glauben: Wer nichts zu verbergen hat, hat auch nichts zu befürchten. Deshalb setzen wir auf offene Standards, offen einsehbaren Quellcode und klare Kommunikation rund um Datenschutz & Compliance. Ihre Personalabteilung profitiert von einem System, das nicht nur funktioniert, sondern auch ethisch überzeugt.</p>
		</div>

		<div id="unternehmen" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3" id="fuerwen">Ideal für Unternehmen, die...?</h2>
			<div class="text-lg m-3">
				<ul class="ml-4 list-disc space-y-2 text-lg">
					<li>hohe Compliance-Anforderungen erfüllen müssen</li>
					<li>sensible Personaldaten verarbeiten</li>
					<li>eine transparente Alternative zu proprietären Systemen suchen</li>
					<li>Jederzeit die Kontrolle über ihre IT-Infrastruktur behalten wollen</li>
				</ul>
  		</div>
  	</div>


		<div id="faq"  class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">Häufig gestellte Fragen (FAQ)</h2>
		</div>

		<div class="flex-1 md:mb-0 bg-white rounded-2xl py-8 px-4 md:p-8">
			<input type="checkbox" name="noop" id="open-source-checkbox-secure">
			<input type="checkbox" name="noop" id="open-source-checkbox-concrete">
			<input type="checkbox" name="noop" id="open-source-checkbox-dsgvo">
			<input type="checkbox" name="noop" id="open-source-checkbox-export">


    			<dl>
    				<dt class="group text-lg md:text-xl text-black font-semibold">
    					<label tabindex="0" for="open-source-checkbox-secure" class="cursor-pointer flex md:items-center text-black text-opacity-90">
    							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
    								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
    							</span>
    						Ist Open-Source-Software wirklich sicher genug für sensible Personaldaten?
    					</label>
    				</dt>
    				<dd data-id="open-source-p-secure" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
								Ja – gerade weil der Quellcode offen ist, kann er von unabhängigen Expert:innen regelmäßig geprüft werden. Sicherheitslücken werden schneller entdeckt und behoben als bei proprietärer Software. Außerdem setzen wir auf verschlüsselte Datenübertragung und DSGVO-konforme Datenspeicherung.
    				</dd>

    				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
    					<label tabindex="0" for="open-source-checkbox-concrete" class="cursor-pointer flex md:items-center text-black text-opacity-90">
    							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
    								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
    							</span>
    						Was bedeutet „Sicherheit durch Transparenz“ konkret?
    					</label>
    				</dt>
    				<dd data-id="open-source-p-concrete" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
    					Transparenz bedeutet bei uns: Sie sehen genau, wie das System arbeitet, welche Daten erfasst werden und wo sie gespeichert sind. Das reduziert nicht nur Risiken, sondern stärkt auch das Vertrauen Ihrer Mitarbeitenden in das System.
    				</dd>

    				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
    					<label tabindex="0" for="open-source-checkbox-dsgvo" class="cursor-pointer flex md:items-center text-black text-opacity-90">
    							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
    								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
    							</span>
    						Ist die Lösung DSGVO-konform?
    					</label>
    				</dt>
    				<dd data-id="open-source-p-dsgvo" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
    					Ja. Unsere Open-Source-Zeitwirtschaft ist vollständig DSGVO-konform. Daten werden verschlüsselt gespeichert, klar getrennt verarbeitet und ausschließlich in datenschutzsicheren Rechenzentren in der EU gehostet. Sie behalten jederzeit die Hoheit über Ihre Daten.
    				</dd>

    				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
    					<label tabindex="0" for="open-source-checkbox-export" class="cursor-pointer flex md:items-center text-black text-opacity-90">
    							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
    								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
    							</span>
    						Kann ich die Daten exportieren oder in andere Systeme übertragen?
    					</label>
    				</dt>
    				<dd data-id="open-source-p-export" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
    					Absolut. Als Open-Source-Lösung ist unsere Software frei von Vendor Lock-ins. Sie können jederzeit sämtliche Daten exportieren – strukturiert, dokumentiert und maschinenlesbar – für maximale Flexibilität.
    				</dd>

    			</dl>
    			<script>
    				[...document.querySelectorAll("label[for*=digital-souveraenitaet-checkbox]")].forEach(label => {
    					label.addEventListener('click', function(event) {
    						event.preventDefault();
    						const checkbox = document.querySelector('#' + label.getAttribute("for"));
    						checkbox.checked = !checkbox.checked;
    					});
    					label.addEventListener('keydown', function(event) {
    						if (event.key === 'Enter') {
    							event.preventDefault();
    							const checkbox = document.querySelector('#' + label.getAttribute("for"));
    							checkbox.checked = !checkbox.checked;
    						}
    					});
    				});
    			</script>
    		</div>

	</div>
</div>

