.benefits-grid {
}

.benefit-title {
	@apply text-2xl;
	@apply font-bold;
	@apply leading-loose;
	text-align: center;
	/* hacky hack: move title below the image */
	transform: translateY(128px);
}

.benefit-description {
}

.benefit-image {
	width: 128px;
	height: 128px;
	/* hacky hack: move image above the title */
	transform: translateY(-48px);
}

@screen sm {
}

@screen md {
	.benefit-title {
		transform: translateY(calc(128px + 6px));
	}

	.benefit-image {
		transform: translateY(-64px);
	}

	.benefits-grid {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(2, 1fr);
	}

	.benefit-title:nth-of-type(1) {
		grid-column: 1;
		grid-row: 1;
	}
	.benefit-description:nth-of-type(1) {
		grid-column: 1;
		grid-row: 2;
	}

	.benefit-title:nth-of-type(2) {
		grid-column: 2;
		grid-row: 1;
	}
	.benefit-description:nth-of-type(2) {
		grid-column: 2;
		grid-row: 2;
	}

	.benefit-title:nth-of-type(3) {
		grid-column: 1;
		grid-row: 3;
	}
	.benefit-description:nth-of-type(3) {
		grid-column: 1;
		grid-row: 4;
	}

	.benefit-title:nth-of-type(4) {
		grid-column: 2;
		grid-row: 3;
	}
	.benefit-description:nth-of-type(4) {
		grid-column: 2;
		grid-row: 4;
	}

	.benefit-title:nth-of-type(5) {
		grid-column: 1;
		grid-row: 5;
	}
	.benefit-description:nth-of-type(5) {
		grid-column: 1;
		grid-row: 6;
	}

	.benefit-title:nth-of-type(6) {
		grid-column: 2;
		grid-row: 5;
	}
	.benefit-description:nth-of-type(6) {
		grid-column: 2;
		grid-row: 6;
	}
}

@screen lg {
	.benefit-title {
		transform: translateY(calc(128px + 12px));
	}

	.benefits-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
	}

	.benefit-title:nth-of-type(1) {
		grid-column: 1;
		grid-row: 1;
	}
	.benefit-description:nth-of-type(1) {
		grid-column: 1;
		grid-row: 2;
	}

	.benefit-title:nth-of-type(2) {
		grid-column: 2;
		grid-row: 1;
	}
	.benefit-description:nth-of-type(2) {
		grid-column: 2;
		grid-row: 2;
	}

	.benefit-title:nth-of-type(3) {
		grid-column: 3;
		grid-row: 1;
	}
	.benefit-description:nth-of-type(3) {
		grid-column: 3;
		grid-row: 2;
	}

	.benefit-title:nth-of-type(4) {
		grid-column: 1;
		grid-row: 3;
	}
	.benefit-description:nth-of-type(4) {
		grid-column: 1;
		grid-row: 4;
	}

	.benefit-title:nth-of-type(5) {
		grid-column: 2;
		grid-row: 3;
	}
	.benefit-description:nth-of-type(5) {
		grid-column: 2;
		grid-row: 4;
	}

	.benefit-title:nth-of-type(6) {
		grid-column: 3;
		grid-row: 3;
	}
	.benefit-description:nth-of-type(6) {
		grid-column: 3;
		grid-row: 4;
	}
}

@screen xl {
}
