.navigation-list {
	@apply flex flex-row flex-wrap;
	flex: 1 1 100%;
	font-size: 2rem;
	text-align: center;
	color: white;
	position: absolute;
	top: -500%;
	left: 0;
	right: 0;
	transition: top ease-in-out 655ms;
}

.navigation-list a {
	color: transparent;
	transition: color 500ms ease-in;
}

.navigation-list-item {
	@apply border-b-2;
	border-color: transparent;
	@apply py-4;
	flex-basis: 100%;
	transition: border-color 500ms ease-in-out;
}
.navigation-list-item:not(.navigation-list-item-social-media) {
	@apply m-2;
}
.navigation-list-item-social-media {
	@apply border-b-0;
	flex-basis: 50%;
}

input#mobile-menu-toggle ~ label {
	user-select: none;
}

.navigation-list:focus-within,
input#mobile-menu-toggle:checked ~ label ~ .navigation-list {
	top: 100%;
}
.navigation-list:focus-within a,
input#mobile-menu-toggle:checked ~ label ~ .navigation-list a {
	color: white;
}
.navigation-list:focus-within > .navigation-list-item,
input#mobile-menu-toggle:checked
	~ label
	~ .navigation-list
	> .navigation-list-item {
	border-color: white;
}

@screen sm {
	input#mobile-menu-toggle ~ label ~ .navigation-list {
		@apply flex flex-row items-center justify-end;
		font-size: inherit;
		flex: 1 0 0;
	}

	.navigation-list {
		position: static;
	}

	.navigation-list a {
		color: inherit;
	}

	.navigation-list-item {
		@apply border-b-0;
		@apply m-0 px-4 py-0;
		white-space: nowrap;
		flex-basis: 0;
	}

	.navigation-list-item-social-media {
		@apply px-2 py-0;
	}
}
