@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS here */

html,
body {
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
}

#__next {
	height: 100%;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
}

.visually-hidden {
	/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden a:focus,
.visually-hidden input:focus,
.visually-hidden button:focus {
	position: static;
	width: auto;
	height: auto;
}

.page {
	margin: 0 auto;
	max-width: 1200px;
}
