@reference "./config.css";

.section-hero {
	padding-block-start: calc(var(--main-header-height) + --spacing(5));
	padding-block-end: --spacing(14);

	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;

	& > div {
		grid-column: 1 / -1;
	}

	.section-hero__image {
		place-self: start;
	}

	.section-hero__title {
		padding-inline: var(--spacing-page-grid-gap);
		padding-block: --spacing(16);
	}

	.section-hero__text {
		position: relative;
		padding-inline: var(--spacing-page-grid-gap);

		.dot-visual {
			left: 0;
			top: calc(-1 * --spacing(8));
		}
	}

	@variant md {
		.section-hero__image {
			grid-column: 1 / span 4;
		}

		.section-hero__title {
			grid-column: 5 / -1;
			padding-block: 0;
			align-self: end;
		}

		.section-hero__text {
			grid-column: 2 / -2;
			margin-block-start: --spacing(32);
			padding-inline: 0;

			.dot-visual {
				left: calc(-1 * --spacing(12));
				top: calc(-1 * --spacing(19));
			}
		}
	}

	@variant lg {
		.section-hero__image {
			grid-column: 1 / span 5;
		}

		.section-hero__title {
			grid-column: 6 / -1;
		}

		.section-hero__text {
			grid-column: 2 / span 5;
			margin-block-start: --spacing(64);

			.dot-visual {
				left: calc(-1 * --spacing(12));
				top: calc(-1 * --spacing(38));
			}
		}
	}
}

.section-promise {
	padding-block: --spacing(14);

	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;

	& > * {
		grid-column: 1 / -1;
	}

	& > .section-title-pill {
		padding-inline: var(--spacing-page-grid-gap);
		margin-block-end: --spacing(14);
		justify-self: start;
	}

	.parallax-grid {
		display: grid;
		grid-template-columns: subgrid;
		grid-row-gap: --spacing(16);

		& > div:nth-child(1) {
			grid-column: 1 / span 3;
		}

		& > div:nth-child(2) {
			grid-column: 2 / span 3;
		}

		& > div:nth-child(3) {
			grid-column: 2 / -1;
		}

		& > div:nth-child(4) {
			grid-column: 1 / span 3;
		}

		& > div:nth-child(5) {
			grid-column: 1 / -1;
		}

		& > div:nth-child(6) {
			grid-column: 2 / -1;
		}

		& > div:nth-child(7) {
			grid-column: 1 / -1;
		}

		p {
			display: block;
			margin-block-end: --spacing(4);

			color: var(--color-lila);
			font-family: "Basteleur", sans-serif;
			font-weight: 400;
			font-size: var(--text-xl);
			line-height: var(--text-xl--line-height);
		}

		img {
			object-fit: cover;
			border-radius: var(--radius-2xl);
		}
	}

	@variant md {
		.section-title-pill {
			grid-column-start: 2;
		}

		.parallax-grid {
			/* TODO rows to align the images */
			& > div:nth-child(1) {
				grid-column: 2 / span 3;
			}

			& > div:nth-child(2) {
				grid-column: 6 / span 3;
			}

			& > div:nth-child(3) {
				grid-column: 2 / -1;
			}

			& > div:nth-child(4) {
				grid-column: 1 / span 3;
			}

			& > div:nth-child(5) {
				grid-column: 5 / span 4;
			}

			& > div:nth-child(6) {
				grid-column: 4 / -1;
			}

			& > div:nth-child(7) {
				grid-column: 2 / span 3;
			}
		}
	}

	@variant lg {
		.parallax-grid {
			/* TODO rows to align the images */
			& > div:nth-child(1) {
				grid-column: 2 / span 4;
			}

			& > div:nth-child(2) {
				grid-column: 9 / span 4;
			}

			& > div:nth-child(3) {
				grid-column: 6 / span 3;
			}

			& > div:nth-child(4) {
				grid-column: 7 / span 5;
			}

			& > div:nth-child(5) {
				grid-column: 3 / span 5;
				img {
					aspect-ratio: var(--aspect-retro);
				}
			}

			& > div:nth-child(6) {
				grid-column: 8 / -1;
			}

			& > div:nth-child(7) {
				grid-column: 1 / span 4;
			}
		}
	}
}

.section-welfare {
	background-color: var(--color-beige);
	padding-block: --spacing(14);

	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;

	.section-title-pill {
		place-self: start;
		grid-column: 1 / -1;

		margin-inline: var(--spacing-page-grid-gap);
		margin-block-end: --spacing(14);
	}

	& > *:not(:last-child) {
		margin-block-end: --spacing(14);
	}

	.welfare-container {
		margin-inline: var(--spacing-page-grid-gap);

		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;

		row-gap: --spacing(14);

		counter-reset: section;

		.dot-visual {
			left: calc(-1 * var(--accent-line-width));
			top: 0;
		}

		.welfare-item {
			grid-column: 1 / -1;

			display: grid;
			grid-template-columns: min-content 1fr;
			grid-template-rows: auto auto;
			column-gap: --spacing(4);
			row-gap: --spacing(4);

			&::before {
				grid-row: 1;
				grid-column: 1;
				align-self: baseline;

				z-index: calc(var(--z-index-dot-visual) + 1);

				counter-increment: section;
				content: counter(section);

				display: inline-block;
				color: var(--color-lila);
				font-size: var(--text-4xl);
				line-height: var(--text-4xl--line-height);
				font-family: "Basteleur", sans-serif;
			}

			.welfare-item__head {
				grid-row: 1;
				grid-column: 2;

				align-self: baseline;
				font-size: var(--text-2xl);
				line-height: var(--text-2xl--line-height);
				display: flex;
				flex-direction: row;
				gap: --spacing(2);
			}

			.welfare-item__text {
				grid-row: 2;
				grid-column: 2;
				font-size: var(--text-lg);
				line-height: var(--text-lg--line-height);
			}
		}

		@variant md {
			row-gap: --spacing(20);

			.welfare-item {
				grid-column-end: span 6;

				&::before {
					align-self: normal;
				}
			}

			.welfare-item:nth-child(2n) {
				grid-column-start: 4;
			}
		}

		@variant lg {
			row-gap: --spacing(16);

			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: subgrid;

			/*padding-inline: 0;*/
			/*margin-inline: 0;*/

			.welfare-item {
				grid-column-start: 2;
				grid-column-end: span 5;
				grid-row: sibling-index();

				/* align head/text with column. item number left of it. randomly chosen 10, works :shrug: */
				margin-inline-start: calc(-1 * --spacing(10));
			}

			.welfare-item:nth-child(2n) {
				grid-column-start: 7;
			}

			.dot-visual {
				top: calc(-1 * --spacing(28));
			}
		}
	}

	@variant md {
		.section-title-pill {
			place-self: start;
			grid-column: 2 / -1;

			margin-inline: 0;
			margin-block-end: --spacing(14);
		}
	}

	@variant lg {
		.section-title-pill {
			place-self: start;
			margin-inline: 0;
		}
	}
}

.section-vision {
	/* no end padding: open-source-circle overflows to next section */
	padding-block-start: --spacing(22);

	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;

	.section-title-pill {
		justify-self: start;
	}

	& > * {
		grid-column: 1 / -1;
		margin-inline: var(--spacing-page-grid-gap);
	}

	& > p {
		margin-block-start: --spacing(8);
		word-break: auto-phrase;
		hyphens: auto;
	}

	@variant lg {
		& > * {
			grid-column: 3 / span 7;
			margin-inline: 0;
		}

		& > div {
			grid-column: 9 / span 4;
			justify-self: center;
		}
	}
}

.section-values {
	padding-block-start: --spacing(24);
	padding-block-end: --spacing(16);

	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;

	.section-title-pill {
		justify-self: start;
	}

	& > * {
		grid-column: 1 / -1;
		margin-inline: var(--spacing-page-grid-gap);
	}

	.values-list {
		display: flex;
		flex-direction: column;
		gap: --spacing(22);
		margin-block-start: --spacing(22);

		.values-list-item {
			display: flex;
			flex-direction: column;

			.values-list-item__icon {
				width: auto;
				height: 7.5rem;
				margin-inline: auto;
			}

			.values-list-item__title {
				margin-top: --spacing(4);
				font-family: "Basteleur", sans-serif;
			}

			.values-list-item__text {
			}
		}
	}

	@variant md {
		.values-list {
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: subgrid;

			.values-list-item {
				grid-column-end: span 5;
			}

			.values-list-item:nth-child(2n) {
				grid-column-start: 4;
			}
		}
	}

	@variant lg {
		& > * {
			margin-inline: 0;
		}

		.values-list {
			.values-list-item {
				grid-column-start: auto !important;
				grid-column-end: span 4;
				padding-inline: var(--spacing-page-grid-gap);
			}
		}
	}
}
