@import "tailwindcss";

@theme {
	--breakpoint-desktop: 1440px;

	--color-*: initial;

	--color-black: #000000;
	--color-white: #ffffff;

	--color-beige: #f2ede9;
	--color-lila: #9b9bff;
	--color-lila-dark: #50287d;
	--color-yellow: #f1fe99;
	--color-green: #d2ff89;
	--color-light-blue: #b0ecfb;
	--color-orange: #ff6133;

	--font-basteleur: "Basteleur", sans-serif;
	--font-outfit: "Outfit", sans-serif;
}

:root {
	--radius-full: calc(infinity * 1px);

	--main-header-height: 90px; /* TODO */

	--button-radius: var(--radius-full);
	--button-padding-block: --spacing(2);
	--button-padding-inline: --spacing(8);

	@variant desktop {
		--button-padding-block: --spacing(0);
		--button-padding-inline: --spacing(3);
	}
}

@layer base {
	body {
		font-family: sans-serif;
		font-family: "Outfit", sans-serif;
	}

	* > .font-basteleur {
		/* TODO global selector ok?!? */
		font-size: 0.9em;
	}
}

@utility button-shadow {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
}

@layer components {
	.main-header {
		align-self: flex-start;
		position: sticky; /* TODO sticky does not work on startpage :O why? */
		top: 0;
		width: 100%;

		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		gap: --spacing(8);

		flex: 0 0 var(--main-header-height);
		height: var(--main-header-height);

		padding-inline: --spacing(4);
		padding-block: --spacing(2);
		box-shadow: 0 2px 4px 0 --alpha(var(--color-black) / 12%);
	}

	.main-navigation-button {
		@variant desktop {
			display: none;
		}
	}

	.main-navigation {
		top: var(--main-header-height);
		padding-inline: --spacing(8);
		padding-block: --spacing(8);
		border-bottom-left-radius: var(--radius-3xl);
		border-bottom-right-radius: var(--radius-3xl);

		--main-navigation-background-opacity: 0%;
		--main-navigation-background-color: var(--color-beige);
		background-color: --alpha(
			var(--main-navigation-background-color) /
				var(--main-navigation-background-opacity)
		);

		&:popover-open {
			--main-navigation-background-opacity: 80%;
			width: 100%;
			box-shadow: 0 4px 4px 0 --alpha(var(--color-black) / 40%);
			backdrop-filter: blur(3px) saturate(180%);

			overflow-y: auto;
			overscroll-behavior: contain;
			max-height: calc(100dvh - var(--main-header-height) - 2rem);

			@media (prefers-reduced-transparency: reduce) {
				--main-navigation-background-opacity: 0%;
				backdrop-filter: none;
			}
		}

		@variant desktop {
			&[popover] {
				position: static;
				display: block;
				inset: auto;
				margin: 0;

				&:not(:popover-open) {
					display: block;
				}

				&::backdrop {
					display: none;
				}
			}
		}
	}

	.main-navigation__list {
		--main-navigation-list-gap: --spacing(4);

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--main-navigation-list-gap);

		@variant desktop {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: --spacing(8);

			padding-inline: --spacing(8);

			border-radius: var(--radius-full);
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
			background-color: var(--color-lila);
			color: var(--color-white);
		}
	}

	.main-navigation__item {
	}

	.main-navigation__item--app-download {
		border-block-start: 2px solid var(--color-white);
		padding-block-start: var(--main-navigation-list-gap);
	}
	.main-navigation__item--demo {
		border-block-end: 2px solid var(--color-white);
		padding-block-end: var(--main-navigation-list-gap);
	}

	.main-navigation__link {
		display: block;
		color: var(--color-white);
		background-color: var(--color-lila);
		padding-inline: var(--button-padding-inline);
		padding-block: var(--button-padding-block);
		border-radius: var(--button-radius);
	}

	.main-benefits-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: --spacing(8);
		column-gap: --spacing(4);

		.main-benefits-card {
			display: grid;
			grid-template-rows: subgrid;
		}

		.main-benefits-card:nth-child(1) {
			grid-row: 1 / 3;

			.main-benefits-card__read-more {
				grid-row-start: 3;
			}
		}

		.main-benefits-card:nth-child(2) {
			grid-row: 1 / 3;

			.main-benefits-card__read-more {
				grid-row-start: 3;
			}
		}

		.main-benefits-card:nth-child(3) {
			grid-row: 3 / 5;

			.main-benefits-card__read-more {
				grid-row-start: 6;
			}
		}

		.main-benefits-card:nth-child(4) {
			grid-row: 3 / 5;

			.main-benefits-card__read-more {
				grid-row-start: 6;
			}
		}

		@variant desktop {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-row-gap: --spacing(8);
			grid-column-gap: --spacing(4);

			.main-benefits-card:nth-child(1) {
				grid-row: 1 / 3;

				.main-benefits-card__read-more {
					grid-row-start: 3;
				}
			}

			.main-benefits-card:nth-child(2) {
				grid-row: 1 / 3;

				.main-benefits-card__read-more {
					grid-row-start: 3;
				}
			}

			.main-benefits-card:nth-child(3) {
				grid-row: 1 / 3;

				.main-benefits-card__read-more {
					grid-row-start: 3;
				}
			}

			.main-benefits-card:nth-child(4) {
				grid-row: 1 / 3;

				.main-benefits-card__read-more {
					grid-row-start: 3;
				}
			}
		}
	}

	.main-benefits-card {
		display: grid;
		grid-template-rows: subgrid;

		padding: --spacing(4);
		border-radius: var(--radius-2xl);

		@variant desktop {
			padding: --spacing(8);
		}
	}

	.main-benefits-card__text {
	}

	.main-benefits-card__read-more {
		text-align: center;
	}

	.button {
		display: inline-block;
		padding-block: var(--button-padding-block);
		padding-inline: var(--button-padding-inline);
		border-radius: var(--button-radius);
		white-space: nowrap;
		text-transform: uppercase;
	}

	.button--green {
		background-color: var(--color-green);
		color: var(--color-black);
	}

	.button--orange {
		background-color: var(--color-orange);
		color: var(--color-white);
	}

	.button--lila-dark {
		background-color: var(--color-lila-dark);
		color: var(--color-white);
	}

	.section-title-pill {
		display: inline-block;

		padding-block: --spacing(1);
		padding-inline: --spacing(3);

		border: 2px dashed var(--color-lila);
		border-radius: var(--radius-full);

		font-family: "Outfit", sans-serif;
		font-size: 1.125rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	.main-navigation {
		a {
			text-transform: uppercase;
		}
	}

	.footer-navigation {
		a {
			text-transform: uppercase;
		}
	}

	.purpose-box {
		--size: 15em;
		--padding: 0.5em;

		height: var(--size);
		width: var(--size);
		aspect-ratio: 1;

		border-radius: 50%;
		text-align: center;

		&::before {
			content: "";
			shape-outside: radial-gradient(
				farthest-side at right,
				transparent calc(100% - var(--padding)),
				#fff 0
			);
		}

		.purpose-box__content {
			shape-outside: radial-gradient(
				farthest-side at left,
				transparent calc(100% - var(--padding)),
				#fff 0
			);
			height: 100%;
			width: 70%;
			padding-top: 1.5rem;
		}
	}
}
