{{#> _html title="Impressum" }}
{{#*inline "content"}}

<header class="fixed top-0 left-0 right-0 z-50">
	{{> navigation}}
</header>

{{!-- <main class="flex-1 mb-48 mt-24"> --}}
<main class="flex-1 mb-48 mt-24 w-full max-w-6xl mx-auto px-4">
	<div class="xl:max-w-xl text-gray-900">
		<h1 class="text-3xl mb-6 mt-6 font-medium">Impressum</h1>
		<h2 class="text-2xl mb-4 font-medium">Angaben gemäß § 5 TMG</h2>
		<p class="mb-2 text-gray-800">
			Focus Shift Software GmbH<br />
			Lindenallee 126<br />
			76189 Karlsruhe, Deutschland
		</p>
		<p class="mb-2 text-gray-800">
			E-Mail:&nbsp;
			<a href="mailto:info@urlaubsverwaltung.cloud" class="underline">
				info@urlaubsverwaltung.cloud
			</a>
		</p>
		<p class="mb-12 text-gray-800">
			Geschäftsführer: Daniel Fuchs, Andreas Weigel<br />
			Handelsregisternummer: HRB 737998<br />
			Steuernummer: 35006/09853<br />
			Registergericht: Mannheim
		</p>
		<h2 class="text-2xl mb-4 font-medium">Haftungsausschluss</h2>
		<p class="mb-12">
			Trotz sorgfältiger inhaltlicher Kontrolle, übernimmt Focus Shift Software GmbH keine Gewähr für die Aktualität, Fehlerfreiheit, Vollständigkeit oder Genauigkeit der bereitgestellten Informationen und Inhalte auf dieser Website. Alle Angebote und Informationen sind freibleibend und unverbindlich. Focus Shift Software GmbH behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
		</p>
		<h2 class="text-2xl mb-4 font-medium">Urheberrecht</h2>
		<p>
			Diese Website und alle darin enthaltenen Inhalte und Grafiken sind urheberrechtlich geschützt und unterliegen dem deutschen Urheberrecht. Jede Art der Vervielfältigung, Bearbeitung oder sonstige Verwertung außerhalb der engen Grenzen des Urheberrechtsgesetzes ist ohne schriftliche Zustimmung der Focus Shift Software GmbH unzulässig. Fremdbeiträge geben nicht unbedingt die Meinung von Focus Shift Software GmbH wieder. Andere auf dieser Webseite verwendete Marken- und Warenzeichen sind Eigentum ihrer jeweiligen Inhaber, deren Rechte ausschließlich bei den jeweiligen Unternehmen liegen.
		</p>
	</div>
</main>

{{> footer}}

{{/inline}}
{{/_html}}
