{{#> _html title="Impressum" }}
{{#*inline "content"}}

<header class="fixed top-0 left-0 right-0 z-50">
	{{> navigation}}
</header>

<main class="mb-48 mt-24">
	<div class="xl:max-w-6xl mx-auto px-4">
		<div class="xl:max-w-xl text-gray-900">
			<h1 class="text-3xl mb-6 mt-6 font-medium">Impressum</h1>
			<h2 class="text-2xl mb-4 font-medium">Angaben gemäß § 5 TMG</h2>
			<p class="mb-2 font-light">
				synyx GmbH & Co. KG<br />
				Gartenstraße 67<br />
				76135 Karlsruhe
			</p>
			<p class="mb-8 font-light">
				Handelsregister: HRA 104793<br />
				Registergericht: Amtsgericht Mannheim
			</p>
			<p class="mb-2 font-light">
				<strong class="font-normal">Vertreten durch die Komplementärin:</strong><br />
				synyx Verwaltung GmbH<br />
				Gartenstraße 67<br />
				76135 Karlsruhe
			</p>
			<p class="mb-2 font-light">
				Diese vertreten durch die Geschäftsführer:<br />
				Thomas Kraft, Markus Daniel, Joachim Arrasz
			</p>
			<p class="mb-12 font-light">
				Registernummer: HRB 107250<br />
				Registergericht: Amtsgericht Mannheim
			</p>
			<h2 class="text-2xl mb-4 font-medium">Kontakt</h2>
			<p class="mb-12 font-light">
				Telefon: <a href="tel:+497212038230">+49 721 203823-0</a><br />
				Telefax: +49 721 203823-12<br />
				E-Mail:&nbsp;
				<a href="mailto:info@synyx.de" class="underline">
					info@synyx.de
				</a>
			</p>
			<h2 class="text-2xl mb-4 font-medium">Umsatzsteuer-ID</h2>
			<p class="mb-2 font-light">
				Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
				DE249264296
			</p>
			<p class="mb-2 font-light">
				Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
				vor einer Verbraucherschlichtungsstelle teilzunehmen.
			</p>
		</div>
	</div>
</main>

{{> footer}}

{{/inline}}
{{/_html}}
