{{#> _html }}

{{#*inline "pre"}}
<link rel="preload" href="/static/frontpage.js" as="script" />
<link rel="preload" href="/static/001-kalender.png" as="image" media="(max-width: 639px)" />
<link rel="preload" href="/static/002-urlaubsantraege.png" as="image" media="(max-width: 639px)" />
<link rel="preload" href="/static/003-krankmeldungen.png" as="image" media="(max-width: 639px)" />
<link rel="preload" href="/static/004-abteilung.png" as="image" media="(max-width: 639px)" />
<link rel="preload" href="/static/005-externe-kalender.png" as="image" media="(max-width: 639px)" />
<link rel="preload" href="/static/001-kalender_wide.png" as="image" media="(min-width: 640px)" />
<link rel="preload" href="/static/002-urlaubsantraege_wide.png" as="image" media="(min-width: 640px)" />
<link rel="preload" href="/static/003-krankmeldungen_wide.png" as="image" media="(min-width: 640px)" />
<link rel="preload" href="/static/004-abteilung_wide.png" as="image" media="(min-width: 640px)" />
<link rel="preload" href="/static/005-externe-kalender_wide.png" as="image" media="(min-width: 640px)" />
{{/inline}}

{{#*inline "scripts"}}
<script defer src="/static/frontpage.js" type="module"></script>
{{/inline}}

{{#*inline "content"}}
<div id="overlay" class="absolute top-0 left-0 right-0 bg-blue-300 z-50" style="background: rgba(144, 205, 244, 0.75);">
	<header class="w-full h-screen flex flex-col items-center justify-center">
		<h1 class="overlay-title">
			Urlaubsverwaltung geht auch anders!
		</h1>
		<p class="overlay-text max-w-4xl order-first">
			Schluss mit Papierchaos und langweiliger Software.
		</p>
		<div class="max-w-4xl px-4 md:px-0 w-2/3 sm:w-1/2 md:w-1/3">
			<a id="overlay-arrow-link" href="#features" class="block landingpage-arrow">
				<svg class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 18" preserveAspectRatio="none" class=""
					width="328" height="46" fill="white">
					<path d="M0 0 L32 16 L64 0 L32 18" />
				</svg>
			</a>
		</div>
		{{> navigation class="absolute bottom-0 left-0 right-0 z-50"}}
	</header>
</div>
<div id="main-content" style="transform: translateY(100vh);">
	<main class="mb-16 md:mb-48">
		<section class="mb-24 md:mb-48 mx-auto max-w-10xl relative">
			<h2 id="features" class="visually-hidden">Features</h2>
			<div class="relative mb-8 sm:mb-12">
				<picture class="">
					<source media="(min-width: 640px)" srcset="/static/001-kalender_wide.png" />
					<img id="img-001" src="/static/001-kalender.png" alt="Kalender, der alle Abwesenheiten anzeigt." width="1140"
						height="631" class="feature-screenshot" />
				</picture>
				<div class="feature-card feature-card--clearness" data-card-for="#img-001">
					<strong class="feature-card-title">Kalendarische Übersicht</strong>
					<span class="bear-icon hidden lg:block lg:float-right"></span>
					<span class="feature-card-text lg:flex-1">
						Wann ist welcher Feiertag? Wie hast du deinen Urlaub verplant? Wann
						warst du krank? Bei uns hast du immer alles im Blick.
					</span>
				</div>
			</div>
			<div class="relative mb-8 sm:mb-12">
				<picture class="">
					<source media="(min-width: 640px)" srcset="/static/002-urlaubsantraege_wide.png" />
					<img id="img-002" src="/static/002-urlaubsantraege.png" alt="Auflistung der Urlaubsanträge." width="1140"
						height="766" class="feature-screenshot" />
				</picture>
				<div class="feature-card feature-card--categories" data-card-for="#img-002">
					<strong class="feature-card-title">Urlaubsanträge</strong>
					<span class="bear-icon hidden lg:block lg:float-right"></span>
					<span class="feature-card-text lg:flex-1">
						Direkt sehen, welche Urlaubsanträge wann genehmigt wurden. Neben dem
						Erholungsurlaub gibt es außerdem weitere Kategorien wie Sonderurlaub
						oder Überstundenabbau.
					</span>
				</div>
			</div>
			<div class="relative mb-8 sm:mb-12">
				<picture class="">
					<source media="(min-width: 640px)" srcset="/static/003-krankmeldungen_wide.png" />
					<img id="img-003" src="/static/003-krankmeldungen.png"
						alt="Auflistung der Krankmeldungen und Kind-Krankheitstage." width="1140" height="480"
						class="feature-screenshot" />
				</picture>
				<div class="feature-card feature-card--sicknote" data-card-for="#img-003">
					<strong class="feature-card-title">Krankmeldungen</strong>
					<span class="bear-icon hidden lg:block lg:float-right"></span>
					<span class="feature-card-text lg:flex-1">
						Sensible Daten wie Krankmeldungen sehen nur du und Benutzer mit
						besonderen Berechtigungen. Kind-Krankheitstage werden nach deutschem
						Recht gesondert aufgeführt.
					</span>
				</div>
			</div>
			<div class="relative mb-8 sm:mb-12">
				<picture class="">
					<source media="(min-width: 640px)" srcset="/static/004-abteilung_wide.png" />
					<img id="img-004" src="/static/004-abteilung.png"
						alt="Kalender, der Abwesenheiten der Kollegen in meiner Abteilung anzeigt." width="1139" height="479"
						class="feature-screenshot" />
				</picture>
				<div class="feature-card feature-card--department" data-card-for="#img-004">
					<strong class="feature-card-title">Abteilungen</strong>
					<span class="bear-icon hidden lg:block lg:float-right"></span>
					<span class="feature-card-text lg:flex-1">
						Die Zuordnung von Benutzern zu Abteilungen ermöglicht eine
						übersichtliche Urlaubsplanung und sogar einen mehrstufigen
						Freigabeprozess für Urlaubsanträge.
					</span>
				</div>
			</div>
			<div class="relative">
				<picture class="">
					<source media="(min-width: 640px)" srcset="/static/005-externe-kalender_wide.png" />
					<img id="img-005" src="/static/005-externe-kalender.png"
						alt="Integration von externen Kalendern wie z. B. Microsoft Exchange." width="1140" height="764"
						class="feature-screenshot" />
				</picture>
				<div class="feature-card feature-card--externalcalendars" data-card-for="#img-005">
					<strong class="feature-card-title">Externe Kalender</strong>
					<span class="bear-icon hidden lg:block lg:float-right"></span>
					<span class="feature-card-text lg:flex-1">
						Du kannst die Urlaubsverwaltung an Microsoft Exchange oder den
						Google Kalender anbinden, um Abwesenheiten synchronisieren zu
						lassen.
					</span>
				</div>
			</div>
		</section>
		<section class="text-blue-900 mb-24 md:mb-32 py-12 sm:py-16 md:py-32 xl:py-32 relative">
			<div class="bg-blue-200 shadow-inner h-full w-full absolute top-0" style="transform: skewY(9deg); z-index: -1">
			</div>
			<div class="max-w-6xl px-4 md:px-12 lg:px-24 mx-auto">
				<h2 id="testphase" class="text-3xl md:text-3xl lg:text-4xl mb-10 -mt-8 sm:-mt-16 md:-mt-20 lg:-mt-24">
					Kostenlos Testen
				</h2>
				<p class="mb-6 text-lg md:text-xl">
					Mache dir selbst ein Bild und teste die Urlaubsverwaltung 30 Tage kostenlos.
				</p>
				<ul class="ml-4 list-outside list-disc text-lg md:text-xl mb-8">
					<li>Völlig unverbindlich</li>
					<li>Daten DSGVO-konform abgesichert</li>
				</ul>
				<a href="https://registry.beta.urlaubsverwaltung.cloud"
					class="inline-block bg-blue-600 text-blue-100 px-4 py-2 font-light rounded-md">
					Jetzt kostenlos testen
				</a>
			</div>
		</section>
		<section class="mb-24 md:mb-40 mx-auto max-w-10xl">
			<h2 class="text-3xl md:text-5xl mb-12 text-center">
				Urlaubsverwaltung <span class="text-red-600">♥️</span> Open Source
			</h2>
			<ul class="mb-12 flex flex-wrap justify-center">
				<li class="mr-2 mb-2">
					<a href="https://github.com/synyx/urlaubsverwaltung/actions?query=workflow%3A%22Urlaubsverwaltung+CI%22"
						class="block">
						<img src="https://github.com/synyx/urlaubsverwaltung/workflows/Urlaubsverwaltung%20CI/badge.svg"
							alt="Build Status" />
					</a>
				</li>
				<li class="mr-2 mb-2">
					<a href="https://sonarcloud.io/dashboard?id=org.synyx:urlaubsverwaltung" class="block">
						<img
							src="https://sonarcloud.io/api/project_badges/measure?project=org.synyx:urlaubsverwaltung&metric=coverage"
							alt="Sonarcloud Status" />
					</a>
				</li>
				<li class="mr-2 mb-2">
					<a href="https://hub.docker.com/r/synyx/urlaubsverwaltung" class="block">
						<img src="https://img.shields.io/docker/pulls/synyx/urlaubsverwaltung.svg" alt="Docker Pulls" />
					</a>
				</li>

				<li class="">
					<a href="https://github.com/synyx/urlaubsverwaltung/releases/latest" class="block">
						<img src="https://img.shields.io/github/downloads/synyx/urlaubsverwaltung/total.svg"
							alt="Total Downloads" />
					</a>
				</li>
			</ul>
			<div class="relative px-4">
				<div class="feature-card feature-card--customfeatures mb-8">
					<strong class="feature-card-title">Wünsche?</strong>
					<span class="bear-icon hidden lg:block lg:float-right"></span>
					<span class="feature-card-text lg:flex-1">
						Der Urlaubsverwaltung fehlt noch ein wichtiges Feature? Melde dich
						bei uns und wir schauen gemeinsam, wie wir deinen Wunsch einfließen
						lassen können.
					</span>
				</div>
				<div class="feature-card feature-card--opensource">
					<strong class="feature-card-title">Open Source</strong>
					<span class="bear-icon hidden lg:block lg:float-right"></span>
					<span class="feature-card-text lg:flex-1">
						Du möchtest deine Daten nicht in der Cloud haben? Die
						Urlaubsverwaltung ist und bleibt Open Source. Gerne helfen wir dir
						bei der lokalen Einrichtung.
					</span>
				</div>
				<picture class="hidden md:block">
					<source media="(min-width: 1024px)" srcset="/static/uv-github_md_wide.png" />
					<img src="/static/uv-github_md.png" alt="Github Seite der Urlaubsverwaltung" width="980" height="2508"
						class="mx-auto w-full opacity-50 px-2 lg:px-0" />
				</picture>
			</div>
		</section>
		<section class="mx-auto max-w-6xl relative">
			<h2 id="prices" class="text-4xl md:text-5xl mb-4 px-4">
				Preise
			</h2>
			<p class="text-2xl mb-12 px-4 text-gray-900 font-light">
				Preisgestaltung so einfach wie die Urlaubsverwaltung. Ein Paket, ein Preis.
			</p>
			<div class="border border-gray-300 py-8 px-4 mb-12 mx-4 text-2xl text-gray-900 bg-blue-100 sm:text-center font-light">
				<p class="mb-4 flex items-center sm:justify-center">
					<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current mr-2">
						<path style="fill-rule: evenodd;"
							d="M16.8792928,9.09695343 C18.6654343,9.4976045 20,11.09295 20,13 C20,15.209139 18.209139,17 16,17 L5,17 C2.23857625,17 0,14.7614237 0,12 C0,9.58046798 1.71857515,7.56233069 4.00162508,7.09968852 C4.00054449,7.06659179 4,7.03335948 4,7 C4,5.34314575 5.34314575,4 7,4 C7.55384606,4 8.07263826,4.1500834 8.51792503,4.41179863 C9.4182103,3.53797709 10.6462795,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,8.37684164 16.9583108,8.74394625 16.8792928,9.09695343 Z">
						</path>
					</svg>
					&nbsp;<span class="">30 Tage testen</span>
				</p>
				<p class="mb-6">
					Melde dich kostenlos und völlig unverbindlich an.<br />
				</p>
				<p class="">
					<a href="https://registry.beta.urlaubsverwaltung.cloud"
						class="inline-block bg-blue-600 text-blue-100 px-4 py-2 font-light rounded-md text-lg">
						Jetzt kostenlos testen
					</a>
				</p>
			</div>
			<p class="px-4 text-2xl text-gray-900 font-light">
				Nach der kostenlosen Testphase
				<span class="font-medium">
					1,50€
				</span>
				pro Monat pro Mitarbeiter zzgl. gesetzlich geltender MwSt.
			</p>
			<p class="hidden mx-auto max-w-3xl px-4 md:px-8 text-base font-light">
				Dir fehlt noch ein wichtiges Feature in der Urlaubsverwaltung? Schreib
				uns eine
				<a href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage%20Feature" class="underline">E-Mail</a>
				oder erstelle direkt ein Issue auf
				<a href="https://github.com/synyx/urlaubsverwaltung" rel="noopener noreferrer" class="underline">Github</a>.
			</p>
		</section>
	</main>
	{{> footer}}
</div>
{{/inline}}

{{/_html}}
