@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		--scroll-padding-top: 8rem;
		height: 100%;
		scroll-padding-top: var(--scroll-padding-top);
	}

	html,
	body {
		font-family: Lato, sans-serif;
		font-weight: 400;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: Raleway, sans-serif;
		font-weight: 700;
	}

	/* e.g. agb, impressum, ... */
	article {
		h1 {
			@apply text-2xl;
			@apply font-medium;
			@apply mb-4;
		}

		@screen xs {
			h1 {
				@apply text-3xl;
			}
		}

		h2 {
			@apply text-2xl;
			@apply font-medium;
			@apply mt-16;
			@apply mb-4;
		}

		h1 + h2 {
			/* @apply mt-8; */
		}

		h3,
		h4 {
			@apply text-base;
			@apply font-medium;
			@apply mt-4;
			@apply mb-2;
		}

		p {
			@apply mb-2;
		}

		ul {
			@apply list-inside;
			@apply list-disc;
			@apply my-4;
		}

		a {
			@apply underline;
		}
	}
}

@layer components {
	.top-anchor {
		margin-top: calc(
			-1 * var(--scroll-padding-top) + 4rem
		); /* 4rem height of navigation */
		margin-bottom: var(--scroll-padding-top);
	}

	.to-top-button {
		padding: 1rem;
		border-radius: 99999px;
		background-image: conic-gradient(at top right, lightcyan, lightblue);
		@apply shadow-lg;
	}
	.to-top-button:hover,
	.to-top-button:focus {
		@apply shadow-xl;
	}

	.keyword {
		@apply inline-block;
		@apply underline;
		@apply underline-offset-2;
		@apply decoration-4;
		@apply transition-all;
		&.keyword--cyan {
			@apply decoration-cyan-200;
		}
		&.keyword--yellow {
			@apply decoration-yellow-200;
		}
	}
	a > .keyword:hover {
		@apply decoration-4;
		@apply -skew-x-12;
		&.keyword--yellow {
			@apply decoration-yellow-300;
		}
		&.keyword--cyan {
			@apply decoration-cyan-300;
		}
	}
}

@layer utilities {
	[class*="backdrop-"] {
		background-color: rgba(255, 255, 255, 0.9);
	}

	@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
		[class*="backdrop-"] {
			--uv-backdrop-blur: 0;
			--uv-backdrop-saturate: 0;
			-webkit-backdrop-filter: saturate(var(--uv-backdrop-saturate))
				blur(var(--uv-backdrop-blur));
			backdrop-filter: saturate(var(--uv-backdrop-saturate))
				blur(var(--uv-backdrop-blur));
			background-color: rgba(255, 255, 255, 0.72);
		}
		.backdrop-blur {
			--uv-backdrop-blur: 20px;
		}
		.backdrop-saturate {
			--uv-backdrop-saturate: 180%;
		}
	}
}

@layer components {
	.zammad-chat-welcome {
		display: flex;
	}

	.zammad-chat-welcome-text {
		margin-left: 3px;
	}

	#menu-toggle-checkbox + div > label ~ nav {
		background-color: transparent;
	}
	#menu-toggle-checkbox:checked + div > label ~ nav {
		--tw-translate-x: 0;
		background-color: white;
	}

	#menu-toggle-checkbox:checked + div + div {
		--tw-translate-x: 0;
	}

	@screen navbar {
		#menu-toggle-checkbox:checked + div > label ~ nav {
			background-color: transparent;
		}
	}

	#menu-toggle-checkbox + div > label > span:first-child {
		width: 30px;
		height: 18px;
		position: relative;
	}

	#menu-toggle-checkbox + div > label > span > span {
		padding: 0;
		width: 30px;
		height: 4px;
		display: block;
		border-radius: 4px;
		transition: all 0.4s ease-in-out;
		position: absolute;
		background-color: #353535;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(1) {
		top: 0;
		transition:
			all 0.4s ease-in-out,
			transform 0.4s ease-in-out 0.4s;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(2) {
		top: 6.5px;
		width: 1px;
		transform: rotate(90deg);
		left: 6.5px;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(3) {
		top: 6.5px;
		right: 0;
		width: 1px;
		left: 6.5px;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(4) {
		bottom: 0;
		top: 6.5px;
	}

	#menu-toggle-checkbox + div > label > span > span:nth-child(5) {
		bottom: 0;
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(1) {
		top: 6.5px;
		background-color: transparent;
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(2) {
		left: 0;
		width: 30px;
		transform: rotate(45deg);
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(3) {
		left: 0;
		width: 30px;
		transform: rotate(-45deg);
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(4) {
		background-color: transparent !important;
	}

	#menu-toggle-checkbox:checked + div > label > span > span:nth-child(5) {
		bottom: 6.5px;
		background-color: transparent !important;
	}

	.navigation-item {
		position: relative;
		display: flex;
		align-items: center;
	}

	.navigation-item.active::before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-left: 8px solid theme("colors.amber.300");
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		margin-left: -1rem;
	}

	@screen navbar {
		.navigation-item {
			display: block;
		}
		.navigation-item.active::before {
			display: none;
		}
		.navigation-item.active::after {
			width: 0;
			height: 0;
			position: absolute;
			content: "";
			display: block;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid theme("colors.amber.300");
			left: 50%;
			margin-left: -8px;
		}
	}
}
