<nav class="flex flex-wrap justify-between bg-blue-700 text-white py-2 {{#if class}}{{class}}{{/if}}">
	<ul class="flex w-full max-w-6xl mx-auto">
		<li class="mx-2">
			<a href="/#features" class="block py-1 px-3 hover:underline font-light">
				Features
			</a>
		</li>
		<li class="mr-2">
			<a href="/#betaphase" class="block py-1 px-3 hover:underline font-light">
				Beta-Phase
			</a>
		</li>
		<li class="mr-2">
			<a href="/#prices" class="block py-1 px-3 hover:underline font-light">
				Preise
			</a>
		</li>
		<li>
			<a href="/demo" class="block py-1 px-3 hover:underline font-light">
				Demo
			</a>
		</li>
	</ul>
</nav>
