.datenschutz-container {
}

.datenschutz-container h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.875rem;
}

.datenschutz-container h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.datenschutz-container h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.datenschutz-container strong {
  font-family: Oswald, sans-serif;
}

.datenschutz-container p {
  margin-bottom: 0.5rem;
}

.datenschutz-container address {
  margin-bottom: 0.5rem;
}

.datenschutz-container ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  list-style-type: disc;
}

.benefits-grid {
}

.benefit-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  /* hacky hack: move title below the image */
  transform: translateY(128px);
}

.benefit-title,
.benefit-description {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.benefit-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.benefit-description:last-child {
  margin-bottom: 0;
}

.benefit-description-text {
  text-align: center;
}

.benefit-image {
  width: 128px;
  height: 128px;
  /* hacky hack: move image above the title */
  transform: translateY(-48px);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .benefit-title {
    transform: translateY(calc(128px + 6px));
  }

  .benefit-image {
    transform: translateY(-64px);
  }

  .benefits-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .benefit-title:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .benefit-description-text:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
  }

  .benefit-title:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .benefit-description-text:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
  }

  .benefit-title:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .benefit-description-text:nth-of-type(3) {
    grid-column: 1;
    grid-row: 4;
  }

  .benefit-title:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }

  .benefit-description-text:nth-of-type(4) {
    grid-column: 2;
    grid-row: 4;
  }

  .benefit-title:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
  }

  .benefit-description-text:nth-of-type(5) {
    grid-column: 1;
    grid-row: 6;
  }

  .benefit-title:nth-of-type(6) {
    grid-column: 2;
    grid-row: 5;
  }

  .benefit-description-text:nth-of-type(6) {
    grid-column: 2;
    grid-row: 6;
  }
}

@media (min-width: 1024px) {
  .benefit-title {
    transform: translateY(calc(128px + 12px));
  }

  .benefits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  .benefit-title:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .benefit-description-text:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
  }

  .benefit-title:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .benefit-description-text:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
  }

  .benefit-title:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
  }

  .benefit-description-text:nth-of-type(3) {
    grid-column: 3;
    grid-row: 2;
  }

  .benefit-title:nth-of-type(4) {
    grid-column: 1;
    grid-row: 3;
  }

  .benefit-description-text:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .benefit-title:nth-of-type(5) {
    grid-column: 2;
    grid-row: 3;
  }

  .benefit-description-text:nth-of-type(5) {
    grid-column: 2;
    grid-row: 4;
  }

  .benefit-title:nth-of-type(6) {
    grid-column: 3;
    grid-row: 3;
  }

  .benefit-description-text:nth-of-type(6) {
    grid-column: 3;
    grid-row: 4;
  }
}

@media (min-width: 1280px) {
}

.frontpage-stage {
  overflow: hidden;
  position: relative;
  height: 46rem;
}

@media screen and (min-width: 480px) {
  .frontpage-stage {
    height: 38rem;
  }
}

.overscan-frontpage-stage {
  z-index: -1;
  background-color: #59c4ed;
  background-image: url(/_next/static/images/frontpage-background-99866a58da5085ae314ec2d192d24bf8.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 101%;
  left: -0.5%;
  position: absolute;
  top: -0.5%;
  width: 101%;
}

.newsletter-iframe {
  height: 237px;
}

@media screen and (min-width: 324px) {
  .newsletter-iframe {
    height: 214px;
  }
}

@media screen and (min-width: 370px) {
  .newsletter-iframe {
    height: 191px;
  }
}

@media screen and (min-width: 480px) {
  .newsletter-iframe {
    height: 140px;
  }
}

@media screen and (min-width: 516px) {
  .newsletter-iframe {
    height: 117px;
  }
}

@media screen and (min-width: 768px) {
  .newsletter-iframe {
    height: 198px;
  }
}

@media screen and (min-width: 800px) {
  .newsletter-iframe {
    height: 140px;
  }
}

@media screen and (min-width: 854px) {
  .newsletter-iframe {
    height: 117px;
  }
}

@media (min-width: 640px) {
  .frontpage-stage {
    height: 40rem;
  }
}

@media (min-width: 768px) {
  .frontpage-stage {
    height: 45rem;
  }
}

@media (min-width: 1024px) {
  .frontpage-stage {
    height: 50rem;
  }
}

@media (min-width: 1280px) {
  .frontpage-stage {
  }
}

