@tailwind base;
@tailwind components;

html {
	height: 100%;
}

body {
	/* navigation height */
	/* padding-top: 48px; */
}

@screen md {
	body {
		/* padding-top: 0; */
	}
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* added line */
}

.landingpage-arrow {
	animation: pulse infinite 2s;
	animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes pulse {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(4px);
	}
	0% {
		transform: translateY(0);
	}
}

.max-w-7xl {
	max-width: 80rem;
}
.max-w-8xl {
	max-width: 88rem;
}
.max-w-9xl {
	max-width: 96rem;
}
.max-w-10xl {
	max-width: 104rem;
}

.overlay-title {
	word-break: break-word;
	font-size: 16px;
	font-size: calc(16px + 3vh);
	margin-bottom: calc(1em + 3vh);
	@apply block;
	@apply font-bold;
	@apply text-center;
	@apply text-blue-900;
	@apply max-w-6xl;
	@apply px-4;
}
.overlay-text {
	font-size: 16px;
	font-size: calc(16px + 1vh);
	margin-bottom: calc(1em + 3vh);
	@apply text-center;
	@apply text-blue-900;
	@apply px-4;
}

@screen md {
	.overlay-title {
		font-size: 18px;
		font-size: calc(18px + 3vh);
	}
	.overlay-text {
		font-size: 16px;
		font-size: calc(16px + 1vh);
		@apply w-full;
	}
}

.feature-screenshot {
	@apply mx-auto;
	@apply mb-6;
	@apply py-2;
	@apply px-4;
	@apply w-full;
	@apply rounded-sm;
}

@screen sm {
	.feature-screenshot {
		@apply py-0;
		@apply px-0;
		@apply border-none;
		@apply rounded-none;
	}
}

@screen md {
	.feature-screenshot {
		@apply opacity-50;
	}
}

.feature-card {
	position: relative;
	@apply z-50;
	@apply px-4;
}

@screen sm {
	.feature-card {
		@apply px-24;
	}
}

@screen md {
	.feature-card {
		@apply w-2/5;
		@apply shadow-xl;
		@apply rounded;
		@apply rounded;
		@apply bg-blue-200;
		@apply py-4;
		@apply px-4;
	}
}

.feature-card-title {
	@apply block;
	@apply mb-3;
	@apply font-medium;
	@apply text-blue-800;
}

.feature-card-text {
	@apply text-xl;
	@apply font-light;
	@apply text-gray-900;
}

@screen md {
	.feature-card-title {
		@apply text-xl;
	}

	.feature-card-text {
		@apply text-lg;
	}

	.feature-card--clearness {
		position: absolute;
		bottom: 0;
		right: 12%;
	}
	.feature-card--categories {
		position: absolute;
		bottom: 0;
		left: 12%;
	}
	.feature-card--sicknote {
		position: absolute;
		bottom: 0;
		right: 12%;
	}
	.feature-card--department {
		position: absolute;
		bottom: 0;
		left: 12%;
	}
	.feature-card--ical {
		position: absolute;
		bottom: 0;
		right: 12%;
	}

	.feature-card--opensource {
		position: absolute;
		top: 14%;
		right: 6%;
	}
	.feature-card--customfeatures {
		position: absolute;
		top: 57%;
		left: 6%;
	}
}

@screen lg {
	.feature-card {
		@apply w-1/3;
		max-width: 26rem; /* 26rem = 416px with 16px base font size */
	}

	.bear-icon {
		display: inline-block;
		width: 64px;
		height: 64px;
		background-image: url(/static/bear.svg);
		background-size: cover;
		@apply ml-4;
	}
}

@tailwind utilities;
