.frontpage-stage {
	overflow: hidden;
	position: relative;
	height: 38rem;
}

.overscan-frontpage-stage {
	z-index: -1;
	background-color: #59c4ed;
	background-image: url("./frontpage-background.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	height: 101%;
	left: -0.5%;
	position: absolute;
	top: -0.5%;
	width: 101%;
}

.newsletter-iframe {
	height: 184px;
}
@media screen and (min-width: 494px) {
	.newsletter-iframe {
		height: 102px;
	}
}
@media screen and (min-width: 768px) {
	.newsletter-iframe {
		height: 166px;
	}
}
@media screen and (min-width: 800px) {
	.newsletter-iframe {
		height: 120px;
	}
}
@media screen and (min-width: 800px) {
	.newsletter-iframe {
		height: 102px;
	}
}

@screen sm {
	.frontpage-stage {
		height: 40rem;
	}
}

@screen md {
	.frontpage-stage {
		height: 45rem;
	}
}

@screen lg {
	.frontpage-stage {
		height: 50rem;
	}
}

@screen xl {
	.frontpage-stage {
	}
}
