.frontpage-stage {
	overflow: hidden;
	position: relative;
	height: 38rem;
}

.overscan-frontpage-stage {
	z-index: -1;
	background-color: #59c4ed;
	background-image: url("./frontpage-background.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	height: 101%;
	left: -0.5%;
	position: absolute;
	top: -0.5%;
	width: 101%;
}

.newsletter-iframe {
	height: 208px;
}

/* newsletter-iframe-form is in displayed as row */
@media screen and (min-width: 325px) {
	.newsletter-iframe {
		height: 190px;
	}
}
/* newsletter-iframe-form is in displayed as row */
@media screen and (min-width: 357px) {
	.newsletter-iframe {
		height: 165px;
	}
}
/* newsletter-iframe-form is in displayed as row */
@media screen and (min-width: 480px) {
	.newsletter-iframe {
		height: 120px;
	}
}
/* newsletter-iframe-form is in displayed as row */
@media screen and (min-width: 606px) {
	.newsletter-iframe {
		height: 92px;
	}
}
/* newsletter-iframe-form is in displayed as column */
@media screen and (min-width: 768px) {
	.newsletter-iframe {
		height: 164px;
	}
}
/* newsletter-iframe-form is in displayed as row */
@media screen and (min-width: 768px) {
	.newsletter-iframe {
		height: 114px;
	}
}
/* newsletter-iframe-form is in displayed as row */
@media screen and (min-width: 989px) {
	.newsletter-iframe {
		height: 92px;
	}
}

@screen sm {
	.frontpage-stage {
		height: 40rem;
	}
}

@screen md {
	.frontpage-stage {
		height: 45rem;
	}
}

@screen lg {
	.frontpage-stage {
		height: 50rem;
	}
}

@screen xl {
	.frontpage-stage {
	}
}
