---
layout: layout-subpage.hbs
backgroundColor: bg-sky-50
title: Datenschutz als Fundament
description: Erfahre alles über unseren DSGVO-konformen Datenschutz. Alle relevanten Informationen für deinen Datenschutzbeauftragten an einem Ort. Transparent und aktuell. 
stylesheets:
- /static/css/digitale-souveraenitaet.css
---

<div class="flex flex-col md:flex-row">
	<div class="md:w-1/3 max-w-sm md:mr-10 pr-8">
		<div id="definition" class="text-3xl font-bold mb-6 md:mb-12">
			<h1>
				Datenschutz <br/>
				als Fundament
			</h1>
		</div>
		<div>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/datenschutz/#data-privacy-by-design-und-data-privacy-by-default">1. Data Privacy by Design und Data
					Privacy by Default</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/datenschutz/#serverstandort-deutschland">2. Serverstandort: Deutschland</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/datenschutz/#unser-datenschutzkonzept">3. Unser Datenschutzkonzept</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/datenschutz/#technische-und-organisatorische-massnahmen">4. Technische und organisatorische
					Maßnahmen</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/datenschutz/#ein-aktueller-auftragsverarbeitungsvertrag">5. Ein aktueller
					Auftragsverarbeitungsvertrag</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/datenschutz/#risikoeinschaetzung-und-datenschutz-folgeabschaetzung">6. Risikoeinschätzung und
					Datenschutz-Folgeabschätzung</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/datenschutz/#ein-durchdachtes-loeschkonzept">7. Ein durchdachtes Löschkonzept</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/datenschutz/#ein-bewusster-datenverarbeitungsfluss">8. Ein bewusster Datenverarbeitungsfluss</a>
			</p>
			<p class="mb-4 text-black text-opacity-80">
				<a href="/datenschutz/#mitarbeiterschulungen">9. Mitarbeiterschulungen</a>
			</p>
		</div>
	</div>

	<div class="flex-1 mb-8 md:mb-0">
		<div id="opener"
				 class="uebersicht-card-border flex flex-col md:flex-row gap-8">
			<div class="flex-1 flex flex-col text-lg">
				<p class="py-2">
					Öffentliche Einrichtungen mit besonderen Datenschutzanforderungen<br/>
					können sich nicht irren!
				</p>
				<p class="py-2">
					9 Datenschutz-Gründe für die urlaubsverwaltung.cloud
				</p>
			</div>
		</div>

		<div id="data-privacy-by-design-und-data-privacy-by-default" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">1. Data Privacy by Design und Data Privacy by Default</h2>
			<p class="py-2 italic">
				"Haben die Mitarbeitenden das berechtigte Interesse diese Daten zu sehen?"
			</p>
			<p class="py-2">
				Das ist die allgegenwärtige Frage,
				die uns beim Entwickeln von Funktionen und Prozessen leitet. Es hat Auswirkungen auf Anwender, je nach dem
				in welcher Rolle sie die Software verwenden und wie das Unternehmen organisiert und damit auch in der Software
				abgebildet ist.
			</p>
			<p class="py-2">
				Die Standardkonfiguration der Urlaubsverwaltung ist so ausgelegt, dass sie den Anforderungen der
				Datenschutz-Grundverordnung (DSGVO) entspricht.
				Ein firmenweiter Kalender ist zunächst nicht sichtbar, da die einzelnen Abteilungen den ersten Schutzraum für die
				personenbezogenen Daten der Mitarbeitenden bilden.
				Die Aktivierung eines firmenweiten Kalenders ist in der Regel nur für kleinere Unternehmen sinnvoll.
				Auch die Anzeige des Abwesenheitsgrundes ist abhängig von der jeweiligen Rolle unterschiedlich transparent gestaltet
				und muss stets mit besonderer Sorgfalt behandelt werden.
			</p>
			<p class="py-2">
				Es werden nur die Daten erhoben, die für den Zweck der Software notwendig sind -
				damit Prozesse abgebildet und Entscheidungen getroffen werden können.
			</p>
		</div>

		<div id="serverstandort-deutschland" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">2. Serverstandort: Deutschland</h2>
			<ul class="grid grid-cols-1 md:grid-cols-2 justify-items-center lg:grid-cols-2">

				<li class="w-full max-w-sm my-auto text-center">
					{{> partials/hetzner}}
				</li>

				<li class="w-full max-w-sm my-auto text-left">
					<p class="py-2">
						Surft man durch das Internet, ist einem oft nicht bewusst, in welchen Ländern die abgerufenen und
						abgesendeten Daten verarbeitet werden.
						Dabei fängt Datenschutz schon bei der Wahl des Serverstandortes an. Denn überall dort, wo Daten verarbeitet
						werden,
						gelten die Datenschutzgesetze des jeweiligen Landes.
					</p>
					<p class="py-2">
						Die Urlaubsverwaltung wird im <a href="https://www.hetzner.com/de/unternehmen/zertifizierung/">ISO 27001
						zertifizierten Datenzentrum</a> von Hetzner in Deutschland gehostet
						und betrieben. Die Daten werden dort verarbeitet und gespeichert.
					</p>
					<p class="py-2">
						Somit steht der Urlaubsverwaltung nichts im Weg, um auch in deinem Unternehmen eingesetzt zu werden.
					</p>
				</li>
			</ul>
		</div>

		<div id="unser-datenschutzkonzept" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">3. Unser Datenschutzkonzept</h2>
			<p>
				Ein verantwortungsvoller Umgang mit personenbezogenen Daten ist für uns nicht nur eine gesetzliche
				Verpflichtung,
				sondern ein zentraler Bestandteil unserer Unternehmensphilosophie. Unser Datenschutzkonzept verbindet
				Transparenz,
				Sicherheit und Verlässlichkeit, damit du dich jederzeit auf den Schutz deiner Daten verlassen kannst.
			</p>

			<p class="py-2">
				Die Grundpfeiler unseres Datenschutzkonzepts:
			</p>

			<ul class="ml-4 list-disc space-y-2">
				<li>Rechtmäßigkeit & Transparenz: Wir verarbeiten Daten ausschließlich auf klar definierter
					Rechtsgrundlage und machen unsere Prozesse nachvollziehbar.
				</li>
				<li>Datenminimierung & Zweckbindung: Wir erheben und nutzen nur die Daten, die wirklich notwendig sind
					– ausschließlich für den vorgesehenen Zweck.
				</li>
				<li>Verantwortlichkeiten & Prozesse: Interne Rollen und Zuständigkeiten sind klar geregelt, um höchste
					Standards bei Datenschutz und Datensicherheit sicherzustellen.
				</li>
				<li>Kontinuierliche Weiterentwicklung: Unser Datenschutzkonzept wird regelmäßig überprüft und an neue rechtliche
					Anforderungen sowie technische Entwicklungen angepasst.
				</li>
			</ul>

			<p class="py-2">
				So stellen wir sicher, dass der Schutz deiner Daten durch ein nachhaltiges, strukturiertes und gelebtes
				Datenschutzmanagement sichergestellt ist.
			</p>
		</div>

		<div id="technische-und-organisatorische-massnahmen" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">4. Technische und organisatorische Maßnahmen</h2>
			<p class="py-2">
				Der Schutz deiner Daten hat für uns höchste Priorität. Deshalb setzen wir umfangreiche technische und
				organisatorische Maßnahmen (TOMs) um, die den Anforderungen der DSGVO
				entsprechen. Diese Maßnahmen stellen sicher, dass personenbezogene Daten jederzeit vertraulich, integer und
				verfügbar bleiben.

				Unsere TOMs umfassen unter anderem:
			</p>

			<ul class="ml-4 list-disc space-y-2">
				<li>Zugangskontrolle: Strikte Authentifizierungs- und Berechtigungskonzepte verhindern unbefugten
					Zugriff.
				</li>
				<li>Datenverschlüsselung: Sämtliche Daten werden sowohl bei der Übertragung als auch persistiert
					verschlüsselt.
				</li>
				<li>Backup & Recovery: Regelmäßige Backups und ein erprobtes Notfallmanagement sichern die
					Wiederherstellbarkeit.
				</li>
				<li>Monitoring & Protokollierung: Systeme werden kontinuierlich überwacht, sicherheitsrelevante
					Ereignisse protokolliert und ausgewertet.
				</li>
				<li>Regelmäßige Prüfungen: Unsere Prozesse und Systeme werden laufend überprüft und an neue
					Sicherheitsstandards angepasst.
				</li>
			</ul>

			<p class="py-2">
				Alle Maßnahmen sind Teil unseres Auftragsverarbeitungsvertrags und bilden die Grundlage für eine sichere und
				DSGVO-konforme Verarbeitung deiner Daten.
			</p>

		</div>

		<div id="ein-aktueller-auftragsverarbeitungsvertrag" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">5. Ein aktueller Auftragsverarbeitungsvertrag</h2>
			<p class="py-2">
				Unser <a href="https://urlaubsverwaltung.cloud/av-vertrag/">Vertrag zur Auftragsverarbeitung</a> (AVV) ist
				öffentlich einsehbar und muss nicht erst angefordert werden. Die Transparenz darüber welche Arten von Daten und
				wie diese verarbeitet werden, ist uns wichtig. Dabei achten wir auf Datensparsamkeit und Zweckbindung.
			</p>

			<div class="m-3">
				<h3>Kategorien betroffener Personen</h3>
				<ul class="ml-4 list-disc space-y-2">
					<li>Kunden</li>
					<li>Mitarbeitende des Kunden</li>
				</ul>
				Kundendaten dienen der Kommunikation, der Abrechnung sowie der Vertragsdurchführung. Daten der Mitarbeitenden
				des Kunden dienen zur Erfüllung der Leistungsvereinbarung.
			</div>

			<div class="m-3">
				Gegenstand der Verarbeitung personenbezogener Daten der <span class="italic">Kunden</span> sind folgende Datenarten
				<ul class="ml-4 list-disc space-y-2">
					<li>Name</li>
					<li>Adresse</li>
					<li>E-Mail</li>
				</ul>
			</div>

			<div class="m-3">
				Gegenstand der Verarbeitung personenbezogener Daten der <span class="italic">Mitarbeitenden</span> sind folgende Datenarten
				<ul class="ml-4 list-disc space-y-2">
					<li>Personenstammdaten</li>
					<li>Firmenstruktur (z.B. Abteilungen) und Rollen (z.B. Abteilungsleiter)</li>
					<li>Kommunikationsdaten (E-Mail)</li>
					<li>Abwesenheitsdaten</li>
					<li>Krankmeldungen (ohne Grund der Krankmeldung)</li>
					<li>Arbeitszeiten</li>
				</ul>
			</div>

		<h3>Unterauftragnehmer</h3>
			<div class="text-sm">
				<table class="table-auto">
					<thead>
					<tr>
						<th class="px-2 text-left">Unternehmen/Unterauftragnehmer</th>
						<th class="px-2 text-left">Anschrift/Land</th>
						<th class="px-2 text-left">Leistung</th>
						<th class="px-2 text-left">AVV</th>
						<th class="px-2 text-left">Version</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="px-2">MailJet</td>
						<td class="px-2">Alt Moabit 2, 10557
							Berlin, Germany
						</td>
						<td class="px-2">E-Mailversand</td>
						<td class="px-2"><a
							href="https://sinch.com/de/legal/terms-and-conditions/other-sinch-terms-conditions/data-protection-agreement/">AVV</a>
						</td>
						<td class="px-2">Version 6.0</td>
					</tr>
					<tr>
						<td class="px-2">Haufe-Lexware Services GmbH & Co. KG</td>
						<td class="px-2">Munzingerstr. 9. 79111 Freiburg</td>
						<td class="px-2">Buchhaltung und Abrechnung</td>
						<td class="px-2"><a
							href="https://www.lexware.de/fileadmin/support/dokumente/20240207_avv_dsgvo_remotesupport.pdf">AVV</a>
						</td>
						<td class="px-2">03/24</td>
					</tr>
					<tr>
						<td class="px-2">Microsoft</td>
						<td class="px-2">One Microsoft Place
							South County Business Park
							Leopardstown, Dublin 18,
							D18 P521
							Irland
						</td>
						<td class="px-2">Kommunikation</td>
						<td class="px-2"><a
							href="https://www.microsoft.com/licensing/docs/documents/download/MicrosoftProductandServicesDPA(WW)(English)(April2025)(CR).docx">AVV</a>
						</td>
						<td class="px-2">April 1, 2025</td>
					</tr>
					<tr>
						<td class="px-2">Hetzner Online GmbH</td>
						<td class="px-2">Industriestr. 25
							91710 Gunzenhausen
							Deutschland
						</td>
						<td class="px-2">Hosting</td>
						<td class="px-2"><a href="https://www.hetzner.com/AV/DPA_de.pdf">AVV</a></td>
						<td class="px-2">04.12.2020</td>
					</tr>
					<tr>
						<td class="px-2">GoCardless Ltd.</td>
						<td class="px-2">Sutton Yard, Goswell Rd,
							London EC1V 7EN,
							United Kingdom
						</td>
						<td class="px-2">SEPA Zahlungsabwicklung</td>
						<td class="px-2"><a href="https://gocardless.com/privacy/merchants/">AVV</a></td>
						<td class="px-2">26 June 2025</td>
					</tr>
					<tr>
						<td class="px-2">Gravatar*</td>
						<td class="px-2">Automattic, Inc.,
							132 Hawthorne Street,
							San Francisco, CA 94107, USA
						</td>
						<td class="px-2">Anzeige von Profilbildern</td>
						<td class="px-2"><a href="https://automattic.com/privacy/#information-we-collect">AVV</a></td>
						<td class="px-2">August 5, 2025</td>
					</tr>
					</tbody>
				</table>
				<p class="pt-2 italic">
					* Gravatar ist ein optionaler Dienst um Avatarbilder anzuzeigen. Möchte der Kunde diesen optionalen Dienst
					nutzen, muss dafür zuerst ein Gravatar-Konto erstellt werden.
					Es werden keine zusätzlichen Daten an Gravatar übermittelt, lediglich die E-Mail-Adresse auf einem
					verschlüsseltem Weg.
				</p>
				<p class="py-2">
					Details zur Verarbeitung kann der <a href="/datenschutzerklaerung/">Datenschutzerklärung</a> entnommen werden.
				</p>
			</div>
		</div>

		<div id="risikoeinschaetzung-und-datenschutz-folgeabschaetzung" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">6. Risikoeinschätzung und Datenschutz-Folgeabschätzung</h2>
			<p class="py-2">
				Datenschutz bedeutet für uns nicht nur die Einhaltung gesetzlicher Vorgaben, sondern vor allem die aktive
				Vermeidung von Risiken. Deshalb führen wir bei allen relevanten Prozessen eine strukturierte Risikoeinschätzung
				durch. So stellen wir sicher, dass mögliche Gefahren für personenbezogene Daten frühzeitig erkannt und durch
				geeignete Maßnahmen minimiert werden.
			</p>

			<p class="py-2">
				Wenn eine Verarbeitung ein besonders hohes Risiko für die Rechte und Freiheiten von Betroffenen mit sich bringen
				könnte, führen wir eine Datenschutz-Folgenabschätzung (DSFA) nach Art. 35 DSGVO
				durch.

				Dabei prüfen wir systematisch:
			</p>

			<ul class="ml-4 list-disc space-y-2">
				<li>Art, Umfang und Zweck der Datenverarbeitung</li>
				<li>potenzielle Risiken für betroffene Personen</li>
				<li>geeignete technische und organisatorische Schutzmaßnahmen, um diese Risiken zu reduzieren.</li>
			</ul>

			<p class="py-2">
				Durch diesen klar definierten Prozess gewährleisten wir, dass eure Daten jederzeit mit der größtmöglichen
				Sorgfalt behandelt werden – präventiv, transparent und DSGVO-konform.
			</p>
		</div>

		<div id="ein-durchdachtes-loeschkonzept" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">7. Ein durchdachtes Löschkonzept</h2>
			<p class="py-2">
				Personenbezogene Daten sollen nur so lange gespeichert werden, wie es für den jeweiligen Zweck notwendig ist.
				Unser Löschkonzept sorgt dafür, dass dieser Grundsatz der DSGVO
				konsequent umgesetzt wird.
			</p>

			<p class="py-2">
				Die Eckpfeiler unseres Löschkonzepts:
			</p>

			<ul class="ml-4 list-disc space-y-2">
				<li>Klare Aufbewahrungsfristen: Daten werden nur so lange gespeichert, wie es gesetzlich vorgeschrieben
					oder für den vereinbarten Zweck erforderlich ist.
				</li>
				<li>Automatisierte Prozesse: Wo möglich, greifen technische Mechanismen, die die fristgerechte Löschung
					zuverlässig durchführen.
				</li>
				<li>Recht auf Vergessenwerden: Auf Anfrage löschen wir personenbezogene Daten gemäß den gesetzlichen
					Vorgaben unverzüglich.
				</li>
				<li>Dokumentation & Nachvollziehbarkeit: Jeder Löschvorgang wird revisionssicher dokumentiert, um
					höchste Transparenz zu gewährleisten.
				</li>
				<li>Regelmäßige Überprüfung: Unser Löschkonzept wird laufend evaluiert und bei neuen gesetzlichen
					Anforderungen oder technischen Entwicklungen angepasst.
				</li>
			</ul>

			<p class="py-2">
				Damit stellen wir sicher, dass Daten nicht länger als nötig gespeichert werden – effizient und sicher.
			</p>
		</div>

		<div id="ein-bewusster-datenverarbeitungsfluss" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">8. Ein bewusster Datenverarbeitungsfluss</h2>
			<p class="py-2">
				Wir legen größten Wert darauf, dass personenbezogene Daten bei uns klar nachvollziehbar, transparent und sicher
				verarbeitet werden. Jeder Schritt im Datenverarbeitungsfluss ist bewusst gestaltet, dokumentiert und regelmäßig
				überprüft.
			</p>

			<p class="py-2">
				Unsere Leitlinien:
			</p>

			<ul class="ml-4 list-disc space-y-2">
				<li>Transparente Prozesse: Wir halten fest, welche Daten an welchen Stellen erhoben, gespeichert und
					genutzt werden.
				</li>
				<li>Zweckgebundene Verarbeitung: Daten werden ausschließlich für die vorgesehenen und kommunizierten
					Zwecke verarbeitet – nicht mehr und nicht weniger.
				</li>
				<li>Datenminimierung: Wir beschränken die Verarbeitung konsequent auf das notwendige Maß.</li>
				<li>Kontrollierte Schnittstellen: Datenübertragungen zwischen Systemen und Partnern erfolgen
					ausschließlich verschlüsselt und unter strengen Sicherheitsvorkehrungen.
				</li>
				<li>Lückenlose Dokumentation: Alle Verarbeitungstätigkeiten sind gemäß DSGVO erfasst und jederzeit
					nachvollziehbar.
				</li>
			</ul>

			<p class="py-2">
				So stellen wir sicher, dass eure Daten einem durchdachten, sicheren und verantwortungsvollen Fluss folgen – von
				der Erhebung bis zur Löschung.
			</p>
		</div>

		<div id="mitarbeiterschulungen" class="mb-12">
			<h2 class="text-2xl mt-6 mb-3">9. Mitarbeiterschulungen</h2>
			<p class="py-2">
				Alle Mitwirkenden absolvieren jährlich Schulungen zu Datenschutz und IT-Sicherheit.
				Es liegen Zertifikate von allen im Jahr 2025 vor.
			</p>

			<div class="grid grid-cols-2 gap-4">
				<picture>
					<img
						src="static/img/datenschutz/Datenschutz-Zertifikat-Weigel.png"
						alt="CyberSecurity Zertifikat von Andreas Weigel"
						class="rounded-b md:rounded-b-lg xl:rounded-b-2xl"
						width="595"
						height="841"
						fetchpriority="high"
					>
				</picture>
				<picture>
					<img
						src="static/img/datenschutz/CyberSecurity-Zertifikat-Weigel.png"
						alt="CyberSecurity Zertifikat von Andreas Weigel"
						class="rounded-b md:rounded-b-lg xl:rounded-b-2xl"
						width="595"
						height="841"
						fetchpriority="high"
					>
				</picture>
			</div>

			<div class="m-3 mt-12">
				<h4>Die Themen für die Datenschutzschulung sind:</h4>
				<ul class="ml-4 mt-3 list-disc space-y-2">
					<li>
						DSGVO Einführung: Warum ein Datenschutz-Training
						<ul class="ml-4 list-disc space-y-2">
							<li>Datenschutz – was ist das?</li>
							<li>Unterschied zu Informationssicherheit.</li>
							<li>Die EU-Datenschutz-Grundverordnung (DSGVO).</li>
							<li>Personenbezogene Daten.</li>
							<li>Besondere Kategorien personenbezogener Daten.</li>
							<li>Unterschiede zum bisherigen BDSG (Marktortprinzip, Beweislastumkehr, höhere Strafen, etc.).
							</li>
						</ul>
					</li>
					<li>
						Grundlagen der DSGVO
						<ul class="ml-4 list-disc space-y-2">
							<li>Die Grundprinzipien.</li>
							<li>Zweckbindung.</li>
							<li>Datenminimierung.</li>
							<li>Speicherbegrenzung.</li>
							<li>Die Rechte des Betroffenen.</li>
							<li>Wer ist verantwortlich?</li>
							<li>Welche Strukturen fordert die DSGVO?</li>
						</ul>
					</li>
					<li>
						Anforderung im Datenschutz
						<ul class="ml-4 list-disc space-y-2">
							<li>Auftragsverarbeitung nach DSGVO.</li>
							<li>Technische und organisatorische Maßnahmen.</li>
							<li>Auftragsdatenverarbeitung mit Dienstleistern.</li>
							<li>Datenschutz im Marketing.</li>
						</ul>
					</li>
					<li>
						Datenschutz im Alltag - DSGVO im Unternehmen
						<ul class="ml-4 list-disc space-y-2">
							<li>Vertraulichkeit von personenbezogenen Daten.</li>
							<li>Richtiger Umgang und Aufbewahrung.</li>
							<li>Umgang mit Behörden.</li>
							<li>Dateien sicher austauschen und verschlüsseln.</li>
							<li>Hilfreiche Maßnahmen für den Schutz sensibler Daten.</li>
						</ul>
					</li>
					<li>
						Was ist im Notfall zu tun
						<ul class="ml-4 list-disc space-y-2">
							<li>Was ist eine Datenpanne?</li>
							<li>Reale Beispiele von großen Datenpannen.</li>
							<li>Maßnahmen und korrektes Verhalten im Notfall.</li>
							<li>Informations- und Meldepflicht.</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="m-3 mt-12">
				<h4>Die Themen für die IT-Sicherheitsschulung sind:</h4>
				<ul class="ml-4 mt-3 list-disc space-y-2">
					<li>
						Cyber Security Einführung: Warum eine Cyber Security-Schulung?
						<ul class="ml-4 list-disc space-y-2">
							<li>Aktuelle Bedrohungslage.</li>
							<li>Wer sind die Angreifer, was ist ihre Motivation?</li>
							<li>Implementierung einer funktionierenden Informationssicherheit.</li>
							<li>Rolle des Anwenders beim Schutz von Informationen.</li>
						</ul>
					</li>
					<li>
						E-Mail & Phishing
						<ul class="ml-4 list-disc space-y-2">
							<li>Erkennen und Abwehren von Phishing.</li>
							<li>Verschlüsselung sensibler Informationen.</li>
							<li>Viren und Trojaner in E-Mails.</li>
						</ul>
					</li>
					<li>
						Ransomware
						<ul class="ml-4 list-disc space-y-2">
							<li>Was ist Ransomware und warum ist das so gefährlich?</li>
							<li>Tipps zum Schutz im Unternehmen.</li>
							<li>Tipps zum Schutz privater IT.</li>
						</ul>
					</li>
					<li>
						Sichere Passwörter & Passwort-Management
						<ul class="ml-4 list-disc space-y-2">
							<li>Wie funktioniert Passwort-Cracking?</li>
							<li>Starke Passwörter erstellen und merken.</li>
							<li>Passwörter sicher aufbewahren.</li>
						</ul>
					</li>
					<li>
						Social Engineering
						<ul class="ml-4 list-disc space-y-2">
							<li>Was ist Social Engineering?</li>
							<li>Angriffe auf Mitarbeiter enttarnen.</li>
							<li>Social Engineering Angriffe auf Privatpersonen.</li>
						</ul>
					</li>
				</ul>
			</div>

		</div>
		<p>
			<time datetime="2025-09-15">Aktualisiert am 15.09.2025</time>
		</p>

	</div>
</div>

