---
layout: layout
title: Datenschutz
---

<header class="fixed top-0 left-0 right-0 z-50">
	{{> partials/navigation}}
</header>

<main class="flex-1 mb-48 mt-24 text-gray-900 max-w-6xl mx-auto px-4">
	<h1 class="mb-6 text-3xl font-medium">Datenschutz</h1>
	<ul class="list-disc list-inside mb-12">
		<li>
			<a href="#dateschutzerklaerung" class="underline">
				Datenschutz Webseite
			</a>
		</li>
		<li>
			<a href="#dateschutzerklaerung-uv" class="underline">
				Datenschutz Urlaubsverwaltung
			</a>
		</li>
	</ul>
	<section class="mb-24">
		<h2 id="dateschutzerklaerung" class="text-2xl font-medium mb-6">
			Datenschutzerklärung Webseite
		</h2>
		{{> "partials/datenschutz-landingpage"}}
	</section>
	<section>
		<h2 id="dateschutzerklaerung-uv" class="text-2xl font-medium mb-6">
			Datenschutzerklärung für die Urlaubsverwaltung
		</h2>
		{{> "partials/datenschutz-uv"}}
	</section>
</main>

{{> partials/footer}}
