---
layout: layout
backgroundColor: bg-lightBlue-50
---

{{> partials/navigation active="demo" }}

<main class="flex-1 mt-4 md:mt-16 2xl:mt-32 mb-8 md:mb-32 w-full max-w-screen-xl mx-auto">
  <div class="px-4 xl:px-2">
    <h2 class="text-2xl font-bold mb-6" id="live-demo">
      Live Demo
    </h2>
    <p class="xs:text-lg sm:text-xl mb-4 xs:mb-1 md:mb-0">
      Du möchtest dir selbst ein Bild machen?
    </p>
    <p class="xs:text-lg sm:text-xl mb-12">
      Unser Demo-System ist nur einen Klick entfernt. Wähle einfach eine Rolle aus und erkundschafte die Anwendung.
    </p>
    <div class="grid grid-cols-1 gap-4 sm:gap-8 sm:grid-cols-2 md:grid-cols-3">
      <div class="flex flex-col p-4 rounded border border-blue-100 bg-white">
        <p class="mb-2">
          <a href="https://demo.urlaubsverwaltung.cloud/login?username=user&password=secret" class="block text-center px-4 py-2 text-lightBlue-700 hover:text-lightBlue-900 transition-colors">
            <img role="presentation" alt="" src="/static/user.png" class="rounded-full mx-auto w-24 h-24 block mb-2">
            Benutzer
          </a>
        </p>
        <p class="flex-1 mb-2">
          Deinen nächsten Urlaubsantrag stellen, deine verbleibenden Urlaubstage und bisherigen Krankmeldungen überblicken? Behalte jederzeit den Durchblick über all deine Abwesenheiten.
        </p>
        <div class="mt-2">
          <a href="https://demo.urlaubsverwaltung.cloud/login?username=user&password=secret" class="flex items-center px-2 py-1 rounded font-medium bg-yellow-300 text-lightBlue-900 text-opacity-90 hover:text-opacity-100 border border-lightBlue-100 hover:border-blue-200 hover:shadow-md active:shadow">
            als Benutzer zur Urlaubsverwaltung {{> partials/icon-arrow-right class="w-4 h-4 ml-1"}}
          </a>
        </div>
      </div>
      <div class="flex flex-col p-4 rounded border border-blue-100 bg-white">
        <div>
        </div>
        <p class="mb-2">
          <a href="https://demo.urlaubsverwaltung.cloud/login?username=boss&password=secret" class="block text-center px-4 py-2 text-lightBlue-700 hover:text-lightBlue-900 transition-colors">
            <img role="presentation" alt="" src="/static/boss.png" class="rounded-full mx-auto w-24 h-24 block mb-2">
            Chef
          </a>
        </p>
        <p class="flex-1 mb-2">
          Genehmigen oder ablehnen? Verschaffe dir Überblick über die Urlaubsanträge deiner Mitarbeiter und entscheide weise. Denk immer dran, aus großer Macht folgt große Verantwortung.
        </p>
        <div class="mt-2">
          <a href="https://demo.urlaubsverwaltung.cloud/login?username=boss&password=secret" class="flex items-center px-2 py-1 rounded font-medium bg-yellow-300 text-lightBlue-900 text-opacity-90 hover:text-opacity-100 border border-lightBlue-100 hover:border-blue-200 hover:shadow-md active:shadow">
            als Chef zur Urlaubsverwaltung {{> partials/icon-arrow-right class="w-4 h-4 ml-1"}}
          </a>
        </div>
      </div>
      <div class="flex flex-col p-4 rounded border border-blue-100 bg-white">
        <div>
        </div>
        <p class="mb-2">
          <a href="https://demo.urlaubsverwaltung.cloud/login?username=office&password=secret" class="block text-center px-4 py-2 text-lightBlue-700 hover:text-lightBlue-900 transition-colors">
            <img role="presentation" alt="" src="/static/office.png" class="rounded-full mx-auto w-24 h-24 block mb-2">
            Office
          </a>
        </p>
        <p class="flex-1 mb-2">
          Du willst die volle Bandbreite der Möglichkeiten erleben? Hier kannst du neben Urlaubsanträgen nicht nur Benutzer und Krankmeldungen verwalten, sondern sogar Anwendungseinstellungen vornehmen.
        </p>
        <div class="mt-2">
          <a href="https://demo.urlaubsverwaltung.cloud/login?username=office&password=secret" class="flex items-center px-2 py-1 rounded font-medium bg-yellow-300 text-lightBlue-900 text-opacity-90 hover:text-opacity-100 border border-lightBlue-100 hover:border-blue-200 hover:shadow-md active:shadow">
            als Office zur Urlaubsverwaltung {{> partials/icon-arrow-right class="w-4 h-4 ml-1"}}
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
