---
layout: layout-subpage
title: Auftragsverarbeitung
---

<div class="row">
	<div class="col">
		<h2 class="text-3xl mb-6 mt-6 font-medium">FAQ - Frequently Asked Questions</h2>
		<div class="tabs">
			<div class="tab">
				<input type="checkbox" id="rd1" name="rd">
				<label id="q-test-for-free" class="tab-label" for="rd1">Ist die Testphase wirklich kostenlos?</label>
				<div id="a-test-for-free" class="tab-content">
					Ja, du kannst die Urlaubsverwaltung 30 Tage lang unverbindlich und kostenlos testen.
					Während der Testphase sind alle Funktionen der Software vollständig freigeschaltet.
				</div>
			</div>
			<div class="tab">
				<input type="checkbox" id="rd2" name="rd">
				<label id="q-after-test" class="tab-label" for="rd2">Was passiert nach der kostenlosen Testphase?</label>
				<div id="a-after-test" class="tab-content">
					Wenn du über die kostenlose Testphase hinaus weiter Interesse an der Urlaubsverwaltung hast,
					bestätige die Teilnahme per E-Mail an <a href="mailto:info@urlaubsverwaltung.cloud?subject=Teilnahme%20am%20kostenpflichtigen%20Service&body=Liebes%20Urlaubsverwaltung-Team%0D%0A%0D%0AIch%20bestätige%20die%20Teilnahme%20am%20kostenpflichtigen%20Service%20und%20stimme%20damit%20den%20geltenden%20AGB%20und%20Datenschutzbestimmungen%20zu.%0D%0A%0D%0AViele%20Grüße">
					info@urlaubsverwaltung.cloud</a>. Solltest du kein Interesse mehr haben, löschen wir deine Urlaubsverwaltung mit allen darin generierten Daten nach der Testphase.
				</div>
			</div>
			<div class="tab">
				<input type="checkbox" id="rd3" name="rd">
				<label id="q-how-to-test" class="tab-label" for="rd3">Wie kann ich an der kostenlosen Testphase teilnehmen?</label>
				<div id="a-how-to-test" class="tab-content">
					Melde dich <a href="https://registry.apps.urlaubsverwaltung.cloud/registration">hier</a> kostenlos an und registriere dir damit deine eigene Urlaubsverwaltung.
					Sie steht dir in wenigen Minuten zur Verfügung. Ohne Terminabsprache oder langen Wartezeiten.
				</div>
			</div>
			<div class="tab">
				<input type="checkbox" id="rd4" name="rd">
				<label id="q-payment" class="tab-label" for="rd4">Welche Zahlungsarten gibt es und welche Kündigungsfristen gelten?</label>
				<div id="a-payment" class="tab-content">
					Du bekommst monatlich nach dem Leistungszeitraum eine Rechnung per E-Mail zugestellt.
					Kündigen kannst du mit 14 Tagen zum jeweiligen Ende eines jeden Vertragsmonats.
				</div>
			</div>
			<div class="tab">
				<input type="checkbox" id="rd5" name="rd">
				<label id="q-uv-cost" class="tab-label" for="rd5">Wieviel kostet mich die Urlaubsverwaltung?</label>
				<div id="a-uv-cost" class="tab-content">
					Jeder registrierte Benutzer der den Status aktiv hat, kostet 1,50 € (zzgl.MwSt) pro Monat. Kommt ein neuer
					Benutzer während des Leistungszeitraumes hinzu, wird er für diesen Zeitraum nur anteilig abgerechnet.
					Wird ein Benutzer auf den Status inaktiv gesetzt, findet er keine Beachtung in der Rechnung ab dem darauf folgenden Leistungszeitraum.
				</div>
			</div>
			<div class="tab">
				<input type="checkbox" id="rd6" name="rd">
				<label id="q-cal-integration"  class="tab-label" for="rd6">Gibt es eine Kalenderintegration?</label>
				<div id="a-cal-integration" class="tab-content">
					Jeder Benutzer der Urlaubsverwaltung kann seinen eigenen Kalender, sowie einen Kalender pro Abteilung abonnieren.
					Ist der Firmen-weite Kalender freigeschaltet, lässt sich auch dieser von jedem Mitarbeiter abonnieren.
				</div>
			</div>
			<div class="tab">
				<input type="checkbox" id="rd7" name="rd">
				<label id="q-members" class="tab-label" for="rd7">Wie lege ich Mitarbeiter an? Kann ich meine Mitarbeiter importieren?</label>
				<div id="a-members" class="tab-content">
					Wenn du eine Urlaubsverwaltung registrierst bekommst du von uns einen Link zu deiner eigenen Urlaubsverwaltung.
					Unter diesem Link kann sich jeder Mitarbeiter selbst registrieren. Verwendet ihr einen OpenID Connect Anbieter (wie z.B. Microsoft 365, Auth0, Google, SAP, etc.)
					können wir diesen integrieren, sodass ihr euren gewohnten Login benutzen könnt.
				</div>
			</div>
			<div class="tab">
				<input type="checkbox" id="rd8" name="rd">
				<label id="q-uv-app" class="tab-label" for="rd8">Gibt es eine Android oder iOS App?</label>
				<div id="a-uv-app" class="tab-content">
					Die Urlaubsverwaltung ist für mobile Endgeräte optimiert und benötigt keine eigene App.
					Füge die Seite deiner Urlaubsverwaltung einfach dem Startbildschirm deines Handys hinzu.
				</div>
			</div>
			<div class="tab">
				<input type="checkbox" id="rd9" name="rd">
				<label id="q-feature-request" class="tab-label" for="rd9">Kann die Urlaubsverwaltung um eine Funktion erweitert werden?</label>
				<div id="a-feature-request" class="tab-content">
					Hast du einen Vorschlag für eine Verbesserung oder fehlt dir eine Funktion, nehme Kontakt mit uns auf.
					Schreibe uns entweder per <a href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage%20Feature">E-Mail</a> oder öffne direkt ein Issue auf <a href="https://github.com/synyx/urlaubsverwaltung/issues">Github</a>.
				</div>
			</div>
			<div class="tab">
				<input type="checkbox" id="rd10" name="rd">
				<label id="q-secure-data" class="tab-label" for="rd10">Sind meine Daten sicher? Wo werden meine Daten gespeichert?</label>
				<div id="a-secure-data" class="tab-content">
					Deine Daten werden DSGVO-konform verarbeitet und in Deutschland verschlüsselt gespeichert. Wir erstellen täglich ein Backup.
				</div>
			</div>
		</div>
	</div>
</div>
