---
layout: layout
backgroundColor: bg-white
title: Urlaubsplaner und Abwesenheitsverwaltung
---

{{> partials/navigation active="funktionen" noMargin=true }}

<div>
  <div
    class="relative bg-sky-100 py-12 md:py-20 lg:pb-32"
    style="
      background-image: conic-gradient(from -.5turn at bottom right, #38BDF8, #FEF3C7, #BAE6FD);
    "
  >
    <div class="z-10 w-full max-w-screen-xl mx-auto px-2">
      <a data-append-utm href="https://registry.apps.urlaubsverwaltung.cloud/registration">
        <div class="mb-2 px-8 py-4 bg-white bg-opacity-50">
          <p class="text-2xl md:text-5xl font-bold leading-tight bg-gradient-to-r from-red-900 via-yellow-700 to-cyan-600 text-transparent bg-clip-text saturate-150 drop-shadow">
						Starte digital in das Jahr 2023!<br /> Wir schenken dir 2 Monate zusätzlich zur Testphase.
          </p>
        </div>
        <div class="px-8 py-4 text-lg md:text-3xl font-bold text-black text-opacity-90 bg-white bg-opacity-50">
          <p class="flex items-center">
            Mach was draus & melde dich an
            <span class="text-red-700 mx-2">
              <svg class="w-8 h-8" fill="currentColor" width="16px" height="16px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path></svg>
            </span>
          </p>
        </div>
      </a>
  </div>
</div>

<main>
  <div class="w-full max-w-screen-xl mx-auto">
    <div class="mb-16 lg:mb-20 px-4 xl:px-2 flex flex-col-reverse md:flex-row">
      <div class="md:max-w-sm md:mr-10">
        <div class="text-2xl font-bold mb-6 md:mb-12 xs:px-6 md:px-0 pt-16">
					<h1>
						<span class="block">
							Schluss mit Papierchaos
						</span>
						<span class="block text-right">
							und langweiliger Software
						</span>
						<span class="block text-center ">
							-
						</span>
						<span class="block ">
							hol dir deine Open Source
						</span>
						<span class="block text-right">
							Urlaubsverwaltung
						</span>
					</h1>
        </div>
        <ul class="space-y-3 xs:max-w-md mb-8 xs:mb-12 sm:mb-8 md:mb-12 xs:px-6">
          <li class="flex items-center">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span class="flex items-center">
              Arbeitszeiten erfassen <span class="ml-1 inline-block px-2 py-0.5 bg-blue-600 text-white rounded-sm text-sm">Neu</span>
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Papierlos Urlaub und Abwesenheiten beantragen und genehmigen
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Individualisierbare Abwesenheiten
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Überblick über alle Abwesenheiten im Team
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Mehrstufiger Genehmigungsprozess
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Export für alle gängigen Kalender
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Überall benutzbar - auf Smartphone, Tablet und Computer
            </span>
          </li>
        </ul>
        <div>
          <p class="mb-2 xs:text-lg md:text-base">
            Sichere dir jetzt deine eigene Urlaubsverwaltung.
          </p>
          <div>
            <a data-append-utm
              href="https://registry.apps.urlaubsverwaltung.cloud/registration"
              class="px-3 py-2 text-lg font-medium flex items-center justify-center no-underline rounded whitespace-nowrap bg-yellow-300 text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow"
              data-goal="signup"
              data-goal-trigger="hero-element"
            >
              <span class="mr-2">
                30 Tage kostenlos testen
              </span>
              <span>
                {{> partials/icon-cursor-click class='w-5 h-5'}}
              </span>
            </a>
          </div>
          {{> partials/zwei-monate-kostenlos-badge}}
        </div>
      </div>
      <div class="flex-1 mb-8 md:mb-0 lg:ml-8 pt-16 lg:pt-0">
        <div class="shadow-lg rounded-b md:rounded-b-lg xl:rounded-b-2xl lg:-translate-y-24">
          {{> partials/browser-head width='860' height='39' }}
          <div class="border-l-2 border-r-2 border-b-2 border-zinc-700 rounded-b md:rounded-b-lg xl:rounded-b-2xl">
            <picture>
              <source srcset="/static/uv-startseite_sm.avif" media="(max-width: 639px)" type="image/avif">
              <source srcset="/static/uv-startseite_sm.webp" media="(max-width: 639px)" type="image/webp">
              <source srcset="/static/uv-startseite_sm.png" media="(max-width: 639px)">
              <source srcset="/static/uv-startseite.avif" type="image/avif">
              <source srcset="/static/uv-startseite.webp" type="image/webp">
              <img
                src="/static/uv-startseite.png"
                alt="Startseite der Urlaubsverwaltung mit kalenderischer Abwesenheitsübersicht"
                class="rounded-b md:rounded-b-lg xl:rounded-b-2xl"
                width="1440"
                height="1206"
              >
            </picture>
          </div>
        </div>
      </div>
    </div>

		<div class="mb-10 lg:mb-28">
			<div class="w-full max-w-screen-xl mx-auto">
				<h2 id="referenzen" class="sr-only">
					Referenzen
				</h2>
				<p class="text-center font-medium text-lg">Diese Unternehmen vertrauen uns</p>
				<div class="lg:mt-4">
					{{> partials/references }}
				</div>
			</div>
		</div>

		<div class="px-4 xl:px-2">
      <h2 id="funktionen" class="mb-8 xs:px-8 md:px-0 text-2xl font-bold md:mb-12 md:ml-8 -mt-28 pt-28">
        Funktionen
      </h2>
      <div class="grid md:grid-cols-2 gap-4 lg:gap-8">
        <div class="p-8 bg-sky-50 flex flex-col relative overflow-hidden">
          <aside class="absolute right-0 top-0 rotate-45 translate-x-8 translate-y-4 px-12 bg-blue-600 text-white font-bold text-lg shadow-lg shadow-blue-200">
            Neu
          </aside>
          <a href="/zeiterfassung" class="text-black hover:underline">
          <h3 class="text-sky-900 text-xl mb-6">
            Arbeitszeit erfassen
          </h3>
          </a>
          <p class="text-black text-opacity-60 mb-6">
            Du möchtest (oder musst) Arbeitszeiten in deinem Unternehmen digital erfassen und nachweisen können?
            Dann tauche tiefer ein und erfahre mehr über die Zeiterfassung von urlaubsverwaltung.cloud.
          </p>
          <div>
            <a href="/zeiterfassung" class="text-black hover:underline">
              {{> partials/icon-chevron-double-right class='w-4 h-4 -mt-0.5 inline-block'}}
              mehr Informationen
            </a>
          </div>
          <div class="mt-8">
            <picture>
              <source srcset="/static/zeiterfassung.webp" type="image/webp">
              <img src="/static/zeiterfassung.png" width="730px" height="416px" alt="Zeiten erfassen mit der Arbeitszeiterfassung.">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-sky-50 flex flex-col">
          <h3 class="text-sky-900 text-xl mb-6">
            Individualisierbare Abwesenheiten
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Du möchtest die Abwesenheiten der Urlaubsverwaltung anpassen? Kein Problem! Wähle aus verschiedenen Abwesenheiten die Richtigen
            für dich aus. Wähle aus Erholungsurlaub, Fortbildung, Kur, Home-Office und vielen weiteren!
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-abwesenheitsarten_sm.avif" media="(max-width: 639px)" type="image/avif">
              <source srcset="/static/uv-abwesenheitsarten_sm.webp" media="(max-width: 639px)" type="image/webp">
              <source srcset="/static/uv-abwesenheitsarten_sm.png" media="(max-width: 639px)">
              <source srcset="/static/uv-abwesenheitsarten.avif" type="image/avif">
              <source srcset="/static/uv-abwesenheitsarten.webp" type="image/webp">
              <img src="/static/uv-abwesenheitsarten.png" width="730px" height="416px" alt="Konfiguration der Abwesenheitsarten">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-sky-50 flex flex-col">
          <h3 class="text-sky-900 text-xl mb-6">
            Teamübersicht
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Wann sind meine Kolleginnen und Kollegen abwesend? Kann nächsten Monat ein neues Projekt gestartet werden? Die Teamübersicht gibt dir Einsicht auf alle Teams und das komplette Jahr.
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-teamuebersicht_sm.avif" media="(max-width: 639px)" type="image/avif">
              <source srcset="/static/uv-teamuebersicht_sm.webp" media="(max-width: 639px)" type="image/webp">
              <source srcset="/static/uv-teamuebersicht_sm.png" media="(max-width: 639px)">
              <source srcset="/static/uv-teamuebersicht.avif" type="image/avif">
              <source srcset="/static/uv-teamuebersicht.webp" type="image/webp">
              <img src="/static/uv-teamuebersicht.png" width="1204" height="640" alt="Abwesenheiten der Teams im Überblick">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-sky-50 flex flex-col">
          <h3 class="text-sky-900 text-xl mb-6">
            Kalendarische Übersicht
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Wann ist welcher Feiertag? Wie hast du deinen Urlaub verplant? Wann warst du krank? Bei uns hast du immer alles im Blick. Außerdem kannst du über den Kalender direkt damit beginnen deinen Urlaub zu planen.
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-kalender_sm.avif" media="(max-width: 639px)" type="image/avif">
              <source srcset="/static/uv-kalender_sm.webp" media="(max-width: 639px)" type="image/webp">
              <source srcset="/static/uv-kalender_sm.png" media="(max-width: 639px)">
              <source srcset="/static/uv-kalender.avif" type="image/avif">
              <source srcset="/static/uv-kalender.webp" type="image/webp">
              <img src="/static/uv-kalender.png" width="1172" height="418" alt="kalendarischen Übersicht der Abwesenheiten">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-sky-50 flex flex-col">
          <h3 class="text-sky-900 text-xl mb-6">
            Krankmeldungen
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Wer ist heute krank? Behalte als Arbeitgeber:in die Krankmeldungen datenschutzkonform im Blick.
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-krankmeldung_sm.avif" media="(max-width: 639px)" type="image/avif">
              <source srcset="/static/uv-krankmeldung_sm.webp" media="(max-width: 639px)" type="image/webp">
              <source srcset="/static/uv-krankmeldung_sm.png" media="(max-width: 639px)">
              <source srcset="/static/uv-krankmeldung.avif" type="image/avif">
              <source srcset="/static/uv-krankmeldung.webp" type="image/webp">
              <img src="/static/uv-krankmeldung.png" width="1172px" height="374px" alt="kalendarischen Übersicht der Abwesenheiten">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-sky-50 flex flex-col">
          <h3 class="text-sky-900 text-xl mb-6">
            Kalenderintegration
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Die Abwesenheitskalender können ganz einfach freigegeben und in alle gängigen Kalender Apps integriert werden.
          </p>
					<div>
						<a href="/kalenderintegration" class="text-black hover:underline">
							{{> partials/icon-chevron-double-right class='w-4 h-4 -mt-0.5 inline-block'}}
							mehr Informationen
						</a>
					</div>
          <div class="mt-8">
            <picture>
              <source srcset="/static/uv-kalender-freigabe_sm.png" media="(max-width: 639px)">
              <img src="/static/uv-kalender-freigabe.png" width="1000px" height="340px" alt="Dein Abwesenheitskalender kann für externe Kalender freigegeben werden.">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-sky-50 flex flex-col">
          <h3 class="text-sky-900 text-xl mb-6">
            Überstunden
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Länger im Büro gewesen oder doch früher Feierabend gemacht? Behalte immer den Überblick über deine erfassten und abgebauten Überstunden.
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-ueberstunden_sm.avif" media="(max-width: 639px)" type="image/avif">
              <source srcset="/static/uv-ueberstunden_sm.webp" media="(max-width: 639px)" type="image/webp">
              <source srcset="/static/uv-ueberstunden_sm.png" media="(max-width: 639px)">
              <source srcset="/static/uv-ueberstunden.avif" type="image/avif">
              <source srcset="/static/uv-ueberstunden.webp" type="image/webp">
              <img src="/static/uv-ueberstunden.png" width="1440" height="600" alt="kalendarischen Übersicht der Abwesenheiten">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-sky-50 flex flex-col">
          <h3 class="text-sky-900 text-xl mb-6">
            Single Sign-on
          </h3>
          <p class="text-black text-opacity-60 mb-6">
            Dein Unternehmen hat bereits einen OpenId Provider wie z. B. Microsoft 365, Azure Active Directory oder Auth0 konfiguriert? Wir helfen dir gerne bei der Einrichtung deiner Urlaubsverwaltung.
          </p>
          <div class="flex items-center justify-around flex-wrap">
            <div>
              {{> partials/logo-auth0 }}
            </div>
            <div>
              {{> partials/logo-office-365 }}
            </div>
            <div>
              {{> partials/logo-azure }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 xl:px-2 my-24 md:my-32 md:text-center">
      <div class="inline-block">
        <p class="text-xl lg:text-2xl mb-6 md:mb-4">
          Mache dir selbst ein Bild und sichere dir deine eigene Urlaubsverwaltung noch heute.
        </p>
        <div class="md:max-w-sm md:mx-auto text-lg sm:text-xl md:text-lg">
          <a data-append-utm
            href="https://registry.apps.urlaubsverwaltung.cloud/registration"
            class="px-3 py-2 text-lg font-medium flex items-center justify-center no-underline rounded whitespace-nowrap bg-yellow-300 text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow"
            data-goal="signup"
            data-goal-trigger="eye-catcher"
          >
            <span class="mr-2">
              30 Tage kostenlos testen
            </span>
            <span>
              {{> partials/icon-cursor-click class='w-5 h-5'}}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
	<div class="px-4 xl:px-2 my-24 md:my-32 md:text-center">
		<h2 id="open-source" class="mb-8 xs:px-8 md:px-0 text-2xl font-bold md:mb-12 md:ml-8 -mt-28 pt-28">
			Open Source
		</h2>
		<ul class=" flex justify-center flex-wrap gap-x-4 lg:gap-x-7 xl:flex-nowrap">
			<li class="p-8 my-auto bg-sky-50">
				<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" class="mx-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 16 4-4-4-4"></path><path d="m6 8-4 4 4 4"></path><path d="m14.5 4-5 16"></path></svg>
				offener Quellcode
			</li>
			<li class="p-8 my-auto bg-sky-50 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" class="mx-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
				aktive Community
			</li>
			<li class="p-8 my-auto bg-sky-50 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" class="mx-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12s2.545-5 7-5c4.454 0 7 5 7 5s-2.546 5-7 5c-4.455 0-7-5-7-5z"></path><path d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path><path d="M21 17v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-2"></path><path d="M21 7V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2"></path></svg>
				stetige Transparenz
			</li>
			<li class="p-8 my-auto bg-sky-50 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" class="mx-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>
				starker Datenschutz
			</li>
			<li class="p-8 my-auto bg-sky-50 items-center text-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" class="mx-auto" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
					<path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
				</svg>
				offene Feedbackkultur
			</li>
			<li class="p-8 my-auto bg-sky-50 text-center m-0">
				<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" class="mx-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 11.5V9a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v1.4"></path><path d="M14 10V8a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v2"></path><path d="M10 9.9V9a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v5"></path><path d="M6 14v0a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v0"></path><path d="M18 11v0a2 2 0 1 1 4 0v3a8 8 0 0 1-8 8h-4a8 8 0 0 1-8-8 2 2 0 1 1 4 0"></path></svg>
				eigene Kontrolle
			</li>
		</ul>
	</div>
  <div>
    <div class="w-full max-w-screen-xl mx-auto">
      <h2 class="px-4 xs:px-12 md:px-0 text-2xl font-bold mb-12 md:ml-8 md:mb-16">
        Deine eigene Urlaubsverwaltung <span class="sm:ml-8 sm:block">nutzen, wann und wo du willst</span>
      </h2>
    </div>
    <div class="bg-gradient-to-b from-white to-sky-100 pb-8">
      <div class="w-full max-w-screen-xl mx-auto flex flex-col-reverse md:flex-row">
        <div class="md:w-1/3 md:ml-8 px-4 xs:px-12 md:px-0">
          <p class="flex flex-col text-xl mb-8 sm:mb-12">
            <span>Ob unterwegs am Smartphone,</span> <span>im Home Office am Laptop,</span> <span>oder am Desktop-Computer im Büro.</span>
          </p>
          <p class="text-xl mb-8 sm:mb-12">
            urlaubsverwaltung.cloud ist auf jedem Gerät, von überall nutzbar. <span class="text-sm">*</span>
          </p>
          <aside class="text-sm">
            <p>
              <span>*</span> Internetverbindung vorausgesetzt
            </p>
            <p>
              <span>*</span> Smartwatches werden noch nicht unterstützt
            </p>
          </aside>
        </div>
        <div class="px-4 mb-8 xs:mb-12 sm:px-12 md:px-8 md:mb-0 md:w-2/3">
          <picture>
            <source srcset="/static/uv-multidevice_sm.avif" media="(max-width: 639px)" type="image/avif">
            <source srcset="/static/uv-multidevice_sm.webp" media="(max-width: 639px)" type="image/webp">
            <source srcset="/static/uv-multidevice_sm.png" media="(max-width: 639px)">
            <source srcset="/static/uv-multidevice.avif" type="image/avif">
            <source srcset="/static/uv-multidevice.webp" type="image/webp">
            <img src="/static/uv-multidevice.png" width="1061" height="691" alt="urlaubsverwaltung auf Smartphone, Tablet, Laptop und PC nutzen">
          </picture>
        </div>
      </div>
    </div>
  </div>


	{{> partials/testimonials }}
</div>

  <div class="bg-sky-100 pt-12 lg:pt-24 xl:pt-32 pb-12 sm:pb-32 md:pb-24">
    <div class="w-full max-w-screen-xl mx-auto px-4 xl:px-2">
      {{> partials/price }}
    </div>
  </div>
</main>
