---
layout: layout
backgroundColor: bg-white
---

{{> partials/navigation active="funktionen" }}

<main class="sm:mt-4 lg:mt-8 xl:mt-16 2xl:mt-32">
  <div class="w-full max-w-screen-xl mx-auto">
    <div class="mb-16 lg:mb-24 px-4 xl:px-2 flex flex-col-reverse md:flex-row">
      <div class="md:max-w-sm md:mr-10">
        <div class="text-2xl font-bold mb-6 md:mb-12 xs:px-6 md:px-0">
          <span class="block">
            Schluss mit Papierchaos
          </span>
          <span class="sm:ml-8 block">
            und langweiliger Software
          </span>
        </div>
        <ul class="space-y-3 xs:max-w-md mb-8 xs:mb-12 sm:mb-8 md:mb-12 xs:px-6">
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Papierlos Urlaub beantragen und genehmigen
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Überblick über alle Abwesenheiten im Team
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Mehrstufiger Genehmigungsprozess
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Export für alle gängigen Kalender
            </span>
          </li>
          <li class="flex items-start">
            <span class="mr-3">
              {{> partials/icon-check class='w-6 h-6'}}
            </span>
            <span>
              Überall benutzbar - auf Smartphone, Tablet und Computer
            </span>
          </li>
        </ul>
        <div>
          <p class="mb-2 xs:text-lg md:text-base">
            Sichere dir jetzt deine eigene Urlaubsverwaltung.
          </p>
          <div>
            <a
              href="https://registry.apps.urlaubsverwaltung.cloud/registration"
              class="px-3 py-2 text-lg font-medium flex items-center justify-center no-underline rounded whitespace-nowrap bg-yellow-300 text-lightBlue-900 text-opacity-90 hover:text-opacity-100 border border-lightBlue-100 hover:border-blue-200 hover:shadow-md active:shadow"
              data-goal="signup"
              data-goal-trigger="hero-element"
            >
              <span class="mr-2">
                30 Tage kostenlos testen
              </span>
              <span>
                {{> partials/icon-cursor-click class='w-5 h-5'}}
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="flex-1 mb-8 md:mb-0">
        <div class="shadow-lg rounded-b md:rounded-b-lg xl:rounded-b-2xl">
          {{> partials/browser-head width='860' height='39' }}
          <div class="border-l-2 border-r-2 border-b-2 border-gray-700 rounded-b md:rounded-b-lg xl:rounded-b-2xl">
            <picture>
              <source srcset="/static/uv-startseite_sm.png" media="(max-width: 639px)">
              <img
                src="/static/uv-startseite.png"
                alt="Startseite der Urlaubsverwaltung mit kalenderischer Abwesenheitsübersicht"
                class="rounded-b md:rounded-b-lg xl:rounded-b-2xl"
                width="860px"
                height="680px"
              >
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 xl:px-2">
      <h2 id="funktionen" class="mb-8 xs:px-8 md:px-0 text-2xl font-bold md:mb-12 md:ml-8 -mt-28 pt-28">
        Funktionen
      </h2>
      <div class="grid md:grid-cols-2 gap-4 lg:gap-8">
        <div class="p-8 bg-lightBlue-50 flex flex-col">
          <h3 class="text-lightBlue-900 text-xl mb-6">
            Kalendarische Übersicht
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Wann ist welcher Feiertag? Wie hast du deinen Urlaub verplant? Wann warst du krank? Bei uns hast du immer alles im Blick. Außerdem kannst du über den Kalender direkt damit beginnen deinen Urlaub zu planen.
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-kalender_sm.png" media="(max-width: 639px)">
              <img src="/static/uv-kalender.png" width="860px" height="295px" alt="kalendarischen Übersicht der Abwesenheiten">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-lightBlue-50 flex flex-col">
          <h3 class="text-lightBlue-900 text-xl mb-6">
            Teamübersicht
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Wann sind meine Kolleginnen und Kollegen abwesend? Kann nächsten Monat ein neues Projekt gestartet werden? Die Teamübersicht gibt dir Einsicht auf alle Teams und das komplette Jahr.
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-teamuebersicht_sm.png" media="(max-width: 639px)">
              <img src="/static/uv-teamuebersicht.png" width="860px" height="274px" alt="Abwesenheiten der Teams im Überblick">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-lightBlue-50 flex flex-col">
          <h3 class="text-lightBlue-900 text-xl mb-6">
            Krankmeldungen
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Wer ist heute krank? Behalte als Arbeitgeber:in die Krankmeldungen datenschutzkonform im Blick.
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-krankmeldung_sm.png" media="(max-width: 639px)">
              <img src="/static/uv-krankmeldung.png" width="860px" height="295px" alt="kalendarischen Übersicht der Abwesenheiten">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-lightBlue-50 flex flex-col">
          <h3 class="text-lightBlue-900 text-xl mb-6">
            Kalender-Export
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Die Abwesenheitskalender können ganz einfach freigegeben und in alle gängigen Kalender Apps integriert werden.
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-kalender-freigabe_sm.png" media="(max-width: 639px)">
              <img src="/static/uv-kalender-freigabe.png" width="860px" height="292px" alt="Dein Abwesenheitskalender kann für externe Kalender freigegeben werden.">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-lightBlue-50 flex flex-col">
          <h3 class="text-lightBlue-900 text-xl mb-6">
            Überstunden
          </h3>
          <p class="flex-1 text-black text-opacity-60 mb-6">
            Länger im Büro gewesen oder doch früher Feierabend gemacht? Behalte immer den Überblick über deine erfassten und abgebauten Überstunden. 
          </p>
          <div>
            <picture>
              <source srcset="/static/uv-ueberstunden_sm.png" media="(max-width: 639px)">
              <img src="/static/uv-ueberstunden.png" width="860px" height="295px" alt="kalendarischen Übersicht der Abwesenheiten">
            </picture>
          </div>
        </div>
        <div class="p-8 bg-lightBlue-50 flex flex-col">
          <h3 class="text-lightBlue-900 text-xl mb-6">
            Single Sign-on
          </h3>
          <p class="text-black text-opacity-60 mb-6">
            Dein Unternehmen hat bereits einen OpenId Provider wie z. B. Microsoft 365, Azure Active Directory oder Auth0 konfiguriert? Wir helfen dir gerne bei der Einrichtung deiner Urlaubsverwaltung.
          </p>
          <div class="flex items-center justify-around flex-wrap">
            <div>
              {{> partials/logo-auth0 }}
            </div>
            <div>
              {{> partials/logo-office-365 }}
            </div>
            <div>
              {{> partials/logo-azure }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 xl:px-2 my-24 md:my-32 md:text-center">
      <div class="inline-block">
        <p class="text-xl lg:text-2xl mb-6 md:mb-4">
          Mache dir selbst ein Bild und sichere dir deine eigene Urlaubsverwaltung noch heute.
        </p>
        <div class="md:max-w-sm md:mx-auto text-lg sm:text-xl md:text-lg">
          <a
            href="https://registry.apps.urlaubsverwaltung.cloud/registration"
            class="px-3 py-2 text-lg font-medium flex items-center justify-center no-underline rounded whitespace-nowrap bg-yellow-300 text-lightBlue-900 text-opacity-90 hover:text-opacity-100 border border-lightBlue-100 hover:border-blue-200 hover:shadow-md active:shadow"
            data-goal="signup"
            data-goal-trigger="eye-catcher"
          >
            <span class="mr-2">
              30 Tage kostenlos testen
            </span>
            <span>
              {{> partials/icon-cursor-click class='w-5 h-5'}}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-full max-w-screen-xl mx-auto">
      <h2 class="px-4 xs:px-12 md:px-0 text-2xl font-bold mb-12 md:ml-8 md:mb-16">
        Deine eigene Urlaubsverwaltung <span class="sm:ml-8 sm:block">nutzen, wann und wo du willst</span>
      </h2>
    </div>
    <div class="bg-gradient-to-b from-white to-lightBlue-100 pb-8">
      <div class="w-full max-w-screen-xl mx-auto flex flex-col-reverse md:flex-row">
        <div class="md:w-1/3 md:ml-8 px-4 xs:px-12 md:px-0">
          <p class="flex flex-col text-xl mb-8 sm:mb-12">
            <span>Ob unterwegs am Smartphone,</span> <span>im Home Office am Laptop,</span> <span>oder am Desktop-Computer im Büro.</span>
          </p>
          <p class="text-xl mb-8 sm:mb-12">
            urlaubsverwaltung.cloud ist auf jedem Gerät, von überall nutzbar. <span class="text-sm">*</span>
          </p>
          <aside class="text-sm">
            <p>
              <span>*</span> Internetverbindung vorausgesetzt
            </p>
            <p>
              <span>*</span> Smartwatches werden noch nicht unterstützt
            </p>
          </aside>
        </div>
        <div class="px-4 mb-8 xs:mb-12 sm:px-12 md:px-8 md:mb-0 md:w-2/3">
          <picture>
            <source srcset="/static/uv-multidevice_sm.png" media="(max-width: 639px)">
            <img src="/static/uv-multidevice.png" width="860px" height="561px" alt="urlaubsverwaltung auf Smartphone, Tablet, Laptop und PC nutzen">
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-lightBlue-100 pt-12 lg:pt-24 xl:pt-32 pb-12 sm:pb-32 md:pb-24">
    <div class="w-full max-w-screen-xl mx-auto px-4 xl:px-2">
      {{> partials/price }}
    </div>
  </div>
</main>
