---
layout: layout
backgroundColor: bg-white
title: Mentale Gesundheit - Selbstwahrnehmung als erster Schritt zur Sensibilisierung
description: Starte heute mit der Digitalisierung deines Unternehmens. Urlaubsverwaltung. Zeiterfassung. Krankmeldungen. 30 Tage kostenlos testen.
stylesheets:
  - /static/css/uebersicht.css
---

{{> partials/navigation }}

<main class="flex-1 mb-8 md:mb-32 w-full max-w-screen-xl mx-auto">
	<div class="px-4 xl:px-2">

		<h1 class="text-2xl  text-center  mb-6" id="live-demo">
			urlaubsverwaltung.cloud so <span class="font-black">individuell</span> wie dein Unternehmen
		</h1>

		<div class="uebersicht-card-border mt-12 flex flex-col md:flex-row gap-8">
			<div class="flex-1 flex flex-col md:p-4">

				<h2 class="mt-8">Individuelle Abwesenheiten in deiner Urlaubsverwaltung</h2>

				<ul class="mt-4 ml-4 list-disc space-y-2">
					<li>
						Passe Abwesenheiten an dein Unternehmen an.
					</li>
					<li>
  					Entscheide für welche Abwesenheitsart ein Genehmigungsprozess notwendig ist.
  				</li>
					<li>
						Definiere DSGVO-konform welche Abwesenheitsarten für Mitarbeitende als "Abwesend" angezeigt werden oder sichtbar sind.
					</li>
				</ul>

			</div>
			<div  class="flex-1 content-center">
				<picture>
					<source srcset="/static/img/individuell/indi_abwesenheitsarten.avif" type="image/avif">
					<source srcset="/static/img/individuell/indi_abwesenheitsarten.webp" type="image/webp">
					<img src="/static/img/individuell/indi_abwesenheitsarten.png"
					alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden.">
				</picture>
			</div>
		</div>

		<div class="uebersicht-card-border mt-12 flex flex-col md:flex-row gap-8">
			<div class="flex-1 flex flex-col md:p-4">
				<h2 class="mt-8">Die smarte Zeiterfassung für individuelle Arbeitszeitmodelle</h2>

				<ul class="mt-4 ml-4 list-disc space-y-2">
					<li>
						Richte individuelle Arbeitszeitkonten ein.
					</li>
					<li>
						Passe Arbeitstage, Arbeitstunden und Feiertage an.
					</li>
					<li>
						Limitiere Überstunden bei Bedarf.
					</li>
				</ul>

			</div>

			<div class="flex-1 content-center">
				<picture>
					<source srcset="/static/img/individuell/indi_zeitarbeitskonto.avif" type="image/avif">
					<source srcset="/static/img/individuell/indi_zeitarbeitskonto.webp" type="image/webp">
					<img src="/static/img/individuell/indi_zeitarbeitskonto.png"
					alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden.">
				</picture>
			</div>

		</div>

	<div class="uebersicht-card-border mt-12 flex flex-col md:flex-row gap-8">
  			<div class="flex-1 flex flex-col md:p-4">
					<h2 class="mt-8">Stetiger Durchblick durch Überblick</h2>

					<ul class="mt-4 ml-4 list-disc space-y-2">
						<li>
							Behalte den Überblick deiner Abteilungen DSGVO-konform.
						</li>
						<li>
							Bleibe informiert über anwesende und abwesende Mitarbeitende.
						</li>
						<li>
							Plane bewusst und effizient mit deinen Mitarbeitenden.
						</li>
					</ul>
  			</div>

  			<div class="flex-1 content-center">
  				<picture>
						<source srcset="/static/img/individuell/indi_abwesenheitsuebersicht.avif" type="image/avif">
						<source srcset="/static/img/individuell/indi_abwesenheitsuebersicht.webp" type="image/webp">
  					<img src="/static/img/individuell/indi_abwesenheitsuebersicht.png"
  					alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden.">
  				</picture>
  			</div>

  		</div>

		<div class="uebersicht-card-border mt-12 flex flex-col md:flex-row gap-8">
					<div class="flex-1 flex flex-col md:p-4">
						<h2 class="mt-8">Angepasst an dein individuelles Unternehmen</h2>

						<ul class="mt-4 ml-4 list-disc space-y-2">
							<li>
								Bilde deine Hierarchie durch Abteilungen ab.
							</li>
							<li>
								Lege fest wer, welche Abwesenheiten freigeben darf.
							</li>
							<li>
								Lasse dich nur Benachrichtigen, wenn es für dich relevant ist.
							</li>
						</ul>
  				</div>


    			<div class="flex-1 content-center">
    				<picture>
							<source srcset="/static/img/individuell/indi_profil.avif" type="image/avif">
							<source srcset="/static/img/individuell/indi_profil.webp" type="image/webp">
    					<img src="/static/img/individuell/indi_profil.png"
    					alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden.">
    				</picture>
    			</div>

    		</div>

					<div class="mt-24 w-full max-w-screen-xl mx-auto px-4 xl:px-2">
      			{{> partials/price }}
      		</div>

	</div>
</main>
