---
layout: layout
title: Mentale Gesundheit am Arbeitsplatz
description: Schnell und einfach Abwesenheiten beantragen oder Zeiten erfassen - mit der Android Mitarbeiter App
stylesheets:
  - /static/css/android.css
---

{{> partials/navigation active="funktionen" }}

<main class="flex-1">

	<div class="w-full max-w-screen-xl mx-auto">
		<div class="px-12 sm:px-20 xl:px-12 2xl:px-4">

			<h1 class="text-2xl font-bold" id="zeiterfassung">
			Das Konzept: mentale Gesundheit als integraler Teil der Zeitwirtschaft #mentalHealthAtWork
			</h1>
			<p class="mt-4">
				Mentale Gesundheit - eine stetig steigende Herausforderung
			</p>

			<div class="mt-12 flex flex-col md:flex-row gap-8">
				<div class="flex-1 flex flex-col">
					<p class="font-bold">Vorteile</p>
					<ul class="mt-4 flex flex-col gap-3">
						<li class="flex items-start">
							<span class="mr-3 mb-2">
								{{> partials/icon-check class='w-6 h-6'}}
							</span>
							Alle Funktionen und Daten wie im Browser
						</li>
						<li class="flex items-start">
							<span class="mr-3 mb-2">
								{{> partials/icon-check class='w-6 h-6'}}
							</span>
							Stoppuhr unterwegs starten und stoppen
						</li>
						<li class="flex items-start">
							<span class="mr-3 mb-2">
								{{> partials/icon-check class='w-6 h-6'}}
							</span>
							Synchronisation by Design - Keine Daten auf dem Handy gespeichert
						</li>
						<li class="flex items-start">
							<span class="mr-3 mb-2">
								{{> partials/icon-check class='w-6 h-6'}}
							</span>
							Eigene App, eigener Prozess
						</li>
						<li class="flex items-start">
							<span class="mr-3 mb-2">
								{{> partials/icon-check class='w-6 h-6'}}
							</span>
							Anträge schnell freigeben
						</li>
						<li class="flex items-start">
							<span class="mr-3 mb-2">
								{{> partials/icon-check class='w-6 h-6'}}
							</span>
							Abwesenheiten einfach beantragen
						</li>
						<li class="flex items-start">
							<span class="mr-3 mb-2">
								{{> partials/icon-check class='w-6 h-6'}}
							</span>
							Schnelle Übersicht über den Urlaubsstand
						</li>
						<li class="flex items-start">
							<span class="mr-3 mb-2">
								{{> partials/icon-check class='w-6 h-6'}}
							</span>
							Schnelle Übersicht über die Arbeitszeiten
						</li>
					</ul>
				</div>
				<div class="md:w-1/2">
				<a href="https://play.google.com/store/apps/details?id=cloud.urlaubsverwaltung.mobile.urlaubsverwaltung&gl=DE">
					<picture>
						<source srcset="/static/img/android/android-hero.avif" type="image/avif">
						<source srcset="/static/img/android/android-hero.webp" type="image/webp">
						<img src="/static/img/android/android-hero.png"
						alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden.">
					</picture>
					</a>
				</div>
			</div>
		</div>
	</div>

	<h2 class="sr-only">
		Funktionen
	</h2>

	<div class="mt-16 md:mt-32 bg-gradient-to-b from-white to-sky-100">
		<div class="w-full max-w-screen-xl mx-auto md:px-8 2xl:px-0">
			<div class="android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3>
							Steigene Zahlen
						</h3>

						<p>
							Steigende Fall Zahlen belegen es. ....
						</p>
						<p>
							Der Google Trend Barometer spricht auch eine deutliche Sprache.
						</p>
					</div>
					<div class="android-feature-card_image">
						<div class="android-feature-card_image-cover"></div>
						<picture>
							<source srcset="/static/img/android/urlaubsverwaltung_uebersicht.avif" type="image/avif">
							<source srcset="/static/img/android/urlaubsverwaltung_uebersicht.webp" type="image/webp">
							<img src="/static/img/android/urlaubsverwaltung_uebersicht.png" alt="Übersicht über den eigenen aktuellen Urlaubsstand.">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-sky-100 lg:pt-16 xl:pt-24">
		<div class="w-full max-w-screen-xl mx-auto md:px-8 2xl:px-0">
			<div class="android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3>
							Arbeitsalltag als Auslöser
						</h3>
						<p>
							Die Gründe für eine mentale Erkrankung sind vielfältig und können sowohl im privaten als auch im beruflichen Umfeld liegen.
							Da wir einen großen Teil unserer Zeit am Arbeitsplatz verbringen, ist es wichtig, dass wir uns dort wohlfühlen und gesund bleiben.
							Dennoch ist es nicht unüblich, dass Stress und Druck den Arbeitsalltag bestimmen und die mentale Gesundheit beeinträchtigen.
						</p>
						<p>
							Obwohl wir diesen Alltag selbst erleben und wissen, dass er uns belastet, fällt es uns oft schwer,
							die Verbindung zu unserer Stimmung zu erkennen, geschweige denn die richtigen Rückschlüsse zu ziehen.
						</p>
					</div>
					<div class="android-feature-card_image">
						<div class="android-feature-card_image-cover"></div>
						<picture>
							<source srcset="/static/img/android/urlaubsverwaltung_abwesenheitsuebersicht.avif" type="image/avif">
							<source srcset="/static/img/android/urlaubsverwaltung_abwesenheitsuebersicht.webp" type="image/webp">
							<img src="/static/img/android/urlaubsverwaltung_abwesenheitsuebersicht.png" alt="Übersicht über die Abwesenheiten der Mitarbeitenden.">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-sky-100 lg:pt-16 xl:pt-24">
		<div class="w-full max-w-screen-xl mx-auto md:px-8 2xl:px-0">

			<div class="android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3>
							Krankmeldungen und Fehlzeiten als Folge
						</h3>
						<p>
							Die Folgen eines anhaltend belastenden Arbeitsalltags können sich vielfältig äußern.
							Nachlassende Konzentration und Leistungsfähigkeit führen zu Fehlern und Unzufriedenheit.
							Steigende Überstunden zur vermeintlichen Kompensation führen zu Überlastung und Erschöpfung.
							Ein Teufelskreis beginnt, der gerne in Krankmeldungen und Fehlzeiten mündet.
						</p>
						<p>
							...
						</p>
					</div>
					<div class="android-feature-card_image">
						<div class="android-feature-card_image-cover"></div>
						<picture>
							<source srcset="/static/img/android/urlaubsverwaltung_antraege.avif" type="image/avif">
							<source srcset="/static/img/android/urlaubsverwaltung_antraege.webp" type="image/webp">
							<img src="/static/img/android/urlaubsverwaltung_antraege.png" alt="Anträge schnell und einfach unterwegs bearbeiten.">
						</picture>
					</div>
				</div>
			</div>

			<div class="lg:mt-12 xl:mt-24 android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3>
							Selbstwahrnehmung als erster Schritt zur Sensibilisierung
						</h3>
						<p>
							Ein Blick auf die selbsterfassten Daten der Zeitwirtschaft hilft bei der Wahrnehmung von ungewöhnlichen Mustern
							und ermöglicht es, die eigene Situation besser einzuschätzen und Gegenmaßnahmen zu ergreifen.
						</p>
						<p>
							...
						</p>
					</div>
					<div class="android-feature-card_image">
						<div class="android-feature-card_image-cover"></div>
						<picture>
							<source srcset="/static/img/android/zeiterfassung_eintrag.avif" type="image/avif">
							<source srcset="/static/img/android/zeiterfassung_eintrag.webp" type="image/webp">
							<img src="/static/img/android/zeiterfassung_eintrag.png" alt="Arbeitszeiten unterwegs schnell und einfach erfassen.">
						</picture>
					</div>
				</div>
			</div>

			<div class="lg:mt-12 xl:mt-24 android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3>
							Handlungsempfehlungen zur Selbsfürsorge
						</h3>
						<p>
							
						</p>
					</div>
					<div class="android-feature-card_image">
						<div class="android-feature-card_image-cover"></div>
						<picture>
							<source srcset="/static/img/android/zeiterfassung_statistik.avif" type="image/avif">
							<source srcset="/static/img/android/zeiterfassung_statistik.webp" type="image/webp">
							<img src="/static/img/android/zeiterfassung_statistik.png" alt="Überblick der erfassten Arbeitszeiten.">
						</picture>
					</div>
				</div>
			</div>

	<div class="bg-sky-100 pt-16 md:pt-24">

		<div class="bg-sky-50 py-16">
			<div class="w-full max-w-screen-xl mx-auto">
				<div class="px-12 sm:px-20 xl:px-12 2xl:px-4">
					<div class="grid lg:grid-cols-2">
						<div class=" ">
							<h3 class="text-2xl font-bold md:text-3xl " id="beta">
								Noch kein Kunde? Dann aber schnell!
							</h3>
							<div class="">
								<div class="flex-1 flex flex-col">
									<ul class="my-10 list-disc md:text-lg list-inside">
										<li>
											Völlig unverbindlich
										</li>
										<li>
											30 Tage kostenlos testen, ohne Kreditkarte, ohne Kündigung
										</li>
										<li>
											Daten DSGVO-konform abgesichert
										</li>
									</ul>
								</div>
								<div class="mx-2">
									<a data-append-utm
										 href="https://registry.apps.urlaubsverwaltung.cloud/registration"
										 class="-ml-4 px-3 py-2 text-lg font-medium flex items-center justify-center no-underline rounded whitespace-nowrap bg-yellow-300 text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow"
										 data-goal="signup"
										 data-goal-trigger="android-kostenlose-beta-phase"
									>
										<span class="mr-2">
											Kostenlos testen
										</span>
										<span>
											{{> partials/icon-cursor-click class='w-5 h-5'}}
										</span>
									</a>
								</div>
							</div>
						</div>

						<div class="lg:flex lg:items-center lg:justify-center">

							<div class="max-w-prose space-y-6 mt-6 md:text-lg lg:mt-0 lg:px-20">
								<h3 class="text-2xl font-bold md:text-3xl " id="beta">
									Hier gehts zum Playstore
								</h3>
								<p>
								<a href="https://play.google.com/store/apps/details?id=cloud.urlaubsverwaltung.mobile.urlaubsverwaltung&gl=DE">
										<picture>
											<source srcset="/static/img/android/playstore-qr-code.avif" type="image/avif">
											<source srcset="/static/img/android/playstore-qr-code.webp" type="image/webp">
											<img src="/static/img/android/playstore-qr-code.png"  alt="QR Code zum Google Playstore für die urlaubsverwaltung.cloud Mitarbeiter App">
										</picture>
									</a>
								</p>
								<p>
									Bei Fragen und Wünschen kontaktiere uns per E-Mail oder rufe uns an.
								</p>
								<ul>
									<li class="flex items-center">
										{{>partials/icon-mail class="w-4 h-4"}} <span class="sr-only">E-Mail:</span> <a href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage" class="ml-1.5 text-black hover:underline">info@urlaubsverwaltung.cloud</a><br />
									</li>
									<li class="flex items-center">
										{{>partials/icon-phone class="w-4 h-4"}} <span class="sr-only">Telefon:</span> <a href="tel:0721 98614542" class="ml-1.5 text-black hover:underline">0721 98614542</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-16 xl:mt-24 2xl:mt-40 w-full max-w-screen-xl mx-auto">
			<h2 class="px-4 xs:px-12 md:px-20 text-2xl font-bold mb-12 md:mb-16 2xl:mb-24 text-3xl">
				Das sagen unsere Kunden
			</h2>
			<div class="px-6 xs:px-14 md:px-10 2xl:px-0 grid md:grid-cols-2 gap-8 2xl:gap-16">
				<figure class="p-8 relative">
					<svg width="90" height="90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310.284 310.284" class="text-white fill-current absolute -left-2 -top-2 2xl:-left-6 2xl:-top-8 w-16 h-16 md:w-22 md:h-22 2xl:w-24 2xl:h-24">
						<path d="M155.142,0C69.597,0,0,69.597,0,155.142s69.597,155.142,155.142,155.142s155.142-69.597,155.142-155.142  S240.688,0,155.142,0z M79.171,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945  c8.529-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.903-23.935c0.847-1.821-1.315-2.977-2.438-3.345  c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.059-8.525,20.407-12.785,34.041-12.785  c12.146,0,22.909,5.539,32.283,16.621c9.165,10.438,13.744,21.735,13.744,33.881C152.789,163.78,128.251,198.185,79.171,231.401z   M185.61,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945  c8.528-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.904-23.935c0.847-1.821-1.315-2.977-2.438-3.345  c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.06-8.525,20.407-12.785,34.041-12.785  c12.146,0,22.909,5.539,32.283,16.621c9.164,10.438,13.744,21.735,13.744,33.881C259.228,163.78,234.69,198.185,185.61,231.401z"/>
					</svg>
					<div class="relative">
						<blockquote class="text-xl 2xl:text-2xl mb-6 md:mb-4">
							"Kompliment, ihr seid echt fix mit der Umsetzung von Verbesserungen, das ist Klasse!"
						</blockquote>
						<figcaption class="flex flex-col">
							<cite class="font-bold lg:text-lg">
								Angela Breyer
							</cite>
							<span class="lg:text-lg text-black text-opacity-50">
								Organisationsentwicklung
							</span>
						</figcaption>
					</div>
				</figure>
				<figure class="p-8 relative">
					<svg width="90" height="90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310.284 310.284" class="text-white fill-current absolute -left-2 -top-2 2xl:-left-6 2xl:-top-8 w-16 h-16 md:w-22 md:h-22 2xl:w-24 2xl:h-24">
						<path d="M155.142,0C69.597,0,0,69.597,0,155.142s69.597,155.142,155.142,155.142s155.142-69.597,155.142-155.142  S240.688,0,155.142,0z M79.171,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945  c8.529-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.903-23.935c0.847-1.821-1.315-2.977-2.438-3.345  c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.059-8.525,20.407-12.785,34.041-12.785  c12.146,0,22.909,5.539,32.283,16.621c9.165,10.438,13.744,21.735,13.744,33.881C152.789,163.78,128.251,198.185,79.171,231.401z   M185.61,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945  c8.528-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.904-23.935c0.847-1.821-1.315-2.977-2.438-3.345  c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.06-8.525,20.407-12.785,34.041-12.785  c12.146,0,22.909,5.539,32.283,16.621c9.164,10.438,13.744,21.735,13.744,33.881C259.228,163.78,234.69,198.185,185.61,231.401z"/>
					</svg>
					<div class="relative">
						<blockquote class="text-xl 2xl:text-2xl mb-6 md:mb-4">
							"Die Urlaubsverwaltung wird sowohl von den Kollegen als auch von der Geschäftsleitung sehr gut angenommen und auch Kollegen, die sich ansonsten schwer tun mit jeglichen Anwendungen, hatten keine Probleme."
						</blockquote>
						<figcaption class="flex flex-col">
							<cite class="font-bold lg:text-lg">
								Frank Rheinfelder
							</cite>
							<span class="lg:text-lg text-black text-opacity-50">
								Betriebswirt / Bilanzbuchhalter
							</span>
						</figcaption>
					</div>
				</figure>
			</div>
		</div>

		<div class="mt-24 w-full max-w-screen-xl mx-auto px-4 xl:px-2">
			{{> partials/price }}
		</div>

		<div class="pb-8 md:pb-32"></div>
	</div>
</main>
