---
layout: layout
title: Mentale Gesundheit am Arbeitsplatz
description:
stylesheets:
  - /static/css/android.css
---

{{> partials/navigation }}

<main class="flex-1">

	<div class="w-full max-w-screen-xl mx-auto">
		<div class="px-12 sm:px-20 xl:px-12 2xl:px-4">

			<h1 class="text-2xl text-center font-bold my-2" id="zeiterfassung">
				Das Konzept: <br/>
				Prävention statt Reaktion <br/>
				Mentale Gesundheit als integraler Teil der Zeitwirtschaft <br/>
				#mentalHealthAtWork
			</h1>

			<div class="mt-12 flex flex-col md:flex-row gap-8">
				<div class="flex-1 flex flex-col">
						<picture>
{{!-- 							<source srcset="/static/img/android/zeiterfassung_statistik.avif" type="image/avif"> --}}
{{!-- 							<source srcset="/static/img/android/zeiterfassung_statistik.webp" type="image/webp"> --}}
							<img src="/static/img/mental-health/1.png" alt="Überblick der erfassten Arbeitszeiten.">
						</picture>
				</div>
				<div class="md:w-1/2">

					<picture>
{{!-- 						<source srcset="/static/img/mental-health/2.avif" type="image/avif"> --}}
{{!-- 						<source srcset="/static/img/android/android-hero.webp" type="image/webp"> --}}
						<img src="/static/img/mental-health/2.png"
						alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden.">
					</picture>

				</div>
			</div>
		</div>
	</div>

	<h2 class="sr-only">
		Funktionen
	</h2>

	<div class="mt-16 md:mt-32 bg-gradient-to-b from-white to-sky-100">
		<div class="w-full max-w-screen-xl mx-auto md:px-8 2xl:px-0">
			<div class="android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3 id="herausforderung-mentale-gesundheit">
							Die Herausforderung: Mentale Gesundheit - ein akutes Problem
						</h3>

						<p>
							Mentale Gesundheit am Arbeitsplatz ist ein dringendes Problem, da immer mehr Arbeitnehmer unter Stress,
							Burnout und psychischen Belastungen leiden. Laut einer Umfrage des Mental Health Foundation aus dem
							Jahr 2021 gaben 74 % der Befragten an, dass sie sich in den letzten 12 Monaten gestresst fühlten.
							Weitere Studien zeigen, dass der wirtschaftliche Verlust aufgrund psychischer Erkrankungen in Deutschland
							jährlich rund 103 Milliarden Euro beträgt, was die Dringlichkeit des Themas unterstreicht.
							Neuer Studien zeigen einen stetig wachsenden negativen Trend.
						</p>
						<p>
							Unzureichende Unterstützung von Arbeitgebern und das Stigma um psychische Gesundheit verschärfen das
							Problem. Laut der WHO haben 1 von 5 Arbeitnehmern in ihrem Leben mit psychischen Erkrankungen zu kämpfen,
							doch nur 50 % suchen tatsächlich Hilfe. Fehlende Präventionsmaßnahmen und mangelnde Bewältigungsstrategien
							führen oft zu krankheitsbedingten Ausfällen; so berichten Unternehmen, dass psychische Erkrankungen für
							etwa 40 % der krankheitsbedingten Fehltage verantwortlich sind. Dies mindert nicht nur die Produktivität,
							sondern beeinträchtigt auch die Lebensqualität der Betroffenen erheblich.
						</p>
{{!-- 						<p> --}}
{{!-- 							Psychische Erkrankungen rangieren mit 15,1 Prozent auf Platz drei der häufigsten Gründe für Fehlzeiten (DAK/Statista 2023), --}}
{{!-- 							Aktuell sind 32% der Menschen von einer psychischen Erkrankung betroffen. --}}
{{!--               Psychische Erkrankungen sind der Hauptgrund für Krankheitstage in Deutschland. --}}
{{!--               Fehlzeiten aufgrund von psychischen Erkrankungen sind seit 2000 um 146% gestiegen. --}}
{{!--               75% der Menschen geben an, dass ihre Arbeit ihre psychische Gesundheit beeinflusst. --}}
{{!--               23% haben sich wegen mentaler Herausforderungen krankgemeldet. --}}


{{!-- 							https://persoblogger.de/2024/07/01/psychische-gesundheit-am-arbeitsplatz-die-unterschaetzte-zeitbombe --}}
{{!--               https://www.tk.de/resource/blob/2081662/46b8286c8e8698f5856d8d6814d87c37/gesundheitsreport-au-2020-data.pdf --}}
{{!--               https://www.axa.de/presse/mediathek/studien-und-forschung/mental-health-report-2024 --}}
{{!-- 						</p> --}}
{{!-- 						<p> --}}
{{!-- 							Der Google Trend Barometer spricht auch eine deutliche Sprache. --}}
{{!-- 						</p> --}}
						<p>
							<a href="/mental-health/akutes-problem-mentale-gesundheit" class="text-black hover:underline">
								{{> partials/icon-chevron-double-right class='w-4 h-4 -mt-0.5 inline-block'}}
								mehr Informationen
							</a>
						</p>
					</div>
					<div class="my-auto">
					  <picture>
{{!-- 						<source srcset="/static/img/mental-health/2.avif" type="image/avif"> --}}
{{!-- 						<source srcset="/static/img/android/android-hero.webp" type="image/webp"> --}}
							<img
								src="/static/img/mental-health/mh1.png"
								alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden."
							>
					  </picture>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-sky-100 lg:pt-16 xl:pt-24">
		<div class="w-full max-w-screen-xl mx-auto md:px-8 2xl:px-0">
			<div class="android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3 id="ursache-arbeitsalltag">
							Die Ursache: Arbeitsalltag als Auslöser
						</h3>
						<p>
							Die Gründe für eine mentale Erkrankung sind vielfältig und können sowohl im privaten als auch im beruflichen Umfeld liegen.
							Da wir einen großen Teil unserer Zeit am Arbeitsplatz verbringen, ist es wichtig, dass wir uns dort wohlfühlen und gesund bleiben.
							Dennoch ist es nicht unüblich, dass Stress und Druck den Arbeitsalltag bestimmen und die mentale Gesundheit beeinträchtigen.
						</p>
						<p>
							Obwohl wir diesen Alltag selbst erleben und wissen, dass er uns belastet, fällt es uns oft schwer,
							die Verbindung zu unserer Stimmung zu erkennen, geschweige denn die richtigen Rückschlüsse zu ziehen.
						</p>
						<p>
							<a href="/mental-health/arbeitszeiten-mentale-gesundheit" class="text-black hover:underline">
								{{> partials/icon-chevron-double-right class='w-4 h-4 -mt-0.5 inline-block'}}
								mehr Informationen
							</a>
						</p>
					</div>
					<div class="my-auto">
						<picture>
{{!-- 						<source srcset="/static/img/mental-health/2.avif" type="image/avif"> --}}
{{!-- 						<source srcset="/static/img/android/android-hero.webp" type="image/webp"> --}}
							<img
								src="/static/img/mental-health/mh3.png"
								alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden."
							>
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-sky-100 lg:pt-16 xl:pt-24">
		<div class="w-full max-w-screen-xl mx-auto md:px-8 2xl:px-0">

			<div class="android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3 id="folge-krankmeldungen-und-fehlzeiten">
							Die Folge: Krankmeldungen und Fehlzeiten
						</h3>
						<p>
							Krankmeldungen und Fehlzeiten sind direkte Folgen mangelnder mentaler Gesundheit am Arbeitsplatz.
							Laut einer Studie des Instituts für Arbeitsmarkt- und Berufsforschung (IAB) sind psychische Erkrankungen,
							wie Depressionen und Angststörungen, mittlerweile die häufigste Ursache für Arbeitsunfähigkeit in Deutschland.
							Im Jahr 2022 machten sie etwa 30 % der gesamten Krankmeldungen aus, was auf die signifikanten Auswirkungen
							von psychischen Belastungen hinweist.
						</p>
						<p>
							Zusätzlich zeigen Daten der Techniker Krankenkasse, dass Arbeitnehmer mit psychischen Erkrankungen
							durchschnittlich 23 Tage im Jahr krankgeschrieben sind, während der Durchschnitt bei anderen Erkrankungen
							nur 14 Tage beträgt. Diese hohen Fehlzeiten belasten nicht nur die Gesundheit der Betroffenen,
							sondern auch die Unternehmen, die mit Produktivitätsverlusten und erhöhten Kosten für Vertretungen und
							Krankheitsmanagement konfrontiert sind.
						</p>
{{!-- 					<p> --}}
{{!-- 							Die Folgen eines anhaltend belastenden Arbeitsalltags können sich vielfältig äußern. --}}
{{!--               							Nachlassende Konzentration und Leistungsfähigkeit führen zu Fehlern und Unzufriedenheit. --}}
{{!--               							Steigende Überstunden zur vermeintlichen Kompensation führen zu Überlastung und Erschöpfung. --}}
{{!--               							Ein Teufelskreis beginnt, der gerne in Krankmeldungen und Fehlzeiten mündet. --}}
{{!-- 						</p> --}}
						<p>
							<a href="/mental-health/fehlzeiten-mentale-gesundheit" class="text-black hover:underline">
								{{> partials/icon-chevron-double-right class='w-4 h-4 -mt-0.5 inline-block'}}
								mehr Informationen
							</a>
						</p>
					</div>
					<div class="my-auto">
						<picture>
{{!-- 						<source srcset="/static/img/mental-health/2.avif" type="image/avif"> --}}
{{!-- 						<source srcset="/static/img/android/android-hero.webp" type="image/webp"> --}}
							<img
								src="/static/img/mental-health/mh4.png"
								alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden."
							>
					</picture>
					</div>
				</div>
			</div>

			<div class="lg:mt-12 xl:mt-24 android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3 id="loesung-selbstkontrolle-und-selbstwahrnehmung">
							Unsere Lösung: Selbskontrolle und Selbstwahrnehmung als erster Schritt zur Sensibilisierung
						</h3>
{{!-- 						<p> --}}
{{!-- 							Ein Blick auf die selbsterfassten Daten der Zeitwirtschaft hilft bei der Wahrnehmung von ungewöhnlichen Mustern --}}
{{!-- 							und ermöglicht es, die eigene Situation besser einzuschätzen und Gegenmaßnahmen zu ergreifen. --}}
{{!-- 						</p> --}}
						<p>
							Die Selbstwahrnehmung in Bezug auf die Zeitwirtschaft am Arbeitsplatz ist ein entscheidender erster
							Schritt zur Sensibilisierung für mentale Gesundheit. Wenn Mitarbeiter ihre eigenen Arbeitsgewohnheiten,
							Stressoren und Zeitmanagement-Techniken reflektieren, können sie frühzeitig erkennen, wann sie überlastet
							sind oder in ungesunde Muster verfallen. Eine Umfrage von Mind zeigt, dass 60 % der Befragten,
							die regelmäßig Zeit für Selbstreflexion einplanen, signifikant weniger Stress und ein höheres allgemeines
							Wohlbefinden berichten.
						</p>
						<p>
							Darüber hinaus fördert die Selbstwahrnehmung das Bewusstsein für individuelle Grenzen und die
							Notwendigkeit von Pausen. Wenn Mitarbeiter verstehen, wie sich übermäßiger Zeitdruck auf ihre mentale
							Gesundheit auswirkt, sind sie besser in der Lage, proaktive Schritte zu unternehmen,
							um ihre Work-Life-Balance zu verbessern. Studien belegen, dass Unternehmen, die Schulungen zur
							Selbstwahrnehmung anbieten, eine höhere Mitarbeiterzufriedenheit und niedrigere Fehlzeiten verzeichnen,
							was die Notwendigkeit dieser Sensibilisierung unterstreicht.
						</p>
						<p>
							<a href="/mental-health/selbstwahrnehmung-mentale-gesundheit" class="text-black hover:underline">
								{{> partials/icon-chevron-double-right class='w-4 h-4 -mt-0.5 inline-block'}}
								mehr Informationen
							</a>
						</p>
					</div>
					<div class="my-auto max-w-[50%]">

						<picture>
{{!-- 						<source srcset="/static/img/mental-health/2.avif" type="image/avif"> --}}
{{!-- 						<source srcset="/static/img/android/android-hero.webp" type="image/webp"> --}}
							<img
								src="/static/img/mental-health/selbstreflektion.png"
								alt="urlaubsverwaltung.cloud jetzt auch als android app für deine Mitarbeitenden."
							>
						</picture>
					</div>
				</div>
			</div>

			<div class="lg:mt-12 xl:mt-24 android-feature-card-border">
				<div class="android-feature-card">
					<div class="android-feature-card_description">
						<h3 id="ergebnis-handlungsempfehlung-selbstfuersorge">
							Das Ergebnis: Handlungsempfehlungen zur Selbstfürsorge
						</h3>
						<p>
							Handlungsempfehlungen zur Selbstfürsorge für mentale Gesundheit am Arbeitsplatz umfassen die Etablierung
							gesunder Arbeitsgewohnheiten und regelmäßige Pausen. Arbeitnehmer sollten gezielt Zeiten für Erholung und
							Entspannung einplanen, um Überlastung zu vermeiden. Eine Studie von Gallup zeigt, dass Mitarbeiter,
							die regelmäßig Pausen einlegen, ihre Produktivität um bis zu 30 % steigern können.
							Darüber hinaus ist es wichtig, das Bewusstsein für Stressauslöser zu schärfen und Techniken zur Stressbewältigung,
							wie Meditation oder Atemübungen, zu praktizieren.
						</p>
						<p>
							Ein weiterer wichtiger Aspekt der Selbstfürsorge ist die Förderung der sozialen Unterstützung am Arbeitsplatz.
							Der Austausch mit Kollegen und das Teilen von Erfahrungen können das Gefühl der Isolation verringern und
							zu einem besseren emotionalen Wohlbefinden beitragen. Unternehmen sollten zudem eine offene Kommunikation
							über mentale Gesundheit fördern und Mitarbeiter ermutigen, Hilfe in Anspruch zu nehmen, wenn sie diese benötigen.
							Laut der World Health Organization (WHO) haben Organisationen, die auf die mentale Gesundheit ihrer
							Mitarbeiter achten, niedrigere Fluktuationsraten und eine höhere Mitarbeitermotivation.
						</p>
						<p>
							<a href="/mental-health/handlungsempfehlungen-mentale-gesundheit" class="text-black hover:underline">
								{{> partials/icon-chevron-double-right class='w-4 h-4 -mt-0.5 inline-block'}}
								mehr Informationen
							</a>
						</p>
					</div>
					<div class="my-auto">
						<picture>
{{!-- 							<source srcset="/static/img/android/zeiterfassung_statistik.avif" type="image/avif"> --}}
{{!-- 							<source srcset="/static/img/android/zeiterfassung_statistik.webp" type="image/webp"> --}}
							<img src="/static/img/mental-health/mh6.png" alt="Überblick der erfassten Arbeitszeiten.">
						</picture>
					</div>
				</div>
			</div>


{{!-- 			<div class="lg:mt-12 xl:mt-24 android-feature-card-border"> --}}
{{!-- 				<div class="android-feature-card"> --}}
{{!-- 					<div class="android-feature-card_description"> --}}
{{!-- 						<h3> --}}
{{!-- 							Das Konzept ist aktuell in der Umsetzung, bleib auf dem Laufenden --}}
{{!-- 						</h3> --}}
{{!-- 						<p> --}}
{{!-- 						Newsletter anmeldung --}}
{{!-- 						</p> --}}
{{!-- 					</div> --}}

{{!-- 				</div> --}}
{{!-- 			</div> --}}

	<div class="bg-sky-100 pt-16 md:pt-24">

		<div class="bg-sky-50 py-16">
			<div class="w-full max-w-screen-xl mx-auto">
				<div class="px-12 sm:px-20 xl:px-12">
					<div class="grid lg:grid-cols-2">
						<div class=" ">
							<h3 class="text-2xl font-bold md:text-3xl " id="beta">
								Noch kein Kunde? Dann aber schnell!
							</h3>
							<div class="">
								<div class="flex-1 flex flex-col">
									<ul class="my-10 list-disc md:text-lg list-inside">
										<li>
											Völlig unverbindlich
										</li>
										<li>
											30 Tage kostenlos testen, ohne Kreditkarte, ohne Kündigung
										</li>
										<li>
											Daten DSGVO-konform abgesichert
										</li>
									</ul>
								</div>
								<div class="mx-2">
									<a data-append-utm
										 href="https://registry.apps.urlaubsverwaltung.cloud/registration"
										 class="-ml-4 px-3 py-2 text-lg font-medium flex items-center justify-center no-underline rounded whitespace-nowrap bg-yellow-300 text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow"
										 data-goal="signup"
										 data-goal-trigger="android-kostenlose-beta-phase"
									>
										<span class="mr-2">
											Kostenlos testen
										</span>
										<span>
											{{> partials/icon-cursor-click class='w-5 h-5'}}
										</span>
									</a>
								</div>
							</div>
						</div>

						<div class="lg:flex lg:items-center lg:justify-center">

							<div class="max-w-prose space-y-6 mt-6 md:text-lg lg:mt-0 lg:px-20">
								<h3 class="text-2xl font-bold md:text-3xl " id="beta">
									Hier gehts zum Playstore
								</h3>
								<p>
									<a href="https://play.google.com/store/apps/details?id=cloud.urlaubsverwaltung.mobile.urlaubsverwaltung&gl=DE">
										<picture>
											<source srcset="/static/img/android/playstore-qr-code.avif" type="image/avif">
											<source srcset="/static/img/android/playstore-qr-code.webp" type="image/webp">
											<img src="/static/img/android/playstore-qr-code.png"  alt="QR Code zum Google Playstore für die urlaubsverwaltung.cloud Mitarbeiter App">
										</picture>
									</a>
								</p>
								<p>
									Bei Fragen und Wünschen kontaktiere uns per E-Mail oder rufe uns an.
								</p>
								<ul>
									<li class="flex items-center">
										{{>partials/icon-mail class="w-4 h-4"}} <span class="sr-only">E-Mail:</span> <a href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage" class="ml-1.5 text-black hover:underline">info@urlaubsverwaltung.cloud</a><br />
									</li>
									<li class="flex items-center">
										{{>partials/icon-phone class="w-4 h-4"}} <span class="sr-only">Telefon:</span> <a href="tel:0721 98614542" class="ml-1.5 text-black hover:underline">0721 98614542</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-16 xl:mt-24 2xl:mt-40 w-full max-w-screen-xl mx-auto">
			<h2 class="px-4 xs:px-12 md:px-20 text-3xl font-bold mb-12 md:mb-16 2xl:mb-24">
				Das sagen unsere Kunden
			</h2>
			<div class="px-6 xs:px-14 md:px-10 2xl:px-0 grid md:grid-cols-2 gap-8 2xl:gap-16">
				<figure class="p-8 relative">
					<svg width="90" height="90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310.284 310.284" class="text-white fill-current absolute -left-2 -top-2 2xl:-left-6 2xl:-top-8 w-16 h-16 md:w-22 md:h-22 2xl:w-24 2xl:h-24">
						<path d="M155.142,0C69.597,0,0,69.597,0,155.142s69.597,155.142,155.142,155.142s155.142-69.597,155.142-155.142  S240.688,0,155.142,0z M79.171,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945  c8.529-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.903-23.935c0.847-1.821-1.315-2.977-2.438-3.345  c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.059-8.525,20.407-12.785,34.041-12.785  c12.146,0,22.909,5.539,32.283,16.621c9.165,10.438,13.744,21.735,13.744,33.881C152.789,163.78,128.251,198.185,79.171,231.401z   M185.61,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945  c8.528-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.904-23.935c0.847-1.821-1.315-2.977-2.438-3.345  c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.06-8.525,20.407-12.785,34.041-12.785  c12.146,0,22.909,5.539,32.283,16.621c9.164,10.438,13.744,21.735,13.744,33.881C259.228,163.78,234.69,198.185,185.61,231.401z"/>
					</svg>
					<div class="relative">
						<blockquote class="text-xl 2xl:text-2xl mb-6 md:mb-4">
							"Kompliment, ihr seid echt fix mit der Umsetzung von Verbesserungen, das ist Klasse!"
						</blockquote>
						<figcaption class="flex flex-col">
							<cite class="font-bold lg:text-lg">
								Angela Breyer
							</cite>
							<span class="lg:text-lg text-black text-opacity-50">
								Organisationsentwicklung
							</span>
						</figcaption>
					</div>
				</figure>
				<figure class="p-8 relative">
					<svg width="90" height="90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310.284 310.284" class="text-white fill-current absolute -left-2 -top-2 2xl:-left-6 2xl:-top-8 w-16 h-16 md:w-22 md:h-22 2xl:w-24 2xl:h-24">
						<path d="M155.142,0C69.597,0,0,69.597,0,155.142s69.597,155.142,155.142,155.142s155.142-69.597,155.142-155.142  S240.688,0,155.142,0z M79.171,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945  c8.529-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.903-23.935c0.847-1.821-1.315-2.977-2.438-3.345  c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.059-8.525,20.407-12.785,34.041-12.785  c12.146,0,22.909,5.539,32.283,16.621c9.165,10.438,13.744,21.735,13.744,33.881C152.789,163.78,128.251,198.185,79.171,231.401z   M185.61,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945  c8.528-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.904-23.935c0.847-1.821-1.315-2.977-2.438-3.345  c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.06-8.525,20.407-12.785,34.041-12.785  c12.146,0,22.909,5.539,32.283,16.621c9.164,10.438,13.744,21.735,13.744,33.881C259.228,163.78,234.69,198.185,185.61,231.401z"/>
					</svg>
					<div class="relative">
						<blockquote class="text-xl 2xl:text-2xl mb-6 md:mb-4">
							"Die Urlaubsverwaltung wird sowohl von den Kollegen als auch von der Geschäftsleitung sehr gut angenommen und auch Kollegen, die sich ansonsten schwer tun mit jeglichen Anwendungen, hatten keine Probleme."
						</blockquote>
						<figcaption class="flex flex-col">
							<cite class="font-bold lg:text-lg">
								Frank Rheinfelder
							</cite>
							<span class="lg:text-lg text-black text-opacity-50">
								Betriebswirt / Bilanzbuchhalter
							</span>
						</figcaption>
					</div>
				</figure>
			</div>
		</div>

		<div class="mt-24 w-full max-w-screen-xl mx-auto px-4 xl:px-2">
			{{> partials/price }}
		</div>

		<div class="pb-8 md:pb-32"></div>
	</div>
</main>
