---
layout: layout-subpage
backgroundColor: bg-sky-50
navigation:
  activeItem: preis
stylesheets:
  - /static/css/faq.css
title: Preis der urlaubsverwaltung.cloud
description: Open Source, on Premise oder in der Cloud für den besten Preis
---

<div class="mb-16 md:mb-24">
	{{> partials/price }}
</div>

{{> partials/faq category="price" }}
