---
layout: layout-subpage
backgroundColor: bg-sky-50
navigation:
  activeItem: preis
stylesheets:
  - /static/css/faq.css
title: Preis der urlaubsverwaltung.cloud
description: Open Source, on Premise oder in der Cloud für den besten Preis
---

<div class="mb-16 md:mb-24">
	{{> partials/price }}
</div>

		<div>
			<h2 class="mt-8 text-2xl font-bold mb-6" id="live-demo">
				Du hast noch letzt Fragen? Vereinbare einfach einen Termin.
			</h2>

			<!-- Calendly Inline-Widget Beginn -->
			<div class="calendly-inline-widget" data-url="https://calendly.com/andreas-weigel/demo" style="min-width:320px;height:700px;"></div>
			<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
			<!-- Calendly Inline-Widget Ende -->
		</div>
	</div>

{{> partials/faq category="price" }}
