---
layout: layout
backgroundColor: bg-lightBlue-50
---

{{> partials/navigation active="preis" }}

<main class="flex-1 mt-4 md:mt-16 2xl:mt-32 mb-32 pb-12 sm:pb-32 md:pb-24 w-full max-w-screen-xl mx-auto">
  <div class="px-4">
    {{> partials/price }}
  </div>
</main>
