---
layout: layout-subpage
backgroundColor: bg-sky-50
navigation:
  activeItem: preis
stylesheets:
  - /static/css/faq.css
---

<div class="mb-16 md:mb-24">
	{{> partials/price }}
</div>

{{> partials/faq }}
