---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
baseUrl: https://urlaubsverwaltung.cloud
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all -%}
  {%- set isDraft = ('page.data.draft' if page.data.draft === true else false) -%}
  {%- if isDraft === false -%}
  {% if page.date | IsNotPublishedBoolean %}
    <url>
      <loc>{{ baseUrl }}{{ page.url | url }}</loc>
      <lastmod>{{ page.date.toISOString() }}</lastmod>
      <changefreq>{{ page.data.changeFreq if page.data.changeFreq else "monthly" }}</changefreq>
    </url>
  {%- endif -%}
  {%- endif -%}
  {%- endfor -%}
</urlset>
