<p class="mb-4 text-black text-opacity-80">
	Deine Frage wird hier nicht beantwortet?
</p>
<p class="mb-4 text-black text-opacity-80">
	Schreibe uns eine E-Mail oder rufe uns an. Wir helfen dir gerne weiter.
</p>
<ul>
	<li class="text-sky-800 text-opacity-80 flex items-center mb-1">
		{{>partials/icon-mail class="w-4 h-4"}} <span class="sr-only">E-Mail:</span> <a href="mailto:info@urlaubsverwaltung.cloud" class="ml-1.5 text-sky-800 text-opacity-80 hover:text-opacity-100">info@urlaubsverwaltung.cloud</a><br />
	</li>
	<li class="text-sky-800 text-opacity-80 flex items-center">
		{{>partials/icon-phone class="w-4 h-4"}} <span class="sr-only">Telefon:</span> <a href="tel:+4972198614542" class="ml-1.5 text-sky-800 text-opacity-80 hover:text-opacity-100">+49 (721) 98614542</a>
	</li>
</ul>
