<p class="mt-2 text-center">
    <span class="inline-flex items-center justify-center px-2 py-1 mr-1 font-bold leading-none text-indigo-100 bg-indigo-700 rounded-full">Neu!</span>&nbsp;<span class="font-bold">1 Monat kostenlos</span> - Starte digital in die Sommer-Urlaubsplanung 2022!
</p>
