<div id="faq" class="w-full max-w-screen-xl mx-auto">
	<div class="flex flex-col md:flex-row xl:px-2">
		<div class="mb-20 md:mb-0 md:w-1/3 max-w-sm md:mr-10 pr-4 md:pt-1">
			<h1 class="text-2xl font-bold mb-6 md:mb-12">
				<span>
					oft gestellte Fragen
				</span>
				<span class="block md:inline xl:ml-8 lg:block break-all">
					zu urlaubsverwaltung.cloud
				</span>
			</h1>
			<div>
				{{> partials/contact-info }}
			</div>
		</div>
		<div class="flex-1 md:mb-0 bg-white rounded-2xl py-8 px-4 md:p-8">
			<input type="checkbox" name="noop" id="faq-checkbox-wirklich-kostenlos">
			<input type="checkbox" name="noop" id="faq-checkbox-nach-testphase">
			<input type="checkbox" name="noop" id="faq-checkbox-teilnehmen">
			<input type="checkbox" name="noop" id="faq-checkbox-zahlungsarten">
			<input type="checkbox" name="noop" id="faq-checkbox-sepa">
			<input type="checkbox" name="noop" id="faq-checkbox-kuendigen">
			<input type="checkbox" name="noop" id="faq-checkbox-kosten">
			<input type="checkbox" name="noop" id="faq-checkbox-jahresvertrag">
			<input type="checkbox" name="noop" id="faq-checkbox-dsgvo">
			<input type="checkbox" name="noop" id="faq-checkbox-mitarbeiter-anlegen">
			<input type="checkbox" name="noop" id="faq-checkbox-kalenderintegration">
			<input type="checkbox" name="noop" id="faq-checkbox-app">
			<input type="checkbox" name="noop" id="faq-checkbox-feedback">
			<dl>
				{{#eq category "price" "all"}}
					<dt class="group text-lg md:text-xl text-black font-semibold">
						<label tabindex="0" for="faq-checkbox-wirklich-kostenlos" class="cursor-pointer flex md:items-center text-black text-opacity-90">
								<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
									{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
								</span>
							Ist die Testphase wirklich kostenlos?
						</label>
					</dt>
					<dd data-id="faq-p-wirklich-kostenlos" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
						Ja, du kannst die Urlaubsverwaltung 30 Tage lang unverbindlich und kostenlos testen.
						Während der Testphase sind alle Funktionen der Software vollständig freigeschaltet.
					</dd>
				{{/eq}}
				{{#eq category "price" "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-nach-testphase" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Was passiert nach der kostenlosen Testphase?
					</label>
				</dt>
				<dd data-id="faq-p-nach-testphase" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Wenn du über die kostenlose Testphase hinaus weiter Interesse an der Urlaubsverwaltung hast,
					kannst du im Kundenportal deinen Status ändern und durchstarten.
					Melde dich dafür über "Login" an und wähle dann "Mein Kundenportal".
					Solltest du kein Interesse mehr haben, löschen wir deine Urlaubsverwaltung mit allen darin generierten Daten nach der Testphase.
				</dd>
				{{/eq}}
				{{#eq category "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-teilnehmen" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Wie kann ich an der kostenlosen Testphase teilnehmen?
					</label>
				</dt>
				<dd data-id="faq-p-teilnehmen" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Melde dich <a class="font-bold underline" href="https://registry.apps.urlaubsverwaltung.cloud/registration">hier</a> kostenlos an und registriere dir damit deine eigene Urlaubsverwaltung.
					Sie steht dir in wenigen Minuten zur Verfügung. Ohne Terminabsprache oder langen Wartezeiten.
				</dd>
				{{/eq}}
				{{#eq category "price" "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-zahlungsarten" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Welche Zahlungsarten gibt es?
					</label>
				</dt>
				<dd data-id="faq-p-zahlungsarten" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Du bekommst monatlich nach dem Leistungszeitraum eine Rechnung per E-Mail zugestellt.
					Diese kannst du entweder in Form einer Überweisung begleichen oder ein SEPA-Lastschriftmandat erteilen.
				</dd>
				{{/eq}}
				{{#eq category "price" "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-sepa" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Wie erteile ich ein SEPA-Lastschriftmandat?
					</label>
				</dt>
				<dd data-id="faq-p-sepa" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Gerne kannst du uns ein SEPA-Lastschriftmandat über unser Kundenportal hinterlegen.
					Melde dich dafür über den Punkt "Login" an. Danach hast du die Möglichkeit über "Mein Kundenportal" im Bereich "Mein Abo" ein SEPA-Lastschriftmandat zu hinterlegen.
				</dd>
				{{/eq}}
				{{#eq category "price" "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-kuendigen" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Welche Kündigungsfristen gelten?
					</label>
				</dt>
				<dd data-id="faq-p-kuendigen" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Kündigen kannst du mit 14 Tagen zum jeweiligen Ende eines jeden Vertragsmonats.
				</dd>
				{{/eq}}
				{{#eq category "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-kosten" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Wie viel kostet mich die Urlaubsverwaltung?
					</label>
				</dt>
				<dd data-id="faq-p-kosten" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Jeder registrierte Benutzer der den Status aktiv hat, kostet 2,00€ (zzgl.MwSt) pro Monat. Es besteht eine Mindestabnahmemenge von fünf Benutzern. Kommt ein neuer
					Benutzer während des Leistungszeitraumes hinzu, wird er für diesen Zeitraum nur anteilig abgerechnet.
					Wird ein Benutzer auf den Status inaktiv gesetzt, findet er keine Beachtung in der Rechnung ab dem darauf folgenden Leistungszeitraum.
				</dd>
				{{/eq}}
				{{#eq category "price" "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-jahresvertrag" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Gibt es einen Jahresvertrag und was kostet dieser?
					</label>
				</dt>
				<dd data-id="faq-p-jahresvertrag" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Ja, es besteht die Möglichkeit, einen Jahresvertrag abzuschließen.
					In diesem Fall gewähren wir einen Rabatt von 10%.
					Ein Jahresvertrag wird im Voraus auf Basis der zu erwartenden Nutzerzahl abgeschlossen.
					Benutzer, die während des Leistungszeitraumes hinzukommen, werden anteilig bis zum regulären Abrechnungszeitraum des Hauptvertrages abgerechnet.
					Hierfür wird eine Nachberechnung erstellt. Wird ein Benutzer auf den Status inaktiv gesetzt oder gelöscht, wird die Änderung ab dem folgenden Leistungszeitraum in der Rechnung berücksichtigt.
					Für einen Jahresvertrag wende dich bitte
					<a href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage%20Jahresvertrag"
						class="underline">
					direkt an uns</a>.
				</dd>
				{{/eq}}
				{{#eq category "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-dsgvo" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Sind meine Daten sicher? Wo werden meine Daten gespeichert?
					</label>
				</dt>
				<dd data-id="faq-p-dsgvo" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Deine Daten werden DSGVO-konform verarbeitet und in Deutschland verschlüsselt gespeichert. Wir erstellen täglich ein Backup.
				</dd>
				{{/eq}}
				{{#eq category "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-mitarbeiter-anlegen" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Wie lege ich Mitarbeiter an? Kann ich meine Mitarbeiter importieren?
					</label>
				</dt>
				<dd data-id="faq-p-mitarbeiter-anlegen" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Wenn du eine Urlaubsverwaltung registrierst bekommst von uns einen Link zu deiner eigenen Urlaubsverwaltung.
					Unter diesem Link kann sich jeder Mitarbeiter selbst registrieren. Verwendet ihr einen OpenID Connect Anbieter (wie z. B. Microsoft 365, Azure Active Directory, Auth0, Google, SAP, etc.)
					kannst du diesen im Kundenportal konfigurieren, sodass ihr euren gewohnten Login benutzen könnt.
					Eine Anleitung dazu findest du <a class="font-bold underline" href="https://urlaubsverwaltung.cloud/hilfe/sso">hier</a>.
				</dd>
				{{/eq}}
				{{#eq category "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-kalenderintegration" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Gibt es eine Kalenderintegration?
					</label>
				</dt>
				<dd data-id="faq-p-kalenderintegration" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Jeder Benutzer der Urlaubsverwaltung kann seinen eigenen Kalender, sowie einen Kalender pro Abteilung abonnieren.
					Ist der Firmen-weite Kalender freigeschaltet, lässt sich auch dieser von jedem Mitarbeiter abonnieren.
				</dd>
				{{/eq}}
				{{#eq category "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-app" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Gibt es eine Android oder iOS App?
					</label>
				</dt>
				<dd data-id="faq-p-app" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Die Urlaubsverwaltung ist für mobile Endgeräte optimiert und benötigt keine eigene App.
					Füge die Seite deiner Urlaubsverwaltung einfach dem Startbildschirm deines Handys hinzu.
				</dd>
				{{/eq}}
				{{#eq category "all"}}
				<dt class="group text-lg md:text-xl mt-8 md:mt-4 text-black font-semibold">
					<label tabindex="0" for="faq-checkbox-feedback" class="cursor-pointer flex md:items-center text-black text-opacity-90">
							<span class="mr-4 md:mr-6 text-sky-400 text-opacity-70 group-hover:text-opacity-100 mt-1">
								{{> partials/icon-plus-circle class='w-6 h-6 md:w-7 md:h-7'}}
							</span>
						Kann die Urlaubsverwaltung um eine Funktion erweitert werden?
					</label>
				</dt>
				<dd data-id="faq-p-feedback" class="mt-4 ml-10 md:ml-13 text-lg text-black text-opacity-80">
					Hast du einen Vorschlag für eine Verbesserung oder fehlt dir eine Funktion, nimm Kontakt mit uns auf.
					Schreibe uns entweder per <a class="font-bold underline" href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage%20Feature">E-Mail</a> oder öffne direkt ein Issue auf <a class="font-bold underline" href="https://github.com/urlaubsverwaltung/urlaubsverwaltung/issues">Github</a>.
				</dd>
				{{/eq}}
			</dl>
			<script>
				[...document.querySelectorAll("label[for*=faq-checkbox]")].forEach(label => {
					label.addEventListener('click', function(event) {
						event.preventDefault();
						const checkbox = document.querySelector('#' + label.getAttribute("for"));
						checkbox.checked = !checkbox.checked;
					});
					label.addEventListener('keydown', function(event) {
						if (event.key === 'Enter') {
							event.preventDefault();
							const checkbox = document.querySelector('#' + label.getAttribute("for"));
							checkbox.checked = !checkbox.checked;
						}
					});
				});
			</script>
		</div>
	</div>
</div>
