<div id="faq" class="w-full max-w-screen-xl mx-auto">
	<div class="flex flex-col md:flex-row xl:px-2">
		<div class="mb-20 md:mb-0 md:w-1/3 max-w-sm md:mr-10 pr-4 md:pt-1">
			<h1 class="text-2xl font-bold mb-6 md:mb-12">
				<span>
					oft gestellte Fragen
				</span>
				<span class="block md:inline xl:ml-8 lg:block break-all">
					zu urlaubsverwaltung.cloud
				</span>
			</h1>
			<div>
				{{> partials/contact-info }}
			</div>
		</div>
		<div class="flex-1 md:mb-0 bg-white rounded-2xl py-8 px-4 md:p-8">
			<ul class="accordion">
				{{#eq category "price" "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Ist die Testphase wirklich kostenlos?
							</summary>
							<div class="accordion-item__content">
								<p>
									Ja, du kannst die Urlaubsverwaltung 30 Tage lang unverbindlich und kostenlos testen.
									Während der Testphase sind alle Funktionen der Software vollständig freigeschaltet.
									Es folgt <b>kein</b> automatischer Abo-Vertragsabschluss.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "price" "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Was passiert nach der kostenlosen Testphase?
							</summary>
							<div class="accordion-item__content">
								<p>
									Wenn du über die kostenlose Testphase hinaus weiter Interesse an der Urlaubsverwaltung hast,
									kannst du im Kundenportal deinen Status ändern und durchstarten.
									Melde dich dafür über "Login" an und wähle dann "Mein Kundenportal".
									Solltest du kein Interesse mehr haben, löschen wir deine Urlaubsverwaltung mit allen darin generierten Daten nach der Testphase.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Wie kann ich an der kostenlosen Testphase teilnehmen?
							</summary>
							<div class="accordion-item__content">
								<p>
									Melde dich <a class="font-bold underline" href="https://registry.apps.urlaubsverwaltung.cloud/registration">hier</a> kostenlos an und registriere dir damit deine eigene Urlaubsverwaltung.
									Sie steht dir in wenigen Minuten zur Verfügung. Ohne Terminabsprache oder langen Wartezeiten.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "price" "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Welche Zahlungsarten gibt es?
							</summary>
							<div class="accordion-item__content">
								<p>
									Du bekommst monatlich nach dem Leistungszeitraum eine Rechnung per E-Mail zugestellt.
									Diese kannst du entweder in Form einer Überweisung begleichen oder ein SEPA-Lastschriftmandat erteilen.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "price" "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Wie erteile ich ein SEPA-Lastschriftmandat?
							</summary>
							<div class="accordion-item__content">
								<p>
									Gerne kannst du uns ein SEPA-Lastschriftmandat über unser Kundenportal hinterlegen.
									Melde dich dafür über den Punkt "Login" an. Danach hast du die Möglichkeit über "Mein Kundenportal" im Bereich "Mein Abo" ein SEPA-Lastschriftmandat zu hinterlegen.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "price" "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Welche Kündigungsfristen gelten?
							</summary>
							<div class="accordion-item__content">
								<p>
									Kündigen kannst du mit 14 Tagen zum jeweiligen Ende eines jeden Vertragsmonats.<br>
									Ein Jahresvertrag verlängert sich automatisch um jeweils ein Jahr, wenn nicht ein Monat vor Ablauf des
									Vertrages schriftlich gekündigt wird.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "price" "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Wie viel kostet mich die Urlaubsverwaltung?
							</summary>
							<div class="accordion-item__content">
								<p>
									Jeder Benutzende mit dem Status <i>aktiv</i>, kostet 2,00€ (zzgl. MwSt.) pro Monat. Kommen neue
									Benutzende während dem Leistungszeitraum hinzu, wird der anteilige Zeitraum abgerechnet.
								</p>
								<p>
									Werden Benutzende auf den Status <i>inaktiv</i> gesetzt oder gelöscht, wird die Änderung ab dem folgenden Leistungszeitraum in der Rechnung berücksichtigt.
								</p>
								<p>
									Es gilt eine Mindestabnahme von fünf aktiven Nutzern. Dies bedeutet, dass der monatliche Mindestpreis für die Urlaubsverwaltung bei 10,00 € (zzgl. MwSt.) liegt,
									auch wenn weniger als fünf Nutzer in deiner Organisation aktiv sind.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "price" "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Wie viel kostet mich die Zeiterfassung?
							</summary>
							<div class="accordion-item__content">
								<p>
									Zusätzlich zur Urlaubsverwaltung kannst du auch die Zeiterfassung nutzen.
									Dafür werden 2,00 € (zzgl. MwSt.) pro Monat und Nutzer berechnet.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "price" "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Gibt es einen Jahresvertrag und was kostet dieser?
							</summary>
							<div class="accordion-item__content">
								<p>
									Ja, es besteht die Möglichkeit, einen Jahresvertrag abzuschließen.
									In diesem Fall gewähren wir einen Rabatt von 10%.
									Ein Jahresvertrag wird im Voraus auf Basis der zu erwartenden Nutzerzahl abgeschlossen.
									Benutzende, die während des Leistungszeitraumes hinzukommen, werden anteilig bis zum regulären Abrechnungszeitraum des Hauptvertrages abgerechnet.
									Hierfür wird eine Nachberechnung erstellt. Werden Benutzende auf den Status inaktiv gesetzt oder gelöscht, wird die Änderung ab dem folgenden Leistungszeitraum in der Rechnung berücksichtigt.
									Für einen Jahresvertrag wende dich bitte
									<a href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage%20Jahresvertrag" class="underline">direkt an uns</a>.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Sind meine Daten sicher? Wo werden meine Daten gespeichert?
							</summary>
							<div class="accordion-item__content">
								<p>
									Deine Daten werden DSGVO-konform verarbeitet und in Deutschland verschlüsselt gespeichert. Wir erstellen täglich ein Backup.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Wie lege ich Mitarbeitende an? Kann ich Mitarbeitende importieren?
							</summary>
							<div class="accordion-item__content">
								<p>
									Wenn du eine Urlaubsverwaltung registrierst, bekommst du von uns privilegiert Rechte. Nach dem Login auf urlaubsverwaltung.cloud
									kannst du in das Kundenportal wechseln und dort die Mitarbeitenden einladen.
									Eine Anleitung dazu findest du <a class="font-bold underline" href="https://urlaubsverwaltung.cloud/hilfe/kundenportal/onboarding/">hier</a>.
									Verwendet ihr einen OpenID Connect Anbieter (wie z. B. Microsoft 365, Azure Active Directory, Auth0, Google, SAP, etc.)
									kannst du diesen im Kundenportal konfigurieren, sodass ihr euren gewohnten Login benutzen könnt.
									Eine Anleitung dazu findest du <a class="font-bold underline" href="https://urlaubsverwaltung.cloud/hilfe/kundenportal/sso/">hier</a>.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Gibt es eine Kalenderintegration?
							</summary>
							<div class="accordion-item__content">
								<p>
									Jeder Benutzende der Urlaubsverwaltung kann seinen eigenen Kalender, sowie einen Kalender pro Abteilung abonnieren.
									Ist der Firmen-weite Kalender freigeschaltet, lässt sich auch dieser von jedem Mitarbeiter abonnieren.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Gibt es eine Android- oder iOS-App?
							</summary>
							<div class="accordion-item__content">
								<p>
									Die Urlaubsverwaltung ist für mobile Endgeräte optimiert und benötigt keine eigene App.
									Möchtest du dennoch eine App verwenden, findest du die
									<a href="https://play.google.com/store/apps/details?id=cloud.urlaubsverwaltung.mobile.urlaubsverwaltung" class="font-bold underline">Android-App im Play Store</a>.
									Füge auf iOS die Seite deiner Urlaubsverwaltung einfach dem Startbildschirm deines Handys hinzu.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
				{{#eq category "all"}}
					<li>
						<details class="accordion-item">
							<summary class="accordion-item__summary">
								Kann die Urlaubsverwaltung um eine Funktion erweitert werden?
							</summary>
							<div class="accordion-item__content">
								<p>
									Hast du einen Vorschlag für eine Verbesserung oder fehlt dir eine Funktion, nimm Kontakt mit uns auf.
									Schreibe uns entweder per <a class="font-bold underline" href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage%20Feature">E-Mail</a> oder öffne direkt ein Issue auf <a class="font-bold underline" href="https://github.com/urlaubsverwaltung/urlaubsverwaltung/issues">Github</a>.
								</p>
							</div>
						</details>
					</li>
				{{/eq}}
			</ul>
		</div>
	</div>
</div>
