<div class="mb-24"></div>
<div id="header-container" class="fixed top-0 left-0 right-0 z-50">
  <div class="absolute top-0 left-0 right-0 bottom-0 backdrop-blur backdrop-saturate"></div>
  <div class="flex w-full max-w-screen-xl py-2 md:py-0 mx-auto">
    <header class="w-full flex justify-between flex-row-reverse md:flex-row p-2 md:px-4 lg:p-2">
      <a href="/" class="z-10">
        <div class="flex items-center flex-row-reverse md:flex-row">
          {{> partials/bear class='w-8 h-8 lg:w-12 lg:h-12' }}
          <h1 class="flex flex-col mr-2 md:ml-4 text-right md:text-left font-content">
            <span class="">
              urlaubsverwaltung.cloud
            </span>
            <span class="sr-only">&nbsp;</span>
            <span class="text-xs lg:text-sm text-black text-opacity-50" style="letter-spacing: -0.055em; font-weight: 400;">
              von Focus Shift Software GmbH
            </span>
          </h1>
        </div>
      </a>
      <input id="menu-toggle-checkbox" type="checkbox" class="hidden">
      <div class="flex items-center">
        <label for="menu-toggle-checkbox" class="flex items-center px-4 py-4 absolute top-2 left-0 md:hidden cursor-pointer z-50">
            <span class="tw-inline-block">
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
            </span>
        </label>
        <nav class="z-20 fixed bg-white md:static top-0 bottom-0 left-0 transition-transform transform-gpu -translate-x-full md:-translate-x-0 pt-24 pl-8 md:pt-0 lg:pl-0 w-5/6 md:w-auto shadow-2xl md:shadow-none">
          <ul role="menu" class="flex flex-col space-y-8 md:space-y-0 md:flex-row md:space-x-12 w-full md:w-auto">
            <li role="none" class="navigation-item {{#eq active "funktionen"}}active{{/eq}}">
              <a href="/#funktionen" role="menuitem" class="font-header font-semibold text-xl md:text-lg">
                Funktionen
              </a>
            </li>
            <li role="none" class="navigation-item {{#eq active "preis"}}active{{/eq}}">
              <a href="/preis" role="menuitem" class="font-header font-semibold text-xl md:text-lg">
                Preis
              </a>
            </li>
            <li role="none" class="navigation-item {{#eq active "demo"}}active{{/eq}}">
              <a href="/demo" role="menuitem" class="font-header font-semibold text-xl md:text-lg">
                Demo
              </a>
            </li>
            <li role="none" class="navigation-item navigation-item-blog {{#eq active "neuigkeiten"}}active{{/eq}}">
              <a href="/neuigkeiten" role="menuitem" class="font-header font-semibold text-xl md:text-lg">
                Neuigkeiten
              </a>
            </li>
            <li role="none" class="navigation-item navigation-item-faq {{#eq active "fragen"}}active{{/eq}}">
              <a href="/faq" role="menuitem" class="font-header font-semibold text-xl md:text-lg">
                Fragen
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="z-20 p-4 md:p-2 xl:p-0 w-5/6 md:w-auto fixed md:static top-0 left-0 transition-transform transform-gpu -translate-x-full md:-translate-x-0 flex items-center justify-end"
      >
        <a
          href="https://registry.apps.urlaubsverwaltung.cloud/login/redirect"
          class="mr-4 font-medium text-black text-opacity-75 hover:text-opacity-100 hover:underline"
        >
          Anmelden
        </a>
        <a
          href="https://registry.apps.urlaubsverwaltung.cloud/registration"
          class="md:sr-only lg:not-sr-only px-2 py-1 lg:px-2 lg:py-1 rounded font-medium bg-yellow-300 text-lightBlue-900 text-opacity-90 hover:text-opacity-100 border border-lightBlue-100 hover:border-blue-200 hover:shadow-md active:shadow"
        >
          kostenlos testen
        </a>
      </div>
    </header>
  </div>
</div>