<div class="w-full max-w-screen-xl mx-auto   bg-white p-8">
	<h2 class="text-2xl font-bold mb-6" id="preis">
		Preis
	</h2>
	<p class="text-xl mb-6 sm:mb-12">
		Preisgestaltung so einfach wie die Urlaubsverwaltung.
	</p>

	<div class="flex flex-row mt-16">
		<table class="text-lg">
			<thead>
			<tr>
				<td class="text-left px-4 pb-2"></td>
				<th class="text-left px-4 pb-2" scope="col">
					<span class="whitespace-nowrap">Open-Source-Software</span>
				</th>
				<th class="text-left px-4 pb-2" scope="col">
					urlaubsverwaltung.cloud
					<span
						class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">meistgewählt</span>
				</th>
				<th class="text-left px-4 pb-2" scope="col">
					On Premise
				</th>
			</tr>
			</thead>
			<tbody>
			<tr class="transition-colors rounded-full bg-transparent hover:bg-gray-50 border-b">
				<th scope="row" class="px-4 py-2 text-left border-r border-dashed">
					Benutzer
				</th>
				<td class="px-4 py-2 border-r border-dashed" >
					<div class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						<span class="">
										Unbegrenzt <span class="block">&nbsp;</span>
									</span>
					</div>
				</td>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						<span>
										Unbegrenzt <small class="block">1,80€ pro Monat pro registriertem Nutzer</small>
									</span>
					</div>
				</td>
				<td class="px-4 py-2 ">
					<div class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						<span>
										Unbegrenzt <span class="block">&nbsp;</span>
									</span>
					</div>
				</td>
			</tr>
			<tr class="transition-colors rounded-full bg-transparent hover:bg-gray-50 border-b">
				<th scope="row" class="px-4 py-2 text-left border-r border-dashed">
					Funktionalität
				</th>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						<span>
										Voller Funktionsumfang
									</span>
					</div>
				</td>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						<span>
										Voller Funktionsumfang
									</span>
					</div>
				</td>
				<td class="px-4 py-2">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						<span>
										Voller Funktionsumfang
									</span>
					</div>
				</td>
			</tr>
			<tr class="transition-colors rounded-full bg-transparent hover:bg-gray-50 border-b">
				<th scope="row" class="px-4 py-2 text-left border-r border-dashed">
					Sicherheitsupdates
				</th>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">
										In deiner Hand
									</span>
					</div>
				</td>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						<span>Ja</span>
					</div>
				</td>
				<td class="px-4 py-2">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">
										In deiner Hand
									</span>
					</div>
				</td>
			</tr>
			<tr class="transition-colors rounded-full bg-transparent hover:bg-gray-50 border-b">
				<th scope="row" class="px-4 py-2 text-left border-r border-dashed">
					Single Sign On
				</th>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">in deiner Hand</span>
					</div>
				</td>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						<span>
										Ja
										<span
											class="block text-sm">Google Work Space, Azure Active Directory, Open ID Connect Provider</span>
									</span>
					</div>
				</td>
				<td class="px-4 py-2">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">in deiner Hand</span>
					</div>
				</td>
			</tr>
			<tr class="transition-colors rounded-full bg-transparent hover:bg-gray-50 border-b">
				<th scope="row" class="px-4 py-2 text-left border-r border-dashed">
					Backups
				</th>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">in deiner Hand</span>
					</div>
				</td>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						<span>Ja</span>
					</div>
				</td>
				<td class="px-4 py-2">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">in deiner Hand</span>
					</div>
				</td>
			</tr>
			<tr class="transition-colors rounded-full bg-transparent hover:bg-gray-50 border-b">
				<th scope="row" class="px-4 py-2 text-left border-r border-dashed">
					Support
				</th>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">
										<a href="https://github.com/urlaubsverwaltung/urlaubsverwaltung">
											Github Community
										</a>
									</span>
					</div>
				</td>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						Ja
					</div>
				</td>
				<td class="px-4 py-2 ">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						<a href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage" aria-label="Support Anfrage">
							Individuell
						</a>
					</div>
				</td>
			</tr>
			<tr class="transition-colors rounded-full bg-transparent hover:bg-gray-50 border-b">
				<th scope="row" class="px-4 py-2 text-left border-r border-dashed">
					Onboarding
				</th>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">in deiner Hand</span>
					</div>
				</td>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						Ja
					</div>
				</td>
				<td class="px-4 py-2 ">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						<a href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage" aria-label="Support Anfrage">
							Individuell
						</a>
					</div>
				</td>
			</tr>
			<tr class="transition-colors rounded-full bg-transparent hover:bg-gray-50">
				<th scope="row" class="px-4 py-2 text-left border-r border-dashed">
					GreenIT & Optimierte Resourcennutzung
				</th>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">in deiner Hand</span>
					</div>
				</td>
				<td class="px-4 py-2 border-r border-dashed">
					<div class="flex items-center gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500'}}
						Ja
					</div>
				</td>
				<td class="px-4 py-2">
					<div class="flex items-center gap-2">
						{{> partials/icon-help-circle class='w-6 h-6 text-gray-400'}}
						<span class="text-gray-500">in deiner Hand</span>
					</div>
				</td>
			</tr>
			<tr class="transition-colors rounded-full bg-transparent hover:bg-gray-50">
				<th scope="row" class="px-4 py-2 text-left">
				</th>
				<td class="px-4 py-2">
					<div class="flex items-center gap-">
						<a href="https://github.com/urlaubsverwaltung/urlaubsverwaltung"
							 class="w-full text-center px-3 py-2 text-lg  font-medium no-underline rounded whitespace-nowrap  text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow">
							{{> partials/icon-github class='w-6 h-6 text-gray-400 inline align-sub'}}
							GitHub
						</a>
					</div>
				</td>
				<td class="px-4 py-2">
					<div class="flex items-center gap-2">
						<a
							href="https://registry.apps.urlaubsverwaltung.cloud/registration"
							class="w-full text-center px-3 py-2 text-lg font-medium no-underline rounded whitespace-nowrap bg-yellow-300 text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow"
						>
							jetzt kostenlos testen
						</a>
					</div>
				</td>
				<td class="px-4 py-2">
					<div class="flex items-center gap-2">
						<a
							href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage"
							class="w-full text-center px-3 py-2 text-lg font-medium no-underline rounded whitespace-nowrap  text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow">
							jetzt anfragen
						</a>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>
