<div class="w-full max-w-screen-xl mx-auto bg-white p-8 pb-16">
	<h2 class="text-2xl font-bold mb-6" id="preis">
		Preis
	</h2>
	<p class="text-xl mb-6 sm:mb-12">
		Preisgestaltung so einfach wie die Urlaubsverwaltung.
	</p>
	<div class="mt-16 grid grid-cols-3">
		<section class="bg-white p-8 border rounded-xl flex justify-center">
			<div>
				<h3>Open-Source-Software</h3>
				<ul class="mt-4">
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Voller Funktionsumfang
					</li>
				</ul>
				<div class="mt-4">
					<a
						href="https://github.com/urlaubsverwaltung/urlaubsverwaltung"
						class="w-full text-center px-3 py-2 text-lg font-medium no-underline rounded whitespace-nowrap text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow"
					>
						{{> partials/icon-github class='w-6 h-6 text-gray-400 inline align-sub'}}
						GitHub
					</a>
				</div>
			</div>
		</section>
		<section class="bg-white p-8 border rounded-xl scale-110 shadow-blue-100 shadow-lg">
			<div class="scale-95 -translate-y-4">
				<div class="flex flex-row gap-2">
					<h3>urlaubsverwaltung.cloud</h3>
					<span
						class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
					>
						meistgewählt
					</span>
				</div>
				<ul class="mt-4">
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Voller Funktionsumfang
					</li>
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Sicherheitsupdates
					</li>
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Single Sign On
					</li>
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Backups
					</li>
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Support
					</li>
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Onboarding
					</li>
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						GreenIT & optimierte Resourcennutzung
					</li>
				</ul>
				<div class="mt-6">
					<a
						href="https://registry.apps.urlaubsverwaltung.cloud/registration"
						class="block text-center px-3 py-2 font-medium no-underline rounded whitespace-nowrap bg-yellow-300 text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow"
					>
						jetzt kostenlos testen
					</a>
				</div>
				<p class="mt-6 flex gap-2">
					Nach 30 Tagen berechnen wir
					1,80€ pro Monat pro registriertem Nutzer
				</p>
			</div>
		</section>
		<section class="bg-white p-8 border rounded-xl flex justify-center">
			<div>
				<h3>On Premise</h3>
				<ul class="mt-4">
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Voller Funktionsumfang
					</li>
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Support
					</li>
					<li class="flex gap-2">
						{{> partials/icon-check-check class='w-6 h-6 text-cyan-500 translate-y-0.5'}}
						Onboarding Unterstützung
					</li>
				</ul>
				<div class="mt-4">
					<a
						href="mailto:info@urlaubsverwaltung.cloud?subject=Anfrage"
						class="w-full text-center px-3 py-2 text-lg font-medium no-underline rounded whitespace-nowrap  text-sky-900 text-opacity-90 hover:text-opacity-100 border border-sky-100 hover:border-blue-200 hover:shadow-md active:shadow">
						jetzt anfragen
					</a>
				</div>
			</div>
		</section>
	</div>
</div>
