<ul class="grid md:grid-cols-7 gap-4 lg:gap-7 grayscale">
	<li class="p-8 my-auto">
		<figure class="image" style="height: auto;">
			<img src="https://www.hermanns.de/fileadmin/user_upload/logos/logo_hermanns.svg" data-src="https://www.hermanns.de/fileadmin/user_upload/logos/logo_hermanns.svg"
					 data-large="https://www.hermanns.de/fileadmin/user_upload/logos/logo_hermanns.svg" data-large-ratio="" data-large-width=""
					 data-medium="https://www.hermanns.de/fileadmin/user_upload/logos/logo_hermanns.svg" data-medium-ratio="" data-medium-width=""
					 data-small="https://www.hermanns.de/fileadmin/user_upload/logos/logo_hermanns.svg" data-small-ratio="" data-small-width=""
					 data-extrasmall="https://www.hermanns.de/fileadmin/user_upload/logos/logo_hermanns.svg" data-extrasmall-ratio="" data-extrasmall-width="" title="" alt="" class="lazyload inViewPort loaded" data-preload="false" style="opacity: 1;">
			<noscript>
				<img src="https://www.hermanns.de/fileadmin/user_upload/logos/logo_hermanns.svg" title="" alt="" />
			</noscript>
		</figure>
	</li>
	<li class="p-8 my-auto">
		<img src="https://www.mathes.de/wp-content/themes/mathesrelaunch/img/logo.svg" alt="Mathes Logo" class="logo-img">
	</li>
	<li class="p-8 my-auto">
		<img width="195" height="74" src="https://www.e-consult.de/app/uploads/2018/07/logo-e.consult.svg" class="custom-logo" alt="e.Consult® AG" decoding="async">
	</li>
	<li class="p-8 my-auto">
		<img src="https://www.rummel-software.de/fileadmin/templates/new/templates/images/logo.png" alt="Rummel Software GmbH Logo" title="Rummel Software GmbH">
	</li>
	<li class="p-8 my-auto">
		<img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
				 src="https://rielfruchthandel.com/tl_files/default/files/layout/logo.jpg">
	</li>
	<li class="p-8 my-auto">
		<img src="https://le-cdn.website-editor.net/s/5c800086281144f8aecbba20b132e6e3/dms3rep/multi/opt/LWR_Recording+-+2021-05-04T104209.039-272w.png?Expires=1675145105&amp;Signature=nh8fMuZ-ykPL-zyTBLkrOpMSOUZ1knQq-LQlOPrdhGx~~XwjD2QaOiHvo3LOyAZJXFdJi0t59s3XYuiHLJ8RYrDhMjQ082vm~8QZbLRx2iStr-9AkfgXdZbqvKGYUBzpsyMDNG6gt8xUB35Nu492qREqbsf04jfqYRfOuOTaOpHStiUVwfdIHVA0~-pKS13TEQSQ3KvB7dxxDVYUX0iBfiGDQOKfn6da0gON36Suh87re-HZbepOWBkApO7fUY~EfIJCCyRLrugplLJf6lD9SMCiBX7g5DSMUnvDGtDXDs5bax8mnk90xg0~C1zGnLXfYav0mbm5wZDikUcExngV8w__&amp;Key-Pair-Id=K2NXBXLF010TJW" alt="" id="1777885789" class="" data-dm-image-path="https://cdn.website-editor.net/5c800086281144f8aecbba20b132e6e3/dms3rep/multi/LWR_Recording+-+2021-05-04T104209.039.png" height="127.109375" width="227.0">
	</li>
	<li class="p-8 my-auto">
		<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 506.9 368.6"><defs><style>.cls-1{fill:#1a1a18;}.cls-2{fill:none;}</style></defs><path class="cls-1" d="M50.7,290.5v49.9L21.2,290.5H4.2v76.3H20V318.6l29.5,48.2H66.4V290.5Z"></path><rect class="cls-2" width="506.8" height="368.6"></rect><path class="cls-1" d="M135.4,368.6c-26.1,0-38.6-19-38.6-39.7s12.5-39.7,38.6-39.7,38.6,19,38.6,39.7-12.4,39.7-38.6,39.7m21.8-39.7c0-12.8-7.7-24.4-21.8-24.4s-21.8,11.7-21.8,24.4,7.7,24.4,21.8,24.4,21.8-11.6,21.8-24.4"></path><path class="cls-1" d="M195.3,290.5v15h23.5v61.3H235V305.5h23.5v-15Z"></path><path class="cls-1" d="M306.5,309.5l7.9,24h-16Zm-8.3-19.1-27.7,76.4h16.8l6.6-19.6h25.2l6.5,19.6h16.9l-27.7-76.4Z"></path><rect class="cls-2" width="506.8" height="368.6"></rect><path class="cls-1" d="M407.8,366.8l-15.1-29.1h-7.9v29.1H368.9V290.5h21.9c19.6,0,28.5,8.7,28.5,23.4,0,16.7-11.5,20.7-11.5,20.7l18.6,32.2Zm-16-43.1c7.6,0,10.8-3.5,10.8-9.7,0-5.8-2.8-9.3-10.8-9.3h-7.1v19Z"></path><path class="cls-1" d="M454,290.5v76.3h49.1v-15H470.3V334.6h29v-15h-29v-14h31.1v-15H454Z"></path><path class="cls-1" d="M3.9,145.3v15H27.4v61.2H43.7V160.3H67.1v-15Z"></path><path class="cls-1" d="M148.4,221.6V189.4H119.7v32.2H103.4V145.4h16.3v29h28.7v-29h16.3v76.2Z"></path><rect class="cls-2" width="506.8" height="368.6"></rect><path class="cls-1" d="M242.4,223.3c-26.1,0-38.6-19-38.6-39.6S216.3,144,242.4,144,281,163,281,183.7s-12.5,39.6-38.6,39.6m21.8-39.6c0-12.8-7.7-24.4-21.8-24.4s-21.8,11.6-21.8,24.4,7.7,24.4,21.8,24.4,21.8-11.7,21.8-24.4"></path><path class="cls-1" d="M387.5,221.6l-5.3-51.2-15.4,51.2H353.3l-15.4-51.2-5.3,51.2H316.3l9-76.2h19.9l14.9,48.8L375,145.4h19.9l9,76.2Z"></path><path class="cls-1" d="M470.8,164.3l7.9,24h-16Zm-8.2-19.1-27.7,76.4h16.8l6.6-19.6h25.1l6.6,19.6h16.9l-27.7-76.4Z"></path><rect class="cls-2" width="506.8" height="368.6"></rect><path class="cls-1" d="M38.6,79.3C12.5,79.3,0,60.4,0,39.7S12.5,0,38.6,0,77.2,19,77.2,39.7,64.7,79.3,38.6,79.3M60.3,39.7c0-12.7-7.7-24.4-21.8-24.4S16.8,26.9,16.8,39.7s7.7,24.4,21.8,24.4S60.3,52.4,60.3,39.7"></path><path class="cls-1" d="M111.7,1.3V77.5h49v-15H127.9V45.3h28.9v-15H127.9v-14H159V1.3Z"></path><rect class="cls-2" width="506.8" height="368.6"></rect><path class="cls-1" d="M234.9,77.6,219.8,48.5h-7.9V77.6H196V1.3h21.9c19.5,0,28.5,8.7,28.5,23.4,0,16.7-11.5,20.7-11.5,20.7l18.6,32.1H234.9Zm-16-43.2c7.6,0,10.8-3.5,10.8-9.7,0-5.8-2.8-9.3-10.8-9.3h-7.1v19Z"></path><path class="cls-1" d="M276.1,1.3v15h23.5V77.5h16.3V16.3h23.5V1.3Z"></path><path class="cls-1" d="M371,1.3V77.5h49v-15H387.2V45.3h29v-15h-29v-14h31.1V1.3Z"></path><path class="cls-1" d="M455.4,1.3V77.5h46.9v-15H471.7V1.3Z"></path></svg>
	</li>
</ul>
