<p class="mt-2">
    <span class="inline-flex items-center justify-center px-2 py-1 mr-1 font-bold leading-none text-white bg-black rounded-full">Black friday</span>&nbsp; <span class="font-bold">3 Monate kostenlos im ersten Jahr!</span>
</p>
